<button color="primary" mat-raised-button [matMenuTriggerFor]="orderByMenu">
  <mat-icon class="fa-rotate-90">arrow_right_alt</mat-icon>
  <span fxHide.lt-sm>{{selectedViewValue}}</span>
</button>


<mat-menu #orderByMenu="matMenu">
  <button mat-menu-item
          *ngFor="let order of orderBy"
          (click)="selectedViewValue = order.viewValue; selectedValue = order.value">
    {{order.viewValue}}
  </button>
</mat-menu>

<!--<mat-form-field>-->
<!--<mat-select [(value)]="selectedValue">-->
<!--<mat-option *ngFor="let order of orderBy" [value]="order.value">-->
<!--{{order.viewValue}}-->
<!--</mat-option>-->
<!--</mat-select>-->
<!--</mat-form-field>-->
