mat-sidenav-container {
  background-color: white;
  margin-top: -16px;
  padding-top: 16px;
  min-height: 90vh;
}

mat-sidenav {
  width: 352px;

  .container {
    padding: 16px;
  }
}


mat-sidenav-content {
  padding: 0 8px;
  height: 100%;

  button {
    height: 40px;
  }
}

mat-sidenav h3 {
  margin-bottom: 4px;
}

.hide {
  display: none !important;
}

::ng-deep app-offer-selection-process .mat-step-header .mat-step-icon-selected,
app-offer-selection-process mat-step-header .mat-step-icon-state-done,
app-offer-selection-process mat-step-header .mat-step-icon-state-edit{
  background-color: #1de9b6 !important;
}

::ng-deep app-offer-selection-process mat-step-header .mat-step-icon-state-edit,
app-offer-selection-process mat-step-header .mat-step-icon-state-done {
  background-color: #1de9b6 !important;
}
