<div fxFlex="100%" fxLayout="column">
  <div style="margin: 8px 0 32px 16px">
    <h2 class="mat-h1">Selection process for <span>{{offer ? offer.title : ''}}</span></h2>
  </div>
  <mat-sidenav-container>

    <mat-sidenav-content fxLayoutAlign="center">

      <div [ngClass]="{'hide': showStepper}" fxFlex="100%" fxLayout="row" fxLayoutAlign="center center">
        <mat-spinner></mat-spinner>
      </div>

      <mat-horizontal-stepper
        #stepper
        *ngIf="(offerState | async).offer"
        [ngClass]="{'hide': !showStepper}"
        fxFlex="100%" fxFlex.gt-lg="80%"
        linear>
        <mat-step [completed]="firstStepOkay" [editable]="!firstStepCompletion">
          <form [formGroup]="selectFormGroup">
            <ng-template matStepLabel>Select your candidates</ng-template>
            <!--<div-->
            <!--fxLayout="row"-->
            <!--fxLayoutAlign="center"-->
            <!--fxLayoutGap="8px">-->
            <!--<app-searchbar-->
            <!--fxFlex="40%" fxFlex.lt-lg="60%" (search)="onSearch($event)">-->
            <!--</app-searchbar>-->
            <!--<app-orderby-button style="padding-top: 4px"></app-orderby-button>-->
            <!--<div style="padding-top: 4px">-->
            <!--<button color="primary"-->
            <!--fxHide.gt-sm-->
            <!--mat-raised-button>-->
            <!--<mat-icon (click)="drawer.toggle()" aria-label="Open filters" svgIcon="filter-list"></mat-icon>-->
            <!--</button>-->
            <!--</div>-->
            <!--</div>-->

            <!-- ALL ENROLLED CANDIDATES -->
            <div fxLayout="column">
              <div *ngIf="
                    (manageOfferState | async).selection &&
                    (manageOfferState | async).selection.all &&
                    (manageOfferState | async).selection.all.length === 0 &&
                    (manageOfferState | async).selection.faved &&
                    (manageOfferState | async).selection.faved.length === 0; else candidates"
                   fxLayout="column">
                <div fxLayout="row">
                  <p *ngIf="!firstStepOkay">No candidates have applied the current offer or all of them have refused the
                    selection. Do you want to close the offer?
                  </p>
                  <p *ngIf="firstStepOkay">There are no other applications for this offer, continue with the following
                    steps with the previously selected ones.
                  </p>
                </div>
              </div>
              <ng-template #candidates>
                <div fxLayout="row">
                  <p>The following candidates have applied for the offer. You now have to
                    choose {{(offerState | async).offer.maxApplicants}}
                    candidate{{(offerState | async).offer.maxApplicants > 1 ? 's' : ''}}.
                    You have selected <strong>{{currentSelected}}</strong> candidates out of
                    <strong>{{(offerState | async).offer.maxApplicants}}</strong>
                    positions.
                  </p>
                </div>
                <div fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign="center" fxLayoutGap="36px"
                     style="padding-top: 32px">
                  <div
                    fxFlex="50"
                    fxFlex.lt-lg="100"
                    fxFlexOrder="2"
                    fxFlexOrder.lt-lg="1"
                    fxLayout="column"
                    fxLayoutAlign="start center"
                    fxLayoutGap="24px">
                    <h2 class="mat-h2">Favourites</h2>
                    <div
                      *ngIf="
                    (manageOfferState | async).selection &&
                    (manageOfferState | async).selection.faved"
                      fxLayout="column"
                      fxLayoutGap="24px">
                      <div *ngIf="(manageOfferState | async).selection.faved.length > 0; else selectFavs"
                           fxLayout="column"
                           fxLayoutGap="24px">
                        <app-candidate-preview-card
                          (changeFaved)='isFaved($event, user)'
                          (changeRejected)="isRejected($event, user)"
                          (changeSelected)="isSelected($event, user)"
                          *ngFor="let user of (manageOfferState | async).selection.faved;"
                          [user]="user" selectionMode="true">
                        </app-candidate-preview-card>
                      </div>
                      <ng-template #selectFavs>
                        <p>You can add Favourite applications so that it's easier to go through them.</p>
                      </ng-template>
                    </div>
                  </div>
                  <div
                    fxFlex="50"
                    fxFlex.lt-lg="100"
                    fxFlexOrder="1"
                    fxFlexOrder.lt-lg="2"
                    fxLayout="column"
                    fxLayoutAlign="start center"
                    fxLayoutGap="24px">
                    <h2 class="mat-h2">All Candidates</h2>
                    <div
                      *ngIf="
                    (manageOfferState | async).selection &&
                    (manageOfferState | async).selection.all"
                      fxLayout="column"
                      fxLayoutGap="24px">
                      <div *ngIf="(manageOfferState | async).selection.all.length > 0; else noAll"
                           fxFlex="100%"
                           fxLayout="column"
                           fxLayoutGap="24px">
                        <app-candidate-preview-card
                          (changeFaved)='isFaved($event, user)'
                          (changeRejected)="isRejected($event, user)"
                          (changeSelected)="isSelected($event, user)"
                          *ngFor="let user of (manageOfferState | async).selection.all;"
                          [user]="user" selectionMode="true">
                        </app-candidate-preview-card>
                      </div>
                      <ng-template #noAll>
                        <p>You have faved all the available candidates.</p>
                      </ng-template>
                    </div>
                  </div>
                </div>
              </ng-template>
            </div>
            <div fxLayoutAlign="end end" style="margin-top: 16px">
              <button (click)="closeSelectionProcess()"
                      color="primary"
                      mat-raised-button>
                Close Offer
              </button>
              <button [disabled]="!firstStepOkay" color="accent" mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [completed]="secondStepOkay" [editable]="!secondStepCompletion">
          <form [formGroup]="waitFormGroup" fxLayout="column" fxLayoutGap="16px">
            <ng-template matStepLabel>Wait for their acceptance</ng-template>
            <div fxFlex="100%" fxLayout="column">
              <p>Here you can see the state of all the selections. If there are spots free, you can go to the previous
                step to select more.</p>
              <div
                *ngIf="
                    (manageOfferState | async).selection &&
                    (manageOfferState | async).selection.selected &&
                    (manageOfferState | async).selection.selected.length > 0"
                fxLayout="column"
                fxLayoutGap="24px"
                style="margin-top: 24px; width: 100%">
                <h2 class="mat-h2">Selected</h2>
                <app-candidate-preview-card
                  (changeRejected)="isRejected($event, user)"
                  *ngFor="let user of (manageOfferState | async).selection.selected;"
                  [applicationStatus]="user.applicationStatus"
                  [user]="user" fxLayoutAlign="center center">
                </app-candidate-preview-card>
              </div>
              <div
                *ngIf="
                    (manageOfferState | async).selection &&
                    (manageOfferState | async).selection.accepted &&
                    (manageOfferState | async).selection.accepted.length > 0"
                fxLayout="column"
                fxLayoutGap="24px"
                style="margin-top: 36px">
                <h2 class="mat-h2">Accepted</h2>
                <app-candidate-preview-card
                  *ngFor="let user of (manageOfferState | async).selection.accepted;"
                  [applicationStatus]="user.applicationStatus"
                  [user]="user" fxLayoutAlign="center center">
                </app-candidate-preview-card>
              </div>
              <div
                *ngIf="
                    (manageOfferState | async).selection &&
                    (manageOfferState | async).selection.refused &&
                    (manageOfferState | async).selection.refused.length > 0"
                fxLayout="column"
                fxLayoutGap="24px"
                style="margin-top: 36px">
                <h2 class="mat-h2">Refused</h2>
                <app-candidate-preview-card
                  *ngFor="let user of (manageOfferState | async).selection.refused;"
                  [applicationStatus]="user.applicationStatus"
                  [user]="user" fxLayoutAlign="center center">
                </app-candidate-preview-card>
              </div>
            </div>
            <div fxFlex="100%" fxLayout="row" fxLayoutAlign="end end">
              <button [disabled]="firstStepCompletion" mat-button matStepperPrevious>Back</button>
              <button [disabled]="!secondStepOkay" color="accent" mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [completed]="secondStepCompletion" editable="false">
          <ng-template matStepLabel>Done!</ng-template>
          <div
            fxLayout="column"
            fxLayoutAlign="center center"
            fxLayoutGap="24px"
            style="margin-top: 36px">
            <p>
              Congratulations! You've finally reached the end of the selection process!
              You've ended up choosing the following candidate(s)!
            </p>
            <div
              *ngIf="
                    (manageOfferState | async).selection &&
                    (manageOfferState | async).selection.accepted &&
                    (manageOfferState | async).selection.accepted.length > 0"
              fxLayout="column"
              fxLayoutGap="24px">
              <app-candidate-preview-card
                *ngFor="let user of (manageOfferState | async).selection.accepted;"
                [applicationStatus]="user.applicationStatus" [user]="user">
              </app-candidate-preview-card>
            </div>
          </div>
          <br>
          <br>
          <div fxLayoutAlign="end end">
            <button [disabled]="secondStepCompletion" mat-button matStepperPrevious>Back</button>
            <button (click)="closeSelectionProcess()" color="primary" mat-raised-button>Close Offer</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>

      <!--<div *ngIf="(adminState | async).candidates" fxLayoutGap="8px" fxLayoutAlign="center center" fxLayout="column">-->
      <!--<app-candidate-preview-card *ngFor="let user of (adminState | async).candidates.data;" [user]="user">-->
      <!--</app-candidate-preview-card>-->
      <!--</div>-->

      <!--<div *ngIf="!(adminState | async).candidates" fxLayoutGap="8px" fxLayoutAlign="center center" fxLayout="column">-->
      <!--<h4 class="mat-h3">No results found.</h4>-->
      <!--<p class="mat-typography">Your search returned no results. Try shortening or rephrasing your search.</p>-->
      <!--</div>-->


      <!--<mat-paginator *ngIf="(adminState | async).candidates" (page)="pageEvent = $event;  changePage();"-->
      <!--[length]="(adminState | async).candidates.total"-->
      <!--[pageSizeOptions]="pageSizeOptions"-->
      <!--[pageSize]="pageSize">-->
      <!--</mat-paginator>-->
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
