<div *ngIf="(store$ | async).offerManage && (store$ | async).offerManage.offers.length > 0"
     fxFlex="92%"
     fxFlex.gt-sm="60%"
     fxFlexOffset="4%"
     fxLayout="column"
     fxLayoutGap="16px">
  <h2 style="margin-bottom: 0">
    Open Offers
  </h2>
  <p>Here you can see all the open positions available right now.</p>
  <app-offer-preview-card *ngFor="let offer of (store$ | async).offerManage.offers" [offer]="offer">

  </app-offer-preview-card>

  <mat-paginator
    (page)="pageEvent = $event; changePage();"
    [length]="(store$ | async).offerManage.count[2].Open"
    [pageSizeOptions]="pageSizeOptions"
    [pageSize]="pageSize">
  </mat-paginator>
</div>
