<div
  style="position: relative;">

<div fxLayout="column"
     fxFlex="100%"
     class="container"
     [ngStyle.lt-sm]="{'margin': '0'}"
     [ngStyle]="{'margin': '0 16px'}">
  <div fxLayout="row"
       fxLayoutAlign="center center">
    <h2 class="mat-h1">Kwee Live</h2>
  </div>
  <div
    fxLayout="row"
    fxLayout.lt-sm="column"
    fxFlex="100%"
    fxLayoutAlign="center start"
    fxLayoutAlign.lt-sm="center center"
    fxLayoutGap.lt-sm="16px">
    <div
      fxLayout="column"
      fxLayoutAlign="center center"
      style="margin: 30px 0; position: relative;">
        <canvas
        id="kweelive"
        width="700px"
        height="700px"></canvas>
        <mat-spinner *ngIf="getAllow()"></mat-spinner>
      <app-mini-offer
        *ngIf="getShowCard()"
        [@EnterLeave]
        id="miniOffer"
        [index]="50"
        [id]="240"
        [name]="'Facebook'"
        [offer]="'Direct Accountability Specialist'"
        [location]="'Alicante'"
        [work]="'Full-Time'"
        [image]="'image'"
        [url]="'akjbdsabksadb'"></app-mini-offer>
    </div>
    <div
      fxLayout="column"
      fxLayout.lt-sm="row"
      fxLayoutAlign="start start"
      fxLayoutGap="16px">
        <button mat-raised-button (click)="drawHollow()" color="primary" [disabled]="getAllow()">Draw Solid</button>
        <button mat-raised-button (click)="draw()" color="primary" [disabled]="getAllow()">Draw Texture</button>
        <button mat-raised-button (click)="drawLine()" color="primary" [disabled]="getAllow()">Draw Arc</button>
        <button mat-raised-button (click)="drawParticles()" color="primary" [disabled]="getAllow()">Draw Particles</button>
        <button mat-raised-button (click)="rotate()" color="primary" [disabled]="getAllow()">Rotate to Madrid</button>
        <button mat-raised-button (click)="interactive()" color="primary" [disabled]="getAllow()">Interactive world</button>
        <button mat-raised-button (click)="changeShowCard()" color="primary" [disabled]="getAllow()">Toggle card</button>
        <button mat-raised-button (click)="reset()" color="warn" [disabled]="getAllow()">Reset</button>
    </div>
  </div>
</div>
</div>
