@import "~src/common-utils";
@import '../../../node_modules/@angular/material/theming';

* {
  font-family: IBM Plex Sans, sans-serif;
}

canvas{
  position: relative;
}

mat-spinner{
  z-index: 10;
  position: absolute;
}

