<mat-card fxFlex="100%" fxFlex.gt-md="712px" fxFlex.gt-sm="656px" fxFlex.gt-xs="600px">
  <mat-card-header
    fxLayout="row"
    fxLayout.lt-sm="column"
    fxLayoutAlign="space-between">

    <mat-card-title
      [routerLink]="offerUrl"
      style="cursor: pointer">
      {{offer.title}}
    </mat-card-title>

    <mat-card-subtitle>
      <app-offerer-name-overview
        [index]="offer.offererIndex"
        [name]="offer.offererName"
        [routerLink]="urlOfferer()"
        style="cursor: pointer">
      </app-offerer-name-overview>
    </mat-card-subtitle>
    <div
      class="quickInfo"
      fxFlexAlign="start start"
      fxLayout="row"
      fxLayoutGap="16px">
      <app-icon-with-text [text]="getOfferLocation()" icon="place"></app-icon-with-text>
      <app-icon-with-text [text]="getPublishedDate()" icon="access-time"></app-icon-with-text>
    </div>
  </mat-card-header>

  <mat-card-content>
    <img
      [src]="getImg()"
      alt="Business Logo"
      height="88px"
      width="88px">
    <span [innerHTML]="getDescription()">
    </span>
  </mat-card-content>

  <mat-card-actions
    fxLayout="row" fxLayout.lt-sm="column"
    fxLayoutAlign="center center"
    fxLayoutGap="24px" fxLayoutGap.lt-sm="16px">
    <div
      fxLayout="row"
      fxLayout.lt-sm="column"
      fxLayoutAlign="center center"
      fxLayoutGap="16px">
      <div fxLayout="row" fxLayoutGap="16px">
        <app-icon-with-text [text]="getOfferDuration()" icon="date-range"></app-icon-with-text>
        <app-icon-with-text [text]="getOfferContractType()" icon="work"></app-icon-with-text>
        <app-icon-with-text [text]="getOfferSalary()" icon="local-atm"></app-icon-with-text>
      </div>
      <div>
        <button [routerLink]="urlfyDetail()" color="accent" mat-button>{{'More Info' | uppercase }}</button>
        <button (click)="openShareDialog()" mat-icon-button>
          <mat-icon aria-label="Share offer in social networks" color="accent" svgIcon="share"></mat-icon>
        </button>
      </div>
    </div>
  </mat-card-actions>

  <mat-card-actions
    *ngIf="this.offer.status === 1 && ((!candidate && this.offer.applications && this.offer.applications.length > 0) || (candidate && this.offer.applicationStatus === 3 && !this.offer.aHasRated))"
    fxLayout="row" fxLayout.lt-sm="column"
    fxLayoutAlign="end center"
    fxLayoutGap="24px" fxLayoutGap.lt-sm="16px">
    <div fxLayout="row"
         fxLayoutAlign="end center">
      <p *ngIf="!candidate">Click to rate the candidate</p>
      <p *ngIf="candidate">Click to rate the offerer</p>
      <button (click)="rate()" color="primary" mat-raised-button>{{'Rate'}}</button>
    </div>
  </mat-card-actions>

  <mat-card-actions
    *ngIf="this.offer.status === 1 && ((candidate && this.offer.applicationStatus === 3 && this.offer.aHasRated))"
    fxLayout="row" fxLayout.lt-sm="column"
    fxLayoutAlign="end center">
    <div fxLayout="row"
         fxLayoutAlign="end center"
         fxLayoutGap="8px">
      <p *ngIf="!candidate">You have already rated the candidates</p>
      <p *ngIf="candidate">You have already rated the offerer</p>
      <mat-icon color="accent" svgIcon="check-circle"></mat-icon>
    </div>
  </mat-card-actions>

  <mat-card-actions
    *ngIf="!candidate && offer.status === 3"
    fxLayout="row" fxLayout.lt-sm="column"
    fxLayoutAlign="end center"
    fxLayoutGap="24px" fxLayoutGap.lt-sm="16px">
    <div fxLayout="row"
         fxLayoutAlign="end center">
      <p>All applications received!</p>
      <button [routerLink]="'/my-offers/' + offer.id + '/selection'" color="primary"
              mat-raised-button>{{'Go to Selection'}}</button>
    </div>
  </mat-card-actions>

  <mat-card-actions
    *ngIf="!candidate && offer.status === 0 && (authState | async).user && offer.fk_offerer === (authState | async).user.id"
    fxLayout="row" fxLayout.lt-sm="column"
    fxLayoutAlign="end center"
    fxLayoutGap="24px" fxLayoutGap.lt-sm="16px">
    <div fxLayout="row"
         fxLayoutAlign="end center">
      <p>Do you want to start the selection process?</p>
      <button (click)="startSelectionProcess()" color="primary" mat-raised-button>{{'Start Selection'}}</button>
    </div>
  </mat-card-actions>

  <mat-card-actions
    *ngIf="this.offer.status === 3 && candidate && this.offer.applicationStatus === 2"
    fxLayout="row" fxLayout.lt-sm="column"
    fxLayoutAlign="end center"
    fxLayoutGap="24px" fxLayoutGap.lt-sm="16px">
    <div fxLayout="row"
         fxLayoutAlign="end center">
      <p *ngIf="candidate">You have been selected! What do you want to do?</p>
      <button (click)="reject()" color="warn" mat-raised-button>{{'Reject' | uppercase }}</button>
      <button (click)="accept()" color="accent" mat-raised-button>{{'Accept' | uppercase }}</button>
    </div>
  </mat-card-actions>

  <div
    *ngIf="(this.offer.status === 3 || this.offer.status === 1) && candidate && this.offer.applicationStatus === 4"
    fxLayout="row"
    fxLayoutAlign="end center"
    fxLayoutGap="16px">
    <p>You have rejected your selection to this offer!</p>
    <mat-chip-list>
      <mat-chip color="warn" selected>Rejected</mat-chip>
    </mat-chip-list>
  </div>

  <div
    *ngIf="(this.offer.status === 3 || this.offer.status === 1) && candidate && this.offer.applicationStatus === 3"
    fxLayout="row"
    fxLayoutAlign="end center"
    fxLayoutGap="16px">
    <p>You have accepted your selection to this offer!</p>
    <mat-chip-list>
      <mat-chip color="accent" selected>Accepted</mat-chip>
    </mat-chip-list>
  </div>


</mat-card>
