@import "../../../common-utils";
@import '../../../../node_modules/@angular/material/theming';

mat-card-title {
  margin-top: -4px;
  font-size: 1.5rem !important;
}

::ng-deep app-offer-preview-card .mat-card-header-text {
  margin: 0 8px;
}

app-icon-with-text {
  font-size: 0.85rem;
  color: mat-color($mat-blue-gray, 700);
}

img {
  border-radius: 5px;
  margin-right: 16px;
  object-fit: cover;
  float: left;
}

::ng-deep app-offer-preview-card mat-card-content {
  min-height: 72px;

  span p {
    margin-top: 0;
    font-size: 0.9rem;
  }

  span {
    margin-top: 0;
    font-size: 0.9rem;
  }
}

@media all and (max-width: ($phone - 1px)) {
  .quickInfo {
    margin-left: 8px;
    margin-top: -4px;
    margin-bottom: 16px !important;
  }

  .example-card {
    max-width: 88%;
  }


  ::ng-deep app-offer-preview-card mat-card-content {
    min-height: 80px;
  }
}

mat-card-actions p{
  margin: 0;
}

mat-card-actions:nth-child(1){
  padding-top: 0;
}
