<div fxLayout="row"
     fxLayoutAlign="center center"
     style="height: 100%">
  <div fxFlex="90%" fxFlex.gt-sm="70%" fxFlex.gt-md="60%" fxFlex.gt-lg="50%"
       fxLayout="column" fxLayout.gt-xs="row"
       fxLayoutGap.gt-xs="16px"
       style="margin-bottom: 48px;">
    <div fxLayout="column"
         fxLayoutAlign="center center"
         fxFlex.lt-sm="100%"
         fxFlex="30%"
         fxFlexOrder.lt-sm="2">
      <img class="errorImg"
           [src]="getGif()"
           alt="not found gif"
           style="padding-top: 48px"/>
    </div>
    <div fxLayout="column"
         fxLayoutAlign="center center"
         fxFlex.lt-sm="100%"
         fxFlex="70%"
         class="errorDisplay">
      <div>
        <h2 class="errorCode">{{errorNum}}</h2>
        <p class="mat-body errorMessage" [innerHTML]="errorMessage"></p>
        <p class="mat-body errorMessage" *ngIf="errorNum === 403">
          <br>
          [<a>judges you in spanish
          <div>
            <img
              src="https://img.buzzfeed.com/buzzfeed-static/static/2016-12/14/15/enhanced/buzzfeed-prod-fastlane03/anigif_enhanced-31625-1481745994-2.gif"
              alt="judges you in spanish meme gif"></div>
        </a>]
        </p>
      </div>
    </div>
  </div>
</div>
