<div fxLayout="row"
     fxLayoutAlign="center center"
     style="height: 100%">
  <div fxFlex="90%" fxFlex.gt-lg="50%" fxFlex.gt-md="60%" fxFlex.gt-sm="70%"
       fxLayout="column" fxLayout.gt-xs="row"
       fxLayoutGap.gt-xs="16px"
       style="margin-bottom: 48px;">
    <div fxFlex="30%"
         fxFlex.lt-sm="100%"
         fxFlexOrder.lt-sm="2"
         fxLayout="column"
         fxLayoutAlign="center center">
      <img [src]="getGif()"
           alt="not found gif"
           class="errorImg"
           style="padding-top: 48px"/>
    </div>
    <div class="errorDisplay"
         fxFlex="70%"
         fxFlex.lt-sm="100%"
         fxLayout="column"
         fxLayoutAlign="center center">
      <div>
        <h2 class="errorCode">{{errorNum}}</h2>
        <p [innerHTML]="errorMessage" class="mat-body errorMessage"></p>
        <p *ngIf="errorNum === 403" class="mat-body errorMessage">
          <br>
          [<a>judges you in spanish
          <div>
            <img
              alt="judges you in spanish meme gif"
              src="https://img.buzzfeed.com/buzzfeed-static/static/2016-12/14/15/enhanced/buzzfeed-prod-fastlane03/anigif_enhanced-31625-1481745994-2.gif">
          </div>
        </a>]
        </p>
      </div>
    </div>
  </div>
</div>
