<mat-card fxFlexOffset="16dp" fxLayout="row" fxFlex="100%">
  <form fxFlex="100%">
    <mat-form-field fxFlex="100%">
      <input
        [formControl]="myControl"
        [matAutocomplete]="auto"
        aria-label="Number"
        matInput
        type="text">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
      <mat-icon matSuffix svgIcon="search"></mat-icon>
    </mat-form-field>
  </form>
</mat-card>

