<div fxLayout="row" fxLayout.gt-sm="16px" fxLayoutGap="8px">
  <mat-card fxFlex="60%" fxFlexOffset="16dp" fxLayout="row" fxLayoutGap="8px">
    <form fxFlex="80%" fxFlex.gt-sm="95%">
      <mat-form-field fxFlex="100%">
        <input
          [formControl]="myControl"
          [matAutocomplete]="auto"
          aria-label="Number"
          matInput
          type="text">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
    <button color="primary" mat-icon-button>
      <mat-icon matSuffix svgIcon="search"></mat-icon>
    </button>
  </mat-card>
  <button color="primary" mat-raised-button>
    <mat-icon svgIcon="filter-list"></mat-icon>
    <span fxHide.lt-sm>Filter</span>
  </button>
  <button mat-raised-button>
    <mat-icon class="fa-rotate-90" color="primary">arrow_right_alt</mat-icon>
    <span fxHide.lt-sm>Relevance</span>
  </button>
</div>
