<h2 class="mat-h1">Upgrade to premium</h2>

<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap.lt-sm="16px">

  <mat-card
    fxFlex="40" fxFlexOffset.gt-xs="32px">
    <mat-card-subtitle style="text-align: center">Active account type:</mat-card-subtitle>
    <mat-card-title style="text-align: center">
      Basic
    </mat-card-title>
    <hr>
    <mat-card-content>
      <mat-list>
        <mat-list-item><p>Only 5 concurrent applications.</p></mat-list-item>
        <mat-list-item><p>Cannot upload files to complete your profile.</p></mat-list-item>
        <mat-list-item><p>Limit access to highlighted profiles section.</p></mat-list-item>
      </mat-list>
      <br><br><br>
      <h3 class="mat-h2" fxLayoutAlign="center"> FREE </h3>

    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center end">
      <button *ngIf="premium === 0"
              color="primary"
              disabled=""
              mat-raised-button
              style="color: white; margin-bottom: 16px" type="button">Current plan
      </button>

      <button *ngIf="premium === 1"
              (click)="alert()"
              color="warn"
              mat-raised-button
              style="color: white; margin-bottom: 16px">
        Downgrade
      </button>
    </mat-card-actions>
  </mat-card>


  <mat-card
    class="card" fxFlex="50" fxFlexOffset.gt-xs="32px">
    <div class="top">
      <mat-card-subtitle style="text-align: center; color: white;">Upgrade:</mat-card-subtitle>
      <mat-card-title style="text-align: center">
        Premium
      </mat-card-title>
      <!--<hr>-->
    </div>


    <mat-card-content class="content">
      <mat-list>
        <mat-list-item><p>Unlimited concurrent applications.</p></mat-list-item>
        <mat-list-item><p>Upload files to complete your profile.</p></mat-list-item>
        <mat-list-item><p>Access to highlighted profiles section.</p></mat-list-item>
        <mat-list-item><p>Help us maintain the platform.</p></mat-list-item>
      </mat-list>
      <br>
      <h3 class="mat-h2" fxLayoutAlign="center"> 5,99€/month </h3>

    </mat-card-content>
    <mat-card-actions class="ft" fxLayoutAlign="center center">
      <button
       *ngIf="premium === 0"
        (click)="callPaypalDialog(1, 'Subscribe to premium', '5.99€')"
        color="accent"
        mat-raised-button
        style="color: white; margin-bottom: 16px">
        Upgrade
      </button>

      <button *ngIf="premium === 1"
              color="accent"
              mat-raised-button
              style="color: white; margin-bottom: 16px"
              disabled="">
        Current plan
      </button>
    </mat-card-actions>

  </mat-card>

</div>
