<mat-toolbar class="container footer" color="primary"
             fxFlex="grow"
             fxLayout="row"
             fxLayout.xs="column"
             fxLayoutAlign="space-evenly center"
             fxLayoutGap="50px">


  <div class="logo2" fxFlex="calc(30% -50px)">
    <a routerLink="/">
      <img alt="" src="../../../assets/branding/logo-kwee-dark.png">
    </a><br>
    <span>&copy; <time datetime="2019">2019</time> Watermelon Corp.</span>
  </div>


  <div class="center-mobile" fxFlex="calc(20% -50px)">
    <ul>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/privacy">Privacy</a></li>
      <li><a routerLink="/kwee-live">Kwee Live</a></li>
    </ul>
  </div>


  <div class="center-mobile" fxFlex="calc(20% -50px)">
    <ul>
      <li><a href="https://kwee.ovh/corp/blog">Blog</a></li>
      <li><a href="https://kwee.ovh/corp/category/meet-the-team/">Team</a></li>
      <li><a href="https://kwee.ovh/corp/#contact-us">Contact </a></li>
    </ul>
  </div>

  <div class="social-icons" fxFlex="calc(30% -50px)">
    <a href="https://twitter.com/hellokwee">
      <mat-icon fontIcon="fa-twitter" fontSet="fab"></mat-icon>
    </a>
    <a href="https://www.instagram.com/hellokwee/">
      <mat-icon fontIcon="fa-instagram" fontSet="fab"></mat-icon>
    </a>
    <a href="https://t.me/hellokwee">
      <mat-icon fontIcon="fa-telegram-plane" fontSet="fab"></mat-icon>
    </a>
  </div>
</mat-toolbar>



