@import '../../../../node_modules/@angular/material/theming';

mat-card-title {
  font-size: 1.6rem !important;
}

app-icon-with-text {
  font-size: 0.85rem;
  color: mat-color($mat-blue-gray, 700);
}

.offerImg {
  margin-top: 16px;
  object-fit: cover;
  height: 150px;
  width: 150px;
  border-radius: 4px;
}
