<div fxLayout="column" fxLayoutGap="16px" style="padding-bottom: 32px">
  <div fxLayout="row">
    <button (click)="backClicked()"
            fxFlexOffset="0"
            fxFlexOffset.gt-lg="25%" fxFlexOffset.gt-md="20%" fxFlexOffset.gt-sm="12.5%" mat-icon-button>
      <mat-icon class="svg" color="primary" svgIcon="back"></mat-icon>
    </button>
  </div>
  <div fxLayout="row"
       fxLayoutAlign="center center">
    <mat-card id="id"
      *ngIf="(offerState | async).offer"
      fxFlex="95%"
      fxFlex.gt-lg="50%" fxFlex.gt-md="60%" fxFlex.gt-sm="75%" fxLayout="column">
      <mat-card-header fxLayoutAlign="space-between">
        <mat-card-title fxLayout="row" fxLayoutGap="16px">
          <span>{{(offerState | async).offer.title }}</span>
          <mat-chip-list fxHide fxShow.gt-sm>
            <mat-chip color="primary" selected
                      style="pointer-events: none">{{ getOfferStatus((offerState | async).offer.status) | titlecase}}</mat-chip>
          </mat-chip-list>
        </mat-card-title>
        <mat-card-subtitle>
        <span
          [routerLink]="urlOfferer((offerState | async).offer.fk_offerer, (offerState | async).offer.offererName)"
          style="cursor: pointer">
          <app-offerer-name-overview [index]="(offerState | async).offer.offererIndex"
                                     [name]="(offerState | async).offer.offererName"></app-offerer-name-overview>
        </span>
        </mat-card-subtitle>
        <div
          class="quickInfo"
          fxHide.lt-sm
          fxLayout="row"
          fxLayout.lt-md="column"
          fxLayoutAlign="end start"
          fxLayoutGap="16px">
          <app-icon-with-text [text]="getTimePassed((offerState | async).offer.datePublished)"
                              icon="access-time"></app-icon-with-text>
          <app-icon-with-text [text]="(offerState | async).offer.dateStart | date"
                              icon="alarm"></app-icon-with-text>
        </div>
        <mat-card-subtitle
          class="quickInfo"
          fxHide.gt-xs
          fxLayout="row"
          fxLayoutGap="16px">
          <app-icon-with-text [text]="getTimePassed((offerState | async).offer.datePublished)"
                              icon="access-time"></app-icon-with-text>
          <app-icon-with-text [text]="(offerState | async).offer.dateStart | date"
                              icon="alarm"></app-icon-with-text>
          <mat-chip-list>
            <mat-chip color="primary" selected
                      style="pointer-events: none">{{ getOfferStatus((offerState | async).offer.status) | titlecase}}</mat-chip>
          </mat-chip-list>
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content fxLayout="column" fxLayoutGap="24px" style="margin: 0 16px">
        <div
          fxLayout="row"
          fxLayout.lt-sm="column" fxLayoutGap="16px">
          <img [src]="(offerState | async).offer.img ? environment.apiUrl + 'image/offerers/' + (offerState | async).offer.img :
            'https://cdn.vox-cdn.com/thumbor/Pkmq1nm3skO0-j693JTMd7RL0Zk=/0x0:2012x1341/1200x800/filters:focal(0x0:2012x1341)/' +
            'cdn.vox-cdn.com/uploads/chorus_image/image/47070706/google2.0.0.jpg'"
               alt="Business Logo"
               class="offerImg"
               fxFlex.lt-sm="100%"
               fxLayoutAlign="center center">
          <span [innerHTML]="(offerState | async).offer.description" fxFlex="column">
          </span>
        </div>

        <div fxLayout="column">
          <h2 class="mat-h2">Details</h2>
          <div
            fxLayout="row" fxLayout.lt-sm="column"
            fxFlex="100%"
            fxLayoutAlign="start start"
            fxLayoutGap="8px">
            <div fxFlex="66%" fxFlex.lt-sm="100%" style="width: 100%; padding-bottom: 16px">
              <div fxFlex="50%"
                   fxLayout="column"
                   fxLayoutAlign="start start"
                   fxLayoutGap="8px">
                <app-icon-with-text
                  [text]="getOfferDuration((offerState | async).offer.isIndefinite, (offerState | async).offer.duration, (offerState | async).offer.durationUnit) | titlecase"
                  icon="date-range"></app-icon-with-text>
                <app-icon-with-text
                  [text]="getOfferSalary((offerState | async).offer.salaryAmount, (offerState | async).offer.salaryCurrency, (offerState | async).offer.salaryFrequency)"
                  icon="local-atm"></app-icon-with-text>
                <app-icon-with-text [text]="getOfferSeniorityLevel((offerState | async).offer.seniority)"
                                    icon="face"></app-icon-with-text>
              </div>
              <div fxFlex="50%"
                   fxLayout="column"
                   fxLayoutAlign="start start"
                   fxLayoutGap="8px">
                <app-icon-with-text [text]="getOfferContractType((offerState | async).offer.contractType)"
                                    icon="work"></app-icon-with-text>
                <app-icon-with-text
                  [text]="getOfferLocation((offerState | async).offer.location, (offerState | async).offer.workLocation)"
                  icon="place"></app-icon-with-text>
                <app-icon-with-text [text]="getOfferApplications((offerState | async).offer.currentApplications)"
                                    icon="people"></app-icon-with-text>
              </div>
            </div>
            <div fxFlex="33%" fxFlex.lt-sm="100%"
                 fxLayoutAlign="center center"
                 style="width: 100%">
              <div fxLayout="column"
                   fxLayoutGap="8px">

                  <button
                    (click)="goEdit()"
                    *ngIf="(offerState | async).offer.fk_offerer === this.id ; else apply"
                    color="accent"
                    mat-raised-button
                    style="color: white" type="button">{{'Edit Offer' | uppercase }}</button>
                <ng-template #apply>
                  <button (click)="postApplication()"
                          *ngIf="(offerState | async).applications===null && id"
                          [disabled]="(authState | async).user.type === 'business'"
                          color="accent"
                          mat-raised-button style="color: white">{{'Apply Now!' | uppercase }}</button>

                  <button *ngIf="!id" color="accent"
                          mat-raised-button
                          routerLink="/signin" style="color: white">{{'Apply Now!' | uppercase }}</button>

                  <button (click)="deleteApplication()"
                          *ngIf="(offerState | async).applications && ((offerState | async).offer.status === 0 ||
                (offerState | async).offer.status === 3) && (offerState | async).applications.status < 2 && id"
                          color="warn"
                          mat-raised-button style="color: white">{{'Delete Application' | uppercase }}</button>

                  <div *ngIf="(offerState | async).applications && (offerState | async).applications.status === 2"
                       fxLayout="column"
                       fxLayoutAlign="center center">
                    <p style="margin-top: 0">You have been selected! What do you want to do?</p>
                    <div fxLayout="row" fxLayoutGap="16px">
                      <button color="warn" mat-raised-button>{{'Reject' | uppercase }}</button>
                      <button color="accent" mat-raised-button>{{'Accept' | uppercase }}</button>
                    </div>
                  </div>

                </ng-template>
                <div fxLayout="row">
                  <app-sns-share [offer]="getShareableOffer((offerState | async).offer.title)"></app-sns-share>
                  <button (click)="downloadPDF()"
                          mat-icon-button>
                    <mat-icon
                      aria-label="Download Offer"
                      class="svg"
                      color="primary"
                      svgIcon="arrow-down"></mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div fxLayout="column">
          <h2 class="mat-h2">Responsibilities</h2>
          <div
            [innerHTML]="(offerState | async).offer.responsabilities"
            fxLayout="column"
            style="white-space: pre-wrap; margin-bottom: 16px">
          </div>
        </div>

        <div fxLayout="column">
          <h2 class="mat-h2">Requirements</h2>
          <div
            [innerHTML]="(offerState | async).offer.requeriments"
            fxLayout="column"
            style="white-space: pre-wrap; margin-bottom: 16px"
          id="requeriments">
          </div>
        </div>

        <div fxLayout="column">
          <h2 class="mat-h2">Skills</h2>
          <div
            fxLayout="row">
            <mat-list
              fxFlex="50%" fxFlex.lt-sm="100%"
              style="padding-top: 0">
              <div
                *ngFor="let skill of getSkills((offerState | async).offer.skills); let i = index"
                style="margin-left: -20px">
                <mat-list-item
                  *ngIf="i % 2 === 0" (click)="searchSkill(skill)" style="cursor: pointer">
                  <mat-icon color="primary">chevron_right</mat-icon>
                  {{' ' + skill}}</mat-list-item>
              </div>
            </mat-list>
            <mat-list
              fxFlex="50%" fxFlex.lt-sm="100%"
              style="padding-top: 0">
              <div
                *ngFor="let skill of getSkills((offerState | async).offer.skills); let i = index"
                style="margin-left: -20px">
                <mat-list-item *ngIf="i % 2 !== 0" (click)="searchSkill(skill)" style="cursor: pointer">
                  <mat-icon color="primary">chevron_right</mat-icon>
                  {{' ' + skill}}</mat-list-item>
              </div>
            </mat-list>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
