<div fxFlex="100%" fxLayout="row">
  <form [formGroup]="secondFormGroup"
        fxFlex="75%"
        fxFlex.lt-lg="90%"
        fxFlex.lt-md="100%"
        fxFlexOffset="25%"
        fxFlexOffset.lt-lg="10%"
        fxFlexOffset.lt-md="0%"
        style="padding-right: 32px">
    <div *ngIf="(profilesState | async).candidate"
         fxFlex="100%"
         fxLayout="column"
         fxLayoutGap="8px">

      <div class="mat-h1" style="padding-top: 16px">My Account</div>

      <div fxFlex="100%"
           fxLayout="column"
           fxLayoutGap="8px">
        <div fxLayout="row"><h2>Fill in the information below to be set to go!</h2></div>
        <div class="line1" fxLayout="column">
          <mat-form-field>
            <input formControlName="name" matInput placeholder="Full name" required>
            <mat-icon color="primary" matPrefix svgIcon="person"></mat-icon>
            <mat-error *ngIf="!secondFormGroup.get('name').valid ">
              This field is required
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px" fxLayoutGap.xs="0">
          <mat-form-field>
            <input formControlName="email" matInput placeholder="Email" required>
            <mat-icon color="primary" matPrefix svgIcon="email"></mat-icon>
            <mat-error *ngIf="!secondFormGroup.get('email').valid ">
              Please enter a valid email
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input formControlName="confEmail" matInput placeholder="Confirm Email" required>
            <mat-icon matSuffix></mat-icon>
            <mat-error *ngIf="!secondFormGroup.get('confEmail').valid ">
              Emails do not match
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px" fxLayoutGap.xs="0">
          <mat-form-field>
            <mat-icon color="primary" matPrefix svgIcon="lock"></mat-icon>
            <input [type]="hide ? 'text' : 'password'"
                   autocomplete="new-password"
                   formControlName="password"
                   matInput
                   placeholder="Password">
            <mat-error *ngIf="!secondFormGroup.get('password').valid ">
              Password must be 6 characters or more
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input [type]="hide ? 'text' : 'password'"
                   autocomplete="new-password"
                   formControlName="password2"
                   matInput
                   placeholder="Confirm Password">
            <mat-icon (click)="hide = !hide" [svgIcon]="hide ? 'visibility' : 'visibility-off'" color="primary"
                      matSuffix></mat-icon>
            <mat-error *ngIf="!secondFormGroup.get('password2').valid">
              Passwords do not match
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayout.xs="column">
          <mat-form-field>
            <input [matDatepicker]="picker" formControlName="birthday" matInput placeholder="Birthday" required>
            <mat-datepicker-toggle [for]="picker" matPrefix></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="secondFormGroup.get('birthday').hasError('required') ">
              This field is required
            </mat-error>
            <mat-error
              *ngIf="!secondFormGroup.get('birthday').valid && !secondFormGroup.get('birthday').hasError('required') &&
              !secondFormGroup.get('birthday').hasError('min16years')
              && !secondFormGroup.get('birthday').hasError('tooOld')">
              Please enter a valid date<!--You must be over 16 years old-->
            </mat-error>
            <mat-error
              *ngIf="secondFormGroup.get('birthday').hasError('min16years')"
            >
              You must be at least 16 years old
            </mat-error>
            <mat-error
              *ngIf="secondFormGroup.get('birthday').hasError('tooOld')"
            >
              Your date is too old
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayout.xs="column">
          <mat-form-field>
            <input (keyup)="onKey($event)" [matAutocomplete]="auto" formControlName="location" id="city" matInput
                   placeholder="City and Country" required>
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let option of options; index as i" [value]="option">
                {{option.name}}
              </mat-option>
            </mat-autocomplete>
            <mat-icon color="primary" matPrefix svgIcon="place"></mat-icon>
            <mat-error *ngIf="!secondFormGroup.get('location').valid ">
              This field is required
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayout.xs="column">
          <mat-form-field>
            <mat-select formControlName="role" placeholder="Role" required>
              <mat-option *ngFor="let role of roles" [value]="role.value">
                {{role.viewValue}}
              </mat-option>
            </mat-select>
            <mat-icon color="primary" matPrefix svgIcon="work"></mat-icon>

            <mat-error *ngIf="!secondFormGroup.get('role').valid ">
              This field is required
            </mat-error>

          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="end">
          <button (click)="onSave();" color="accent" mat-raised-button type="button">Update</button>
        </div>
      </div>
    </div>
  </form>
</div>
