<div class="container" fxFlex="100%" fxLayout="column">
  <app-header [isLanding]="true"></app-header>
  <div id='stars'></div>
  <div id='stars2'></div>
  <div id='stars3'></div>
  <div
    fxFlex="100%"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="16px"
    id='title'>
    <app-searchbar
      (search)="onSearch($event)"
      [ngStyle.lt-sm]="{'padding-top':'32px', 'width': '85%'}"
      [ngStyle]="{'padding-top':'64px', 'width': '50%'}"
    ></app-searchbar>
    <div
      [ngClass.lt-sm]="{'worldContainerXS': true}"
      [ngClass]="{'worldContainer': true}"
      fxLayout="column"
      fxLayoutAlign="center center"
      style="overflow-x: hidden;">
      <mat-spinner *ngIf="getAllow()" color="accent" style="margin-top: 600px"></mat-spinner>
      <canvas
        [ngStyle.lt-sm]="{'width': '200%'}"
        [ngStyle]="{'width': '123%'}"
        height="1400px"
        id="kweelive"
        width="1400px"></canvas>
    </div>
    <div fxLayout="column" class="classicOnePage">
      <div class="skew"></div>
      <div [ngStyle.gt-xs]="{'padding-left.%': 10, 'padding-right.%': 10}" [ngStyle.gt-lg]="{'padding-left.%': 20, 'padding-right.%': 20}"
           fxLayout="column"
           fxFlex="80%" fxFlex.gt-lg="60%" fxFlex.lt-sm="95%"
           style="margin-top: -64px">
        <h2 class="mat-display-3" style="margin-top: -128px" #thisIsKwee><a (click)="scrollTo(thisIsKwee)">This is
          Kwee</a></h2>
        <div fxLayout="row" fxLayout.lt-sm="column"
             fxLayoutAlign="space-between center"
             fxLayoutGap="64px" fxLayoutGap.lt-sm="16px">
          <p class="mat-body" fxFlex="75">Hi! Welcome to our website! We are a team of Multimedia Engineering students
            at the University of Alicante and Kwee is our <a href="https://kwee.ovh/corp/hello-world/">PBL project</a>
            that we are developing as part as our senior year. This is a <strong>educational project</strong> so please
            enjoy it whilst knowing that the data are for showcase purposes.
            <br><br>
            The aim of the project is to create a web platform for tech professionals, students and businesses of the
            industry to connect in a really simple, straightforward and specialised way. The platform has two types
            of users; on the one hand, the professionals and students that are looking for a job, and on the other, the
            businesses that are offering them.
          </p>
          <div fxFlex="25" fxLayoutAlign="center center" class="move-up">
            <img src="../../assets/branding/icon.svg" alt="kwee icon" width="256px" height="256px">
          </div>
        </div>
      </div>
      <div [ngStyle.gt-xs]="{'padding-left.%': 10}"
           fxLayout="column"
           fxFlex="60%" fxFlex.lt-sm="95%"
           class="quote quote-1"
           fxLayoutAlign="center start">
        <div class="quotation mat-display-2">
          "I just got this amazing position and I'm just living my dream. Thank you Kwee!"
          <p class="mat-h3">- Matt Smith</p>
        </div>
      </div>
      <div [ngStyle.gt-xs]="{'padding-left.%': 10, 'padding-right.%': 10}" [ngStyle.gt-lg]="{'padding-left.%': 20, 'padding-right.%': 20}"
           fxLayout="column"
           fxFlex="80%" fxFlex.gt-lg="60%" fxFlex.lt-sm="95%">
        <h2 class="mat-display-3" #kweeIndex style="padding: 32px 0 16px 0"><a (click)="scrollTo(kweeIndex)">Kwee
          Index</a></h2>
        <div fxLayout="row" fxLayout.lt-sm="column"
             fxLayoutAlign="center center"
             fxLayoutGap="64px" fxLayoutGap.lt-sm="16px">
          <div fxFlex="25" fxLayoutAlign="center center" class="space-up-down">
            <img src="../../assets/landing/score.svg" alt="kwee index icon" width="256px" height="256px">
          </div>
          <p class="mat-body" fxFlex="75">The most important feature that set's us apart from the competition is our
            very own Kwee Index. This score goes from <strong>0 to 100</strong> and represents how trustworthy the user
            is. Be confident that your next incorporation to the company will be fully competent and similarly, that you
            will end up working for a really nice business!
            <br><br>
            Our industry leading Index is calculated based on <strong>real</strong> opinions by fellow Kwee users among
            other parameters. You can be assured that you rest in good hands if a candidate or business has a good
            score.
          </p>
        </div>
      </div>
      <div [ngStyle.gt-xs]="{'padding-right.%': 10}"
           fxLayout="column"
           fxFlex="60%" fxFlex.lt-sm="95%"
           class="quote quote-2"
           fxLayoutAlign="center end">
        <div class="quotation mat-display-2">
          "We've found our very best engineers and designers thanks to Kwee. We are very grateful."
          <p class="mat-h3">- Lemonade Inc.</p>
        </div>
      </div>
      <div [ngStyle.gt-xs]="{'padding-left.%': 10, 'padding-right.%': 10}" [ngStyle.gt-lg]="{'padding-left.%': 20, 'padding-right.%': 20}"
           fxLayout="column"
           fxFlex="80%" fxFlex.gt-lg="60%" fxFlex.lt-sm="95%">
        <h2 class="mat-display-3" #withLove style="padding: 32px 0 16px 0">
          <a (click)="scrollTo(withLove)">
            Made with

            <svg style="margin: 0 0 -20px 4px" width="75" height="75" viewBox="0 0 200 200"
                 aria-label="love animated svg">
              <g transform="translate(100 100)">
                <path transform="translate(-50 -50)" fill="tomato"
                      d="M92.71,7.27L92.71,7.27c-9.71-9.69-25.46-9.69-35.18,0L50,14.79l-7.54-7.52C32.75-2.42,17-2.42,7.29,7.27v0 c-9.71,9.69-9.71,25.41,0,35.1L50,85l42.71-42.63C102.43,32.68,102.43,16.96,92.71,7.27z"></path>
                <animateTransform
                  attributeName="transform"
                  type="scale"
                  values="1; 1.5; 1.25; 1.5; 1.5; 1;"
                  dur="1s"
                  repeatCount="indefinite"
                  additive="sum">
                </animateTransform>
              </g>
            </svg>
          </a>
        </h2>
        <p class="mat-body">The project has been made with a lot of care and dedication by the <a
          href="https://kwee.ovh/corp/category/meet-the-team/">Watermelon Corp.</a> team. Which for a whole year has
          been <strong>working really hard</strong> in order for this project to succeed.
          <br><br>
          We really hope you'll like it, and bellow you can find some useful links in case you want to learn more
          about what's behind the scenes in our <a href="https://kwee.ovh/corp/">Corporate Website</a>.
        </p>
        <div fxLayout="column"
             fxLayoutAlign="space-between center"
             fxLayoutGap="64px" fxLayoutGap.lt-sm="16px">
          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutAlign="space-between center">
            <mat-card fxFlex="33">
              <img mat-card-image src="../../assets/landing/webCorp.png"
                   alt="Photo of the Watermelon Corp. Logo">
              <mat-card-content>
                <p class="mat-h2">Corporate Site</p>
                <p>
                  This is the place where we introduce our team in a more detail way. Feel free to visit us to learn
                  more about us, the team, or even contact us; this could be the beelining of something big!
                </p>
              </mat-card-content>
              <mat-card-actions align="end">
                <button mat-button
                        onclick="window.open('https://kwee.ovh/corp/');">
                  {{'Visit Us'|uppercase}}
                </button>
              </mat-card-actions>
            </mat-card>
            <mat-card fxFlex="33">
              <img mat-card-image src="../../assets/landing/updates.png"
                   alt="Photo of the Kwee logo">
              <mat-card-content>
                <p class="mat-h2">Updates</p>
                <p>
                  Follow all of our latest updates and news in our blog posts. Be always up-to-date in everything that
                  we do and be the first one to see our latest progress. Tag alongside and be part of this journey!
                </p>
              </mat-card-content>
              <mat-card-actions align="end">
                <button mat-button
                        onclick="window.open('https://kwee.ovh/corp/category/news/');">
                  {{'View Updates'|uppercase}}
                </button>
              </mat-card-actions>
            </mat-card>
            <mat-card fxFlex="33">
              <img mat-card-image
                   src="https://kwee.ovh/corp/wp-content/uploads/2019/01/IMG_20190111_120732-1024x768.jpg"
                   alt="Photo of the Watermelon Corp. Team">
              <mat-card-content>
                <p class="mat-h2">Meet the team</p>
                <p>
                  Get personal and know the minds behind the project with this section of our blog. Here we introduce
                  ourselves and explain what we do inside the team, as well our motivation and hobbies.
                </p>
              </mat-card-content>
              <mat-card-actions align="end">
                <button mat-button
                        onclick="window.open('https://kwee.ovh/corp/category/meet-the-team/');">
                  {{'Get to know us'|uppercase}}
                </button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </div>
      <div [ngStyle.gt-xs]="{'padding-left.%': 10, 'padding-right.%': 10}"
           fxLayout="column"
           fxFlex="60%" fxFlex.lt-sm="95%"
           class="quote quote-3"
           fxLayoutAlign="center center">
        <div class="mat-display-4" style="margin-top: 64px">
          Just try it, it's free!
        </div>
        <div fxLayout="row" fxLayoutGap="16px" style="margin-bottom: 64px">
          <button (click)="goToSignUp('candidate')" mat-raised-button color="accent">Start as Candidate
          </button>
          <button (click)="goToSignUp('business')" mat-raised-button color="primary">Start as Business</button>
        </div>
      </div>
    </div>
  </div>
</div>
