<div fxLayout="column" fxFlex="100%" class="container">
  <app-header [isLanding]="true"></app-header>
  <div id='stars'></div>
  <div id='stars2'></div>
  <div id='stars3'></div>
  <div
    id='title'
    fxLayout="column"
    fxFlex="100%"
    fxLayoutAlign="center center"
    fxLayoutGap="16px">
    <app-searchbar
      (search)="onSearch($event)"
      [ngStyle.lt-sm]="{'padding-top':'32px', 'width': '85%'}"
      [ngStyle]="{'padding-top':'64px', 'width': '50%'}"
    ></app-searchbar>
    <div
      [ngClass.lt-sm]="{'worldContainerXS': true}"
      [ngClass]="{'worldContainer': true}"
      fxLayout="column"
      style="overflow-x: hidden;"
      fxLayoutAlign="center center">
      <mat-spinner color="accent" style="margin-top: 600px" *ngIf="getAllow()"></mat-spinner>
      <canvas
        [ngStyle.lt-sm]="{'width': '200%'}"
        [ngStyle]="{'width': '123%'}"
        id="kweelive"
        width="1400px"
        height="1400px"></canvas>
    </div>
  </div>
</div>
