* {
  font-family: IBM Plex Sans, sans-serif;
}
*:focus {
  outline: none;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

h1{
  margin-top: 0;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.noUnderline ::ng-deep .mat-form-field-underline {
  display: none;
}

