<mat-dialog-content>
<h1>Rate {{selected}}</h1>
  <form [formGroup]="form">
    <h2>Opinion</h2>
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Opinion" formControlName="opinion"></textarea>
    </mat-form-field>
    <h2>Details</h2>
    <p>All the detail star ratings are required.</p>
    <div
      id="stars"
      fxLayout="row"
      fxLayout.lt-sm="column"
      fxLayoutGap="16px">
    <div
      fxLayout="column"
      fxFlex="30%"
      fxFlex.lt-sm="100%">
      <h4 *ngIf="data.candidate">Efficiency</h4>
      <h4 *ngIf="!data.candidate">Facilities</h4>
      <mat-form-field class="noUnderline">
        <star-rating-control [starType]="'svg'" [hoverEnabled]="true" formControlName="one"></star-rating-control>
        <input [hidden]="true" formControlName="one_aux" matInput required>
        <mat-error *ngIf="!form.get('one_aux').valid ">
          This field is required
        </mat-error>
      </mat-form-field>
      <!--<star-rating-control [starType]="'svg'" [hoverEnabled]="true" formControlName="one"></star-rating-control>-->
      <h4 *ngIf="data.candidate">Punctuality</h4>
      <h4 *ngIf="!data.candidate">Working Environment</h4>
      <mat-form-field class="noUnderline">
        <star-rating-control [starType]="'svg'" [hoverEnabled]="true" formControlName="two"></star-rating-control>
        <input [hidden]="true" formControlName="two_aux" matInput required>
        <mat-error *ngIf="!form.get('two_aux').valid ">
          This field is required
        </mat-error>
      </mat-form-field>
    </div>
    <div
      fxLayout="column"
      fxFlex="30%"
      fxFlex.lt-sm="100%">
      <h4 *ngIf="data.candidate">Skills</h4>
      <h4 *ngIf="!data.candidate">Salary</h4>
      <mat-form-field class="noUnderline">
        <star-rating-control [starType]="'svg'" [hoverEnabled]="true" formControlName="three"></star-rating-control>
        <input [hidden]="true" formControlName="three_aux" matInput required>
        <mat-error *ngIf="!form.get('three_aux').valid ">
          This field is required
        </mat-error>
      </mat-form-field>
      <h4 *ngIf="data.candidate">Hygiene</h4>
      <h4 *ngIf="!data.candidate">Coworkers</h4>
      <mat-form-field class="noUnderline">
        <star-rating-control [starType]="'svg'" [hoverEnabled]="true" formControlName="four"></star-rating-control>
        <input [hidden]="true" formControlName="four_aux" matInput required>
        <mat-error *ngIf="!form.get('four_aux').valid ">
          This field is required
        </mat-error>
      </mat-form-field>
    </div>
    <div
      fxLayout="column"
      fxFlex="30%"
      fxFlex.lt-sm="100%">
    <h4 *ngIf="data.candidate">Teamwork</h4>
      <h4 *ngIf="!data.candidate">Services</h4>
      <mat-form-field class="noUnderline">
        <star-rating-control [starType]="'svg'" [hoverEnabled]="true" formControlName="five"></star-rating-control>
        <input [hidden]="true" formControlName="five_aux" matInput required>
        <mat-error *ngIf="!form.get('five_aux').valid ">
          This field is required
        </mat-error>
      </mat-form-field>
    <h4>Overall Satisfaction</h4>
      <mat-form-field class="noUnderline">
        <star-rating-control [starType]="'svg'" [hoverEnabled]="true" formControlName="six"></star-rating-control>
        <input [hidden]="true" formControlName="six_aux" matInput required>
        <mat-error *ngIf="!form.get('six_aux').valid ">
          This field is required
        </mat-error>
      </mat-form-field>
    </div>
    </div>
  </form>
</mat-dialog-content>
<br>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button color="primary" type="button"  mat-raised-button cdkFocusInitial (click)="rate()">Publish</button>
</mat-dialog-actions>
