div.index {
  background: #00BFA5;
  color: white;
  border-radius: 3px;
  height: 22px;
  width: 24px;
  text-align: center;

  span {
    margin-top: 89px;
  }
}

div.index + p {
  margin: 2px 0 0 8px;
}

/*mat-dialog-content{
  height: 100%;
}*/

* {
  font-family: IBM Plex Sans, sans-serif;
}

*:focus {
  outline: none;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

h1 {
  margin-top: 0;
}

h2:nth-child(3) {
  margin-top: 8px;
}

.narrowMarginTop {
  margin-top: 8px;
}

.narrowMarginBottom {
  margin-bottom: 8px;
}

.h4narrowMargins h4 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.noOverflow h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.maxWidth {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


p:nth-child(4) {
  margin-bottom: 8px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.noUnderline ::ng-deep .mat-form-field-underline {
  display: none;
}

.noUnderline ::ng-deep .mat-form-field-infix {
  padding: 0 !important;
  border-top: 0;
}

::ng-deep .ng-animating div mat-accordion mat-expansion-panel mat-expansion-panel-header {
  height: 48px;
}

::ng-deep .ng-animating div mat-accordion mat-expansion-panel div.mat-expansion-panel-content {
  height: 0px;
  visibility: hidden;
}

@media only screen and (max-width: 500px) {
  .maxWidth {
    max-width: 100px;
  }
}

@media only screen and (max-width: 370px) {
  .maxWidth {
    max-width: 60px;
  }
}
