@import "~src/common-utils";

mat-form-field mat-icon {
  margin-right: 8px;
}

.card {
  padding: 5%;
}

.line1 {
  max-width: 410px;
  overflow: hidden;
}

.text {
  height: 100px;
  overflow: hidden;

}
