<div fxLayoutAlign="center center">
  <div class="card"
       fxFlex="96%"
       fxFlex.gt-sm="60%"
       fxFlexOffset.gt-xs="16px"
       fxLayout="column"
       fxLayoutGap="16px">

    <h2 class="mat-h1">Contact support</h2>

    <mat-card class="card">
      <mat-card-content fxLayout="column">
        <form [formGroup]="messageFormGroup">
        <div class="line1" fxLayout="column">
          <mat-form-field>
            <input formControlName="email" matInput placeholder="Email" required>
            <mat-icon color="primary" matPrefix svgIcon="email"></mat-icon>
           <mat-error *ngIf="!messageFormGroup.get('email').valid ">
              This field is required
            </mat-error>
          </mat-form-field>
        </div>

          <div class="line1" fxLayout="column">
            <mat-form-field>
              <input formControlName="resume" matInput placeholder="Resume" required>
              <mat-error *ngIf="!messageFormGroup.get('resume').valid ">
                This field is required
              </mat-error>
            </mat-form-field>
          </div>

          <div fxLayout="column">
            <mat-form-field>
              <textarea formControlName="text" matInput placeholder="Leave a comment"></textarea>
              <mat-error *ngIf="!messageFormGroup.get('text').valid ">
                This field is required
              </mat-error>
            </mat-form-field>
          </div>

          <div fxLayout="row" fxLayoutAlign="end">
            <button (click)="sendMessage()" color="accent" mat-button type="button">Send</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
