<h1 mat-dialog-title>Reset Password</h1>
<div *ngIf="!reset">
  <form [formGroup]="formGroup">
    <mat-dialog-content class="mat-typography">
      <p>Please write the email of the account you want to reset the password:</p>
      <mat-form-field>
        <input formControlName="email" matInput placeholder="Email" required>
        <mat-icon
          color="primary"
          matPrefix
          style="padding-right: 8px"
          svgIcon="email"></mat-icon>
        <mat-error *ngIf="!formGroup.get('email').valid ">
          Please enter a valid email
        </mat-error>
      </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close type="button">Cancel</button>
      <button (click)="resetPassword()" color="accent" mat-button type="submit">Reset</button>
    </mat-dialog-actions>
  </form>
</div>
<div *ngIf="reset" class="mat-typography">
  <mat-dialog-content>
    An email with the link to reset the password has been sent to <strong>{{formGroup.controls['email'].value}}</strong>!
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="submit">Okay</button>
  </mat-dialog-actions>
</div>
