<div fxLayout="row">
  <button mat-icon-button
          (click)="copyToClipboard()">
    <mat-icon
      color="primary"
      aria-label="Copy link to clipboard">link
    </mat-icon>
  </button>
  <button mat-icon-button
          (click)="shareInTw()">
    <mat-icon
      color="primary"
      class="fa-icon"
      aria-label="Share in Twitter"
      fontIcon="fa-twitter"
      fontSet="fab"></mat-icon>
  </button>
  <button mat-icon-button
          (click)="shareInFb()">
    <mat-icon
      color="primary"
      class="fa-icon"
      aria-label="Share in Facebook"
      fontIcon="fa-facebook" fontSet="fab"></mat-icon>
  </button>
  <button mat-icon-button
          (click)="shareInLi()">
    <mat-icon
      color="primary"
      class="fa-icon"
      aria-label="Share in LinkedIn"
      fontIcon="fa-linkedin" fontSet="fab"></mat-icon>
  </button>
  <button mat-icon-button
          (click)="shareInTl()">
    <mat-icon
      color="primary"
      class="fa-icon"
      aria-label="Share in Telegram"
      fontIcon="fa-telegram" fontSet="fab"></mat-icon>
  </button>
</div>
