<div fxLayout="row">
  <button (click)="shareInTw()"
          mat-icon-button>
    <mat-icon
      [ngClass]="modal ? 'tw' : '' "
      aria-label="Share in Twitter"
      class="fa-icon"
      color="primary"
      fontIcon="fa-twitter"
      fontSet="fab"></mat-icon>
  </button>
  <button (click)="shareInFb()"
          mat-icon-button>
    <mat-icon
      [ngClass]="modal ? 'fb' : '' "
      aria-label="Share in Facebook"
      class="fa-icon"
      color="primary"
      fontIcon="fa-facebook" fontSet="fab"></mat-icon>
  </button>
  <button (click)="shareInLi()"
          mat-icon-button>
    <mat-icon
      [ngClass]="modal ? 'li' : '' "
      aria-label="Share in LinkedIn"
      class="fa-icon"
      color="primary"
      fontIcon="fa-linkedin" fontSet="fab"></mat-icon>
  </button>
  <button (click)="shareInTl()"
          mat-icon-button>
    <mat-icon
      [ngClass]="modal ? 'tl' : '' "
      aria-label="Share in Telegram"
      class="fa-icon"
      color="primary"
      fontIcon="fa-telegram" fontSet="fab"></mat-icon>
  </button>
  <button (click)="copyToClipboard()"
          mat-icon-button>
    <mat-icon
      aria-label="Copy link to clipboard"
      color="primary">link
    </mat-icon>
  </button>
</div>
