<div
  [ngClass]="{
  big: size === 'title',
  'mat-card-title': size === 'title'
}"
  fxLayout="row">
  <div
    [style.background-color]="getBGColour()"
    class="index"
    (mouseenter)="showBreakdown(true)"
    (mouseleave)="showBreakdown(false)"
    (click)="showBreakdown(true)"
    (clickOutside)="showBreakdown(false)">
    <span>{{index}}</span>
  </div>
  <div *ngIf="renderBreakdown"
       class="breakdown mat-typography"
       [ngClass]="{'show': shownBreakdown, 'hide': !shownBreakdown}">
    <h3>Index Breakdown</h3>
    <h6>{{candidateIndexBreakdown ? 'Efficiency' : 'Salary'}}</h6>
    <mat-progress-bar mode="determinate" color="accent" [value]="pb1Value"></mat-progress-bar>
    <h6>{{candidateIndexBreakdown ? 'Skills' : 'Environment'}}</h6>
    <mat-progress-bar mode="determinate" color="accent" [value]="pb2Value"></mat-progress-bar>
    <h6>{{candidateIndexBreakdown ? 'Punctuality' : 'Partners'}}</h6>
    <mat-progress-bar mode="determinate" color="accent" [value]="pb3Value"></mat-progress-bar>
    <h6>{{candidateIndexBreakdown ? 'Hygiene' : 'Services'}}</h6>
    <mat-progress-bar mode="determinate" color="accent" [value]="pb4Value"></mat-progress-bar>
    <h6>{{candidateIndexBreakdown ? 'Teamwork' : 'Installations'}}</h6>
    <mat-progress-bar mode="determinate" color="accent" [value]="pb4Value"></mat-progress-bar>
    <h6>Satisfaction</h6>
    <mat-progress-bar mode="determinate" color="accent" [value]="pb5Value"></mat-progress-bar>
  </div>
  <p>{{name}}</p>
</div>
