@import '../../../../node_modules/@angular/material/theming';

div.index {
  background: mat-color($mat-teal, A400);
  color: white;
  border-radius: 3px;
  height: 22px;
  width: 24px;
  text-align: center;

  span {
    margin-top: 89px;
  }
}

p {
  margin: 0 0 0 8px;
}

.big {
  div.index {
    border-radius: 4px;
    height: 44px;
    width: 44px;
  }

  p {
    margin-left: 16px;
  }
}
