<div *ngIf="notification && notification.from" class="mat-typography">
  <img [src]="apiUrl + notification.from.img" mat-list-icon alt="Business logo">
  <div [ngSwitch]="notification.notification">
    <div *ngSwitchCase="'selected'">
      <h4 mat-line>Congratulations!</h4>
      <p mat-line>You have been selected by {{notification.from.name}} for the offer
        <a [routerLink]="'/offer/1/changethis'">Change This</a>! Please go to the offer to accept or refuse the position.
      </p>
    </div>
  </div>
</div>
