<div *ngIf="logs && logs.logs && logs.logs.length > 0; else no_logs">
  <h2>Logs of user</h2>
  <div *ngFor="let log of logs.logs">
    <mat-list id="list"> <h3>{{log.date}} {{log.hour}}</h3>
      <mat-list-item><strong>Action: </strong> {{log.action}}</mat-list-item>
      <mat-list-item><strong>Action to Route: </strong> {{log.actionToRoute}}</mat-list-item>
      <mat-list-item><strong>IP: </strong> {{log.ip}}</mat-list-item>
      <mat-list-item><strong>OS: </strong> {{log.useragent.os}}</mat-list-item>
      <mat-list-item><strong>Browser: </strong> {{log.useragent.browser}} <small>{{log.useragent.version}}</small> </mat-list-item>
    </mat-list>
  </div>
</div>
<ng-template #no_logs>
  <div>
    <p>There are no logs to show</p>
  </div>
</ng-template>