
<table *ngIf="dataSource" mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8"> 

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- order Column -->
    <ng-container matColumnDef="order">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.order}} </td>
    </ng-container>
  
    <!-- action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> action </th>
      <td mat-cell *matCellDef="let element"> {{element.action}} </td>
    </ng-container>
  
    <!-- ip Column -->
    <ng-container matColumnDef="ip">
      <th mat-header-cell *matHeaderCellDef> ip </th>
      <td mat-cell *matCellDef="let element"> {{element.ip}} </td>
    </ng-container>
  
    <!-- platform Column -->
    <ng-container matColumnDef="os">
      <th mat-header-cell *matHeaderCellDef> os </th>
      <td mat-cell *matCellDef="let element"> {{element.os}} </td>
    </ng-container>
   
    <!-- platform Column -->
    <ng-container matColumnDef="browser">
      <th mat-header-cell *matHeaderCellDef> browser </th>
      <td mat-cell *matCellDef="let element"> {{element.browser}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="['order', 'action', 'ip', 'os', 'browser']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['order', 'action', 'ip', 'os', 'browser'];"></tr>
</table>

<mat-paginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>