@import "~src/common-utils";
@import '~@angular/material/theming';

.small-card {
  max-width: 300px;
}


app-icon-with-text {
  color: mat-color($mat-blue-gray, 700);
}


mat-card-content {
  margin-top: 16px;
  margin-bottom: 0;
  display:flex;
}


  mat-card-title {
    font-size: 1.5rem !important;
    margin-top:0;

    a{
      text-decoration:none;
      color:black;
    }
  }

  mat-card-content p {
    margin-top: 0;
  }

  .index {
    background: mat-color($mat-teal, A400);
    color: white;
    padding: 5px;
    border-radius: 3px;
    max-height:30px;
    max-width:40px;
    font-size:24px;
    margin-right:10px;
    margin-top:5px !important;

  }

  .info{
    display: block;
  }

mat-card-actions {
  display: flex;
  align-items: center;
  margin-bottom: 0 !important;
  padding-bottom: 0;
  justify-content: center;
  padding-right: 55px;
  padding-top:0;
}



@media all and (max-width: $phone) {
 .small-card {
   display: none;
 }
}
