<div fxFlex="100%" fxLayout="row">
  <form [formGroup]="accountFormGroup"
        fxFlex="75%"
        fxFlex.lt-lg="90%"
        fxFlex.lt-md="100%"
        fxFlexOffset="25%"
        fxFlexOffset.lt-lg="10%"
        fxFlexOffset.lt-md="0%"
        style="padding-right: 32px">
    <div *ngIf="(profilesState | async).business"
         fxFlex="100%"
         fxLayout="column"
         fxLayoutGap="8px">

      <div class="mat-h1" style="padding-top: 16px">My Account</div>

      <div fxFlex="100%" fxLayout="row">
        <div fxFlex="100%" fxLayout="row" fxLayout.lt-md="column">
          <div fxFlex="192px" fxFlex.lt-md="100%" fxLayout="column" style="padding-bottom: 16px">
            <h2>Profile picture</h2>
            <div fxLayout="column" fxLayout.lt-md="row">
              <label for="file_profile">
                <img
                  [src]="(profilesState | async).business.img ? apiURL + (profilesState | async).business.img : '../../../../assets/img/defaultProfileImg.png'"
                  alt="default profile picture"
                  height="144px"
                  id="photo_profile"
                  width="144px"
                />
              </label>
              <div fxFlex="128px" fxLayout="column" style="margin-left: 8px">
                <label for="file_profile">
                  <button (click)="profile.click()" class="photo-buttons" color="primary" mat-raised-button
                          type="button">Upload photo
                  </button>
                </label>
                <input #profile (change)="previewFile($event)" accept="image/*"
                       formControlName="profile" id="file_profile" style="width: 0; height: 0;" type="file">
                <button (click)='previewFile(this.fileEvent)' [disabled]="! profile.value" class="photo-buttons"
                        color="primary" mat-raised-button
                        type="button">Crop again
                </button>
                <button (click)="deletePhoto()" class="photo-buttons" color="warn" mat-raised-button
                        type="button">Delete Photo
                </button>
              </div>
            </div>
          </div>
          <div fxLayout="column">
            <h2>Basic Info</h2>
            <!-- Name & VAT -->
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px" fxLayoutGap.xs="0px">
              <mat-form-field>
                <input formControlName="businessName" matInput placeholder="Business name" required>
                <mat-icon color="primary" matPrefix svgIcon="domain"></mat-icon>
                <mat-error
                  *ngIf="!accountFormGroup.get('businessName').valid ">
                  This field is required
                </mat-error>
              </mat-form-field>

              <mat-form-field>
                <input formControlName="vat" matInput placeholder="VAT/CIF" required>
                <mat-icon matSuffix></mat-icon>
                <mat-error *ngIf="!accountFormGroup.get('vat').valid">
                  This field is required
                </mat-error>
              </mat-form-field>
            </div>
            <!-- Email -->
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px" fxLayoutGap.xs="0">
              <mat-form-field>
                <input formControlName="email" matInput placeholder="Email" required>
                <mat-icon color="primary" matPrefix svgIcon="email"></mat-icon>
                <mat-error *ngIf="!accountFormGroup.get('email').valid ">
                  Please enter a valid email
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <input formControlName="confEmail"
                       matInput
                       placeholder="Confirm Email"
                       required
                       style="padding-right: 96px">
                <mat-icon matSuffix></mat-icon>
                <mat-error *ngIf="!accountFormGroup.get('confEmail').valid">
                  Emails do not match
                </mat-error>
              </mat-form-field>
            </div>
            <!-- Password -->
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px" fxLayoutGap.xs="0">
              <mat-form-field>
                <mat-icon color="primary" matPrefix svgIcon="lock"></mat-icon>
                <input [type]="hide ? 'text' : 'password'"
                       autocomplete="new-password"
                       formControlName="password"
                       matInput
                       placeholder="Password">
                <mat-error *ngIf="!accountFormGroup.get('password').valid">
                  Password must be 6 characters or more
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <input [type]="hide ? 'text' : 'password'"
                       autocomplete="new-password"
                       formControlName="password2"
                       matInput
                       placeholder="Confirm Password">
                <mat-icon (click)="hide = !hide" [svgIcon]="hide ? 'visibility' : 'visibility-off'"
                          color="primary"
                          matSuffix></mat-icon>

                <mat-error *ngIf="!accountFormGroup.get('password2').valid ">
                  Passwords do not match
                </mat-error>
              </mat-form-field>
            </div>
            <div fxLayout="row" fxLayout.xs="column">
              <mat-form-field>
                <mat-select formControlName="workField" placeholder="Work field" required>
                  <mat-option *ngFor="let workField of workFields"
                              [value]="workField.value">
                    {{workField.viewValue}}
                  </mat-option>
                </mat-select>
                <mat-icon color="primary" matPrefix svgIcon="work"></mat-icon>
                <mat-error *ngIf="!accountFormGroup.get('workField').valid">
                  This field is required
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div fxFlex="100%" fxLayout="row">
        <div fxFlex="100%" fxLayout="column">
          <h2 style="margin-bottom: 0 !important; padding-top: 32px">Address</h2>
          <div [ngClass.xs]="{'line1':false}" [ngClass]="{'line1':true}" fxLayout="column" fxLayoutGap="16px"
               fxLayoutGap.xs="0">
            <mat-form-field>
              <mat-icon color="primary" matPrefix svgIcon="place"></mat-icon>
              <input (keyup)="searchAddress($event)"
                     [matAutocomplete]="addressAuto"
                     formControlName="address1"
                     matInput placeholder="Address">
              <mat-autocomplete #addressAuto="matAutocomplete" [displayWith]="displayFnAddress">
                <mat-option *ngFor="let option of options" [value]="option">
                  <span>{{option.name}}</span>&nbsp;
                  <small class="gray">{{option.city.name}}, {{option.admin}}, {{option.country}}</small>
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="accountFormGroup.get('country') !== null">
                Address is required
              </mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px" fxLayoutGap.xs="0">
            <mat-form-field>
              <mat-icon color="primary" matPrefix svgIcon="domain"></mat-icon>
              <input (keyup)="searchCity($event)" [matAutocomplete]="cityAuto" formControlName="city" matInput
                     placeholder="City">
              <mat-autocomplete #cityAuto="matAutocomplete" [displayWith]="displayFn" id="city">
                <mat-option *ngFor="let city of cities" [value]="city">
                  {{city.name}}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="!accountFormGroup.get('city').valid">
                City is required
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-icon color="primary" matPrefix svgIcon="place"></mat-icon>
              <input formControlName="state" matInput placeholder="State/Administrative">
              <mat-error *ngIf="!accountFormGroup.get('state').valid">
                State/Administrative is required
              </mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px" fxLayoutGap.xs="0">
            <mat-form-field>
              <mat-icon color="primary" matPrefix svgIcon="place"></mat-icon>
              <input (keyup)="searchCountry($event)" [matAutocomplete]="countryAuto" formControlName="country"
                     matInput placeholder="Country">
              <mat-autocomplete #countryAuto="matAutocomplete">
                <mat-option *ngFor="let country of countries" [value]="country">
                  {{country}}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="!accountFormGroup.get('country').valid">
                Country is required
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-icon color="primary" matPrefix svgIcon="mailbox"></mat-icon>
              <input formControlName="postal" matInput placeholder="Zip/Postal Code">
              <mat-error *ngIf="!accountFormGroup.get('postal').valid">
                Zip/Postal Code is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="end">
        <button (click)="onSave();"
                color="accent"
                mat-raised-button
                type="submit">
          Update
        </button>
      </div>
    </div>
  </form>
</div>
