<div fxLayout="column">
    <div fxLayout="row" fxLayout.lt-sm="column">

        <div fxFlex>
            <iframe src="https://kwee.ovh/grafana/d-solo/9N5atSjmk/general?orgId=1&from=1558441251162&to=1558462851162&theme=light&panelId=19" width="100%" height="100%" frameborder="0"></iframe>
        </div>

    </div>
    <div fxLayout="row" fxLayout.lt-sm="column">
        
            <div fxFlex>
                <iframe src="https://kwee.ovh/grafana/d-solo/9N5atSjmk/general?orgId=1&from=1558441145149&to=1558462745149&theme=light&panelId=2" width="100%" height="100%" frameborder="0"></iframe>            
            </div>
            <div fxFlex>
                <iframe src="https://kwee.ovh/grafana/d-solo/9N5atSjmk/general?orgId=1&from=1558441181679&to=1558462781679&theme=light&panelId=9" width="100%" height="100%" frameborder="0"></iframe>
            </div>
    </div>
    <div fxFlex fxLayout="row" fxLayout.lt-sm="column">
       
            <div fxFlex>
                <iframe src="https://kwee.ovh/grafana/d-solo/9N5atSjmk/general?orgId=1&from=1558441200177&to=1558462800177&theme=light&panelId=14" width="100%" height="100%" frameborder="0"></iframe>
            </div>
            <div fxFlex>
                    <iframe src="https://kwee.ovh/grafana/d-solo/9N5atSjmk/general?orgId=1&from=1558441223116&to=1558462823116&theme=light&panelId=10" width="100%" height="100%" frameborder="0"></iframe>
            </div>
    </div>
    <div fxLayout="row" fxLayout.lt-sm="column">
        
            <div fxFlex>
                <iframe src="https://kwee.ovh/grafana/d-solo/9N5atSjmk/general?orgId=1&from=1558441277581&to=1558462877581&theme=light&panelId=15" width="100%" height="100%" frameborder="0"></iframe>
            </div>
            <div fxFlex>
                <iframe src="https://kwee.ovh/grafana/d-solo/9N5atSjmk/general?orgId=1&from=1558441289559&to=1558462889559&theme=light&panelId=11" width="100%" height="100%" frameborder="0"></iframe>
            </div>
    </div>

    <div fxLayout="row" fxLayout.lt-sm="column">
            <div fxFlex>
                    <iframe src="https://kwee.ovh/grafana/d-solo/9N5atSjmk/general?orgId=1&from=1558441310147&to=1558462910147&theme=light&panelId=4" width="100%" height="100%" frameborder="0"></iframe>
            </div>
            <div fxFlex>
                    <iframe src="https://kwee.ovh/grafana/d-solo/9N5atSjmk/general?orgId=1&from=1558441322732&to=1558462922732&theme=light&panelId=13" width="100%" height="100%" frameborder="0"></iframe>
            </div>
    </div>
</div>