<div fxLayout="column">
    <div fxLayout="row" fxLayout.lt-sm="column">
        <div fxFlex class="container">
                <!-- Revenue count -->
            <iframe src="https://kwee.ovh/grafana/d-solo/9N5atSjmk/general?orgId=1&from=1556661600000&to=1559339999999&panelId=19&theme=dark" width="100%" height="100%" frameborder="0"></iframe>
        </div>
        <div fxFlex class="container">
                <!-- Offers count -->
            <iframe src="https://kwee.ovh/grafana/d-solo/9N5atSjmk/general?orgId=1&from=1556661600000&to=1559339999999&panelId=15&theme=dark" width="100%" height="100%" frameborder="0"></iframe>
        </div>
    </div>

    <div fxLayout="row" fxLayout.lt-sm="column">
        <div class="container">
                <!-- Offerers count -->
            <iframe src="https://kwee.ovh/grafana/d-solo/9N5atSjmk/general?orgId=1&from=1556661600000&to=1559339999999&panelId=14&theme=dark" width="100%" height="100%" frameborder="0"></iframe>
        </div>
        <div class="container">
                <!-- Candidates count -->            
            <iframe src="https://kwee.ovh/grafana/d-solo/9N5atSjmk/general?orgId=1&from=1556661600000&to=1559339999999&panelId=2&theme=dark" width="100%" height="100%" frameborder="0"></iframe>
        </div>
    </div>

    <div fxLayout="row" fxLayout.lt-sm="column">
        <div class="container">
            <iframe src="https://kwee.ovh/grafana/d-solo/9N5atSjmk/general?orgId=1&panelId=38&from=1558303200000&to=1558907999999" width="100%" height="100%" frameborder="0"></iframe>
        </div>
        <div class="container">
            <iframe src="https://kwee.ovh/grafana/d-solo/9N5atSjmk/general?orgId=1&panelId=36&from=1558303200000&to=1558907999999" width="100%" height="100%" frameborder="0"></iframe>
        </div>
        <div class="container">
            <iframe src="https://kwee.ovh/grafana/d-solo/9N5atSjmk/general?orgId=1&panelId=37&from=1558303200000&to=1558907999999" width="100%" height="100%" frameborder="0"></iframe>
        </div>
    </div>

    <div fxLayout="row" fxLayout.lt-sm="column">
        <div class="graph">
            <!-- Candidates timeline -->            
            <iframe src="https://kwee.ovh/grafana/d-solo/9N5atSjmk/general?orgId=1&from=1556661600000&to=1559339999999&panelId=24&theme=light" width="100%" height="100%" frameborder="0"></iframe>
        </div>
    </div>

    <div fxLayout="row" fxLayout.lt-sm="column">
        <div class="graph">
            <!-- Offers registration -->            
            <iframe src="https://kwee.ovh/grafana/d-solo/9N5atSjmk/general?orgId=1&from=1556661600000&to=1559339999999&panelId=10&theme=light" width="100%" height="100%" frameborder="0"></iframe>
        </div>
    </div>

    <div fxLayout="row" fxLayout.lt-sm="column">
        <div class="graph">
                <!-- Offers creation -->            
                <iframe src="https://kwee.ovh/grafana/d-solo/9N5atSjmk/general?orgId=1&from=1556661600000&to=1559339999999&panelId=11&theme=light" width="100%" height="100%" frameborder="0"></iframe>
        </div>
    </div>

    <div fxLayout="row" fxLayout.lt-sm="column">
        <div class="table">
            <!-- candidates table -->
            <iframe src="https://kwee.ovh/grafana/d-solo/9N5atSjmk/general?orgId=1&from=1556661600000&to=1559339999999&panelId=4&theme=light" width="100%" height="100%" frameborder="0"></iframe>
        </div>
        <div class="table">
            <!-- offerers table -->
            <iframe src="https://kwee.ovh/grafana/d-solo/9N5atSjmk/general?orgId=1&from=1556661600000&to=1559339999999&panelId=20&theme=light" width="100%" height="100%" frameborder="0"></iframe>
        </div>
    </div>

    <div fxLayout="row" fxLayout.lt-sm="column">
        <div class="table">
            <!-- most offers table -->
            <iframe src="https://kwee.ovh/grafana/d-solo/9N5atSjmk/general?orgId=1&from=1556661600000&to=1559339999999&panelId=13&theme=light" width="100%" height="100%" frameborder="0"></iframe>
        </div>
    </div>



</div>