<div
  style="padding: 16px 0 32px 0"
  fxLayout="column"
  fxFlexOffset="4%"
  fxFlex="92%">
  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap.gt-xs="32px">
    <div fxLayout="column" fxFlex="50">
      <h4>Website</h4>
      <a style="margin-bottom: 16px" [href]="business.website">{{business.website}}</a>
      <h4>Company Size</h4>
      <p>{{getSize()}}</p>
    </div>
    <div fxLayout="column" fxFlex="50">
      <h4>Industry</h4>
      <p>{{business.industry}}</p>
      <h4>Foundation</h4>
      <p>{{business.year | date:'longDate'}}</p>
    </div>
  </div>
  <h4>Location</h4>
  <p
    style="margin: 0"
  >{{business.address}}</p>
  <mgl-map
    style="margin-top: 16px"
    fxLayout="row"
    [style]="'mapbox://styles/mapbox/streets-v9'"
    [zoom]="[8]"
    [center]="[business.location.lat, business.location.long]"
  >
    <mgl-marker
      [lngLat]="[business.location.lat, business.location.long]">
      <mat-icon color="primary" svgIcon="place"></mat-icon>
    </mgl-marker>
  </mgl-map>
</div>
