<mat-menu #menu="matMenu">
  <div class="welcomeMsg">Hi, <strong>Alba</strong>! <br> <a routerLink="/users/:id">View Profile</a></div>
  <hr>
  <button mat-menu-item>
    <mat-icon svgIcon="notifications"></mat-icon>
    <span>Notifications</span>
  </button>
  <button mat-menu-item>
    <mat-icon svgIcon="chat"></mat-icon>
    <span>Messages</span>
  </button>
  <button mat-menu-item>
    <mat-icon svgIcon="people"></mat-icon>
    <span>Manage Users</span>
  </button>
  <button mat-menu-item>
    <mat-icon svgIcon="timeline"></mat-icon>
    <span>Stats</span>
  </button>
  <button mat-menu-item>
    <mat-icon svgIcon="settings"></mat-icon>
    <span>Settings</span>
  </button>
  <hr>
  <button mat-menu-item (click)="logOut()">Sign out</button>
</mat-menu>



<button mat-icon-button class="profileLogo" color="primary">
  <a [matMenuTriggerFor]="menu">
    <mat-icon svgIcon="account-circle"></mat-icon>
    <br>
    <div>Me<div><mat-icon svgIcon="arrow-drop-down"></mat-icon></div></div>
  </a>
</button>
