@import "~src/common-utils";

mat-toolbar {
  background-color: white;
  height: 80px;
}

.logo mat-icon {
  margin-left: -20px;
  margin-top: 4px;
  height: 88px;
  width: 88px;
}

.logo .businessLogo {

  .bLogoDesktop {
    height: 56px;
    padding-left: 32px;
    margin-top: 6px;
  }

  .bLogoMobile {
    height: 88px;
    margin-left: -16px;
    margin-top: 4px;
  }
}

.dark {
  background-color: #546e7a;
}

.white {
  background-color: white;
}

.isLanding {
  background-color: transparent;
}


@media all and (min-width: $phone) {
  .logo mat-icon {
    margin-left: 10%;

    height: 100px;
    width: 175px;
  }

  .user-section {
    margin-right: 5%;
  }
}
