<mat-toolbar fxLayout="row" [ngClass]="{'dark': auth && profileType !== 'candidate', 'white': !auth || profileType === 'candidate'}">
  <div [ngClass]="{'logo': true, 'businessLogo': profileType !== 'candidate'}">
    <a routerLink="/" *ngIf="!auth || profileType === 'candidate'; else business">
      <mat-icon fxHide.gt-xs svgIcon="kwee-icon"></mat-icon>
      <mat-icon fxHide.lt-sm svgIcon="kwee-logo"></mat-icon>
    </a>
    <ng-template #business>
      <a routerLink="/" class="businessLogo">
        <img class="bLogoDesktop" fxHide.lt-sm src="../../../assets/branding/logo-kwee-dark.svg" alt="dark Kwee logo"/>
        <img class="bLogoMobile" fxHide.gt-xs src="../../../assets/branding/iconBnw.svg" alt="dark Kwee icon"/>
      </a>
    </ng-template>
  </div>
  <div fxFlex="grow"></div>
  <div class="user-section">
    <app-user-menu *ngIf="auth"></app-user-menu>
    <app-signupin-section *ngIf="!auth"></app-signupin-section>
  </div>

</mat-toolbar>
