<div fxLayout="row" fxLayoutAlign="center start">
  <div fxFlex="100%">
    <div>
      <mat-sidenav-container fxFlex="100%">
        <mat-sidenav #drawer [mode]="!isMobile() ? 'side' : 'over'" [opened]="!isMobile()" class="mat-typography">
          <h2>Chat List</h2>
          <div *ngIf="areMessages;else no_messages_list" class="container">
            <mat-action-list>
              <div *ngFor="let user of userList">
                <button (click)="selectUser(user.id)" mat-list-item>
                  <!-- <img src="{{user.img}}" alt="Avatar"> -->
                  {{user.name}}
                </button>
              </div>
            </mat-action-list>
          </div>
          <ng-template #no_messages_list>
            <div>
              <p>No users, start a chat first using the <em>Contact</em> button in the Profiles.</p>
            </div>
          </ng-template>
        </mat-sidenav>

        <mat-sidenav-content class="mat-typography"
                             fxFlex="100%"
                             fxFlex.gt-md="60%"
                             fxLayout="column">
          <!-- Message List -->
          <div fxFlex="100%" fxLayout="row">
            <div fxFlex="75%"
                 fxFlex.lt-lg="90%"
                 fxFlex.lt-md="100%"
                 fxFlexOffset="25%"
                 fxFlexOffset.lt-lg="10%"
                 fxFlexOffset.lt-md="0%"
                 style="padding: 0 16px"
                 fxLayout="column"
                 fxLayoutGap="8px">
              <button *ngIf="isMobile()" mat-icon-button>
                <mat-icon (click)="drawer.toggle()" aria-label="Open menu button">menu</mat-icon>
              </button>

              <div class="mat-h1">My Messages</div>
              <div>
                <div *ngIf="isUserSelected && bdMessages.length > 0;else no_user_selected"
                     class="messageList" id="chat-messages" #chat
                     (click)="scrollBottom()"
                     fxFlex="100%" fxLayout="column" fxLayoutGap="8px">
                  <div *ngFor="let message of bdMessages">
                    <div
                      fxLayout="column"
                      [fxLayoutAlign]="message.senderId === authUser.id ? 'start end' : 'start start'">
                      <mat-card
                        [ngClass]="{ 'from': message.senderId !== authUser.id,
                                   'to':  message.senderId === authUser.id }"
                        class="message">
                        <mat-card-content>{{ message.message }}</mat-card-content>
                      </mat-card>
                      <span class="time mat-caption">{{ message.hour|slice:0:5 }}</span>
                    </div>
                  </div>
                </div>
                <ng-template #no_user_selected>
                  <div fxLayout="column" fxLayoutAlign="center center" style="margin: 16px; min-height: 384px">
                    <img alt="Iwi Mascot" src="../../../../assets/branding/iwi.svg" width="128px"/>
                    <p *ngIf="!isUserSelected; else no_messages_yet" style="padding-top: 16px">
                      Please, select a chat first.
                    </p>
                    <ng-template #no_messages_yet>
                      No messages yet, start the conversation sending a message below!
                    </ng-template>
                  </div>
                </ng-template>
              </div>

              <!-- Send Message -->
              <div fxLayout="row">
                <form *ngIf="isUserSelected"
                      #sendInput="ngForm"
                      (ngSubmit)="send(sendInput.value)" action=""
                      fxLayoutGap="16px" fxFlex="100%" fxLayoutAlign="center center"
                      style="padding-bottom: 16px">
                  <mat-form-field fxFlex="75%">
                    <mat-label></mat-label>
                    <input matInput [(ngModel)]="text" autocomplete="off" autofocus class="form-control" name="text"
                           placeholder="Send message..." type="text">
                  </mat-form-field>
                  <div>
                    <button color="accent" mat-raised-button>
                      <mat-icon color="primary" svgIcon="send"></mat-icon>
                      {{isMobile() ? '' : '&nbsp; Send'}}
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>
  </div>
</div>
