// @import "../../common-utils";

// /* Chat containers */
// .container {
//   border: 2px solid #dedede;
//   background-color: #f1f1f1;
//   border-radius: 5px;
//   padding: 10px;
//   margin: 10px 0;
// }

// .list {
//   border: 2px solid #dedede;
//   background-color: #fff;
//   border-radius: 5px;
//   padding: 10px;
//   margin: 5px 35px 5px 5px;
// }

/* Darker chat container */
.darker {
  border-color: #ccc;
  background-color: #ddd;
}

// /* Clear floats */
// .container::after {
//   content: "";
//   clear: both;
//   display: table;
// }

/* Style images */
.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.container img.rightImg {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
}

// // /* Style time text */
// .right {
//   position: relative;
//   float: right;
  // width: 100%;
  // height: 400px;
  // right: 3%;
// }

// /* Style time text */
// .left {
//   position: relative;
//   float: left;
//   width: 15%;
//   height: 400px;
//   left: 3%;
// }
// .box {
//   display: flex;
//   height: 100%;
// }
/* important stuff for this example */

.right p {
  position: relative;
  right: 0;
}
.right p span {
    position: absolute;
    left: 0;
}

.row {
  display:flex;
}
.div1 {
  flex: 0 0 auto;
}

.div2 {
  flex: 2 2 auto; 
  overflow-y: scroll;
  height: 400px;
  border: 1px solid gray;
  border-radius: 5px;
}



/* other stuff */
div {
  padding:1em;
  margin:0.2em;
  background-color: rgba(0,0,0,0.125)
}
.row {
  padding:1em;
  overflow:hidden;
}


body {
  padding: 2em;
}