mat-sidenav {
  min-width: 250px;
}

mat-sidenav-container {
  background-color: white;
}

mat-sidenav {
  width: 256px;

  h2, p {
    padding: 0 16px;
  }
}

.message {
  border-radius: 24px;
  margin: 8px 16px 8px 2px;
  padding: 15px 20px;
  position: relative;
}

.message.to {
  background-color: #212121;
  color: #fff;
  float: right;
  text-align: right;
  border-bottom-right-radius: 2px
}

.message.from {
  background-color: whitesmoke;
  color: #363636;
  float: left;
  border-bottom-left-radius: 2px
}

.time {
  margin-top: -4px;
  padding-right: 16px;
  color: #aaa;
}

.messageList {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 56vh;
}

.selectedChat {
  // font-weight: bold;
  // background-color: rgba(0, 191, 165, 1);
  background-color: rgb(33, 33, 33);
  color: white;
}
