<div fxLayout="row" fxLayoutAlign="center start">
  <div fxFlex="100%">
    <!--    <div class="mat-h1" style="padding: 16px 0 8px 0">My Messages</div>-->
    <div *ngIf="(messagesState|async) && (messagesState | async).messages">
      <mat-sidenav-container fxFlex="100%">
        <mat-sidenav #drawer [mode]="!isMobile() ? 'side' : 'over'" [opened]="!isMobile()" class="mat-typography">
          <h2 style="padding-top: 16px">Chat List
<!--            <button-->
<!--            style="height: 36px !important; margin-left: 56px"-->
<!--            class="newoffer"-->
<!--            color="accent"-->
<!--            mat-raised-button-->
<!--            [routerLink]="(authUser && authUser.type === 'candidate') ? '/search-businesses' : '/search-candidates'"-->
<!--            type="button">{{'New Chat' | uppercase}}</button>-->
          </h2>
          <div *ngIf="(messagesState | async).messages.chats
                      && (messagesState | async).messages.chats.total > 0;
                      else no_messages_list"
               class="container">
            <mat-action-list
              *ngIf="(messagesState | async).messages.chats">
              <div *ngIf="newChat">
                <button (click)="selectUser(newChatId)" mat-list-item
                        [ngClass]="{ 'selectedChat': selectedUserId === newChatId}">
                  <img mat-list-avatar [src]="newChatImgUrl ? apiUrl + newChatImgUrl : '../../assets/img/defaultProfileImg.png'"
                       alt="Avatar">
                  <h3 matLine>
                    {{newChatName.length > 16 ? (newChatName|slice:0:16) + '...' : newChatName}}
                    <span class="mat-caption"></span>
                  </h3>
                  <div class="lasMessage" matLine>
                    <p>Start a new conversation!</p>
                    <span class="mat-caption"></span>
                  </div>
                </button>
              </div>
              <div *ngFor="let user of (messagesState | async).messages.chats.data">
                <button (click)="selectUser(user.id)" mat-list-item
                        [ngClass]="{ 'selectedChat': selectedUserId === user.id}">
                  <img mat-list-avatar [src]="user.img ? apiUrl + user.img : '../../assets/img/defaultProfileImg.png'"
                       alt="Avatar">
                  <h3 matLine>
                    {{user.name.length > 16 ? (user.name|slice:0:16) + '...' : user.name}}
                    <span
                      class="mat-caption">{{getFormattedListDate(user.lastMessage.date, user.lastMessage.hour)}}</span>
                  </h3>
                  <div class="lasMessage" matLine>
                    <p><span class="you">{{user.lastMessage.senderId === authUser.id ? 'You:&nbsp;' : ''}}</span>
                      {{user.lastMessage.message}}
                    </p>
                    <span *ngIf="user.totalUnread > 0 && (selectedUserId !== user.id)" class="mat-caption unreadCount">{{user.totalUnread}}</span>
                  </div>
                </button>
              </div>
            </mat-action-list>
          </div>
          <ng-template #no_messages_list>
            <div>
              <p>No users, start a chat first using the <em>Contact</em> button in the Profiles.</p>
            </div>
          </ng-template>
        </mat-sidenav>

        <mat-sidenav-content class="mat-typography"
                             fxFlex="100%"
                             fxFlex.gt-md="60%"
                             fxLayout="column">
          <!-- Message List -->
          <div fxFlex="100%" fxLayout="row">
            <div fxFlex="75%"
                 fxFlex.lt-lg="90%"
                 fxFlex.lt-md="100%"
                 fxFlexOffset="25%"
                 fxFlexOffset.lt-lg="10%"
                 fxFlexOffset.lt-md="0%"
                 style="padding: 0 16px"
                 fxLayout="column"
                 fxLayoutGap="8px">
              <button *ngIf="isMobile()" mat-icon-button>
                <mat-icon (click)="drawer.toggle()" aria-label="Open menu button">menu</mat-icon>
              </button>

              <div class="mat-h1"
                   style="padding: 16px 0 8px 0">{{
                (selectedUser && selectedUser.name) ? selectedUser.name
                  : newChatName ? newChatName : 'My Chats'}}</div>
              <div
                *ngIf="isUserSelected
                && (messagesState|async).messages.conver
                && (messagesState|async).messages.conver.data
                && (messagesState|async).messages.conver.data.length > 0;else no_user_selected">
                <div class="messageList" id="chat-messages" #chat
                     fxFlex="100%" fxLayout="column" fxLayoutGap="8px">
                  <div *ngFor="let message of (messagesState|async).messages.conver.data">
                    <!-- New Day Chip -->
                    <div *ngIf="isNewDay(message.date)"
                         style="display: flex; align-items: center; margin: 16px 0">
                      <mat-chip-list style="margin: auto;">
                        <mat-chip selected>{{ getDate(message.date) | date:'MMM d, y'}}</mat-chip>
                      </mat-chip-list>
                    </div>

                    <!-- Message -->
                    <div
                      fxLayout="column"
                      [fxLayoutAlign]="message.senderId === authUser.id ? 'start end' : 'start start'">
                      <mat-card
                        [ngClass]="{ 'from': message.senderId !== authUser.id,
                                   'to':  message.senderId === authUser.id }"
                        class="message">
                        <mat-card-content>{{ message.message }}</mat-card-content>
                      </mat-card>
                      <span class="time mat-caption">{{ message.hour|slice:0:5 }}</span>
                    </div>
                  </div>
                </div>
              </div>
              <ng-template #no_user_selected>
                <div fxLayout="column" fxLayoutAlign="center center" style="margin: 16px; min-height: 56vh;">
                  <img alt="Iwi Mascot" src="../../../../assets/branding/iwi.svg" width="144px"
                       style="padding-bottom: 16px"/>
                  <p *ngIf="!isUserSelected; else no_messages_yet">
                    Please, select a chat first.
                  </p>
                  <ng-template #no_messages_yet>
                    No messages yet, start the conversation sending a message below!
                  </ng-template>
                </div>
              </ng-template>

              <!-- Send Message -->
              <div fxLayout="row">
                <form *ngIf="isUserSelected"
                      #sendInput="ngForm"
                      (ngSubmit)="send(sendInput.value)" action=""
                      fxLayoutGap="16px" fxFlex="100%" fxLayoutAlign="center center"
                      style="padding-bottom: 16px">
                  <mat-form-field fxFlex="75%">
                    <mat-label></mat-label>
                    <input matInput [(ngModel)]="text" autocomplete="off" autofocus class="form-control" name="text"
                           placeholder="Send message..." type="text">
                  </mat-form-field>
                  <div>
                    <button color="accent" mat-raised-button>
                      <mat-icon color="primary" svgIcon="send"></mat-icon>
                      {{isMobile() ? '' : '&nbsp; Send'}}
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>
  </div>
</div>
