<div class="grid-container grid-container--fit row">
  <div *ngIf="areMessages;else no_messages_list" class="container grid-element div1">
    <div *ngFor="let user of userList" class="list">
      <button (click)="selectUser(user.id)">
        <!-- <img src="{{user.img}}" alt="Avatar"> -->
        <p>{{user.name}}</p>
      </button>
    </div>
  </div>
  <ng-template #no_messages_list>
    <div class="list">
      <p>No users</p>
    </div>
  </ng-template>
  <div *ngIf="userSelected;else no_user_selected" class="container grid-element div2" #chat id="chat-messages">
    <div *ngFor="let message of bdMessages" class="container darker">
      <!-- <img src="/w3images/avatar_g2.jpg" alt="Avatar" class="righImg"> -->
      <span *ngIf="message.senderId == authUser.id;else receiver">
                <p class="right">{{ message.message }}
                  <span class="time-left">{{ message.hour }}</span>
                </p>
            </span>
      <ng-template #receiver>
        <p>{{ message.message }}
          <span class="time-right">{{ message.hour }}</span>
        </p>
      </ng-template>

    </div>
  </div>
  <ng-template #no_user_selected>
    <div class="container">
      <p>Please, select first some user</p>
    </div>
  </ng-template>
</div>
<div class="container right">
  <form (ngSubmit)="send()" action="">
    <input #sendText [(ngModel)]="text" autocomplete="off" autofocus class="form-control" name="text"
           placeholder="Send message..." type="text">
    <button>Enviar</button>
  </form>
</div>
