.top {
  background-color: #455a64;
  margin: 0;
  color: #ffffff;
  padding: 16px 16px 5px;
}

.content {
  padding: 0px 16px;
  margin: 0 !important;
}

.card {
  padding: 0 !important;
}

.ft {
  padding: 32px !important;
}


mat-list-item p::before {
  content: "\16EB  ";
}
