<div fxLayout="row"
     fxLayoutAlign="center center">
  <mat-card fxLayout="column"
            fxFlex="95%" fxFlex.gt-sm="75%" fxFlex.gt-md="60%" fxFlex.gt-lg="50%">
    <mat-card-header fxLayoutAlign="space-between">
      <mat-card-title fxLayout="row" fxLayoutGap="16px">
        <span>{{offer.title}}</span>
        <mat-chip-list fxHide fxShow.gt-sm>
          <mat-chip color="primary" selected style="pointer-events: none">{{ getOfferStatus() | titlecase}}</mat-chip>
        </mat-chip-list>
      </mat-card-title>
      <mat-card-subtitle>
        <span style="cursor: pointer" [routerLink]="'/business/' + offer.companyId + '/' + offer.companyName + '/'">
          <app-offerer-name-overview [index]="offer.companyIndex"
                                     [name]="offer.companyName"></app-offerer-name-overview>
        </span>
      </mat-card-subtitle>
      <div
        class="quickInfo"
        fxLayout="row"
        fxLayout.lt-md="column"
        fxLayoutAlign="end start"
        fxHide.lt-sm
        fxLayoutGap="16px">
        <app-icon-with-text icon="access-time" [text]="getTimePassed()"></app-icon-with-text>
        <app-icon-with-text icon="alarm" [text]="offer.selectionStartDate | date"></app-icon-with-text>
      </div>
      <mat-card-subtitle
        fxLayout="row"
        class="quickInfo"
        fxHide.gt-xs
        fxLayoutGap="16px">
        <app-icon-with-text icon="access-time" [text]="getTimePassed()"></app-icon-with-text>
        <app-icon-with-text icon="alarm" [text]="offer.selectionStartDate | date"></app-icon-with-text>
        <mat-chip-list>
          <mat-chip color="primary" selected style="pointer-events: none">{{ getOfferStatus() | titlecase}}</mat-chip>
        </mat-chip-list>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content fxLayout="column" style="margin-left: 16px" fxLayoutGap="24px">
      <div
        fxLayoutGap="16px"
        fxLayout="row" fxLayout.lt-sm="column">
        <img fxFlex="25%" fxFlex.lt-sm="100%"
             fxLayoutAlign="center center"
             alt="Business Logo"
             style="object-fit: cover; height: 150px;"
             src="https://cdn.vox-cdn.com/thumbor/Pkmq1nm3skO0-j693JTMd7RL0Zk=/0x0:2012x1341/1200x800/filters:focal(0x0:2012x1341)/cdn.vox-cdn.com/uploads/chorus_image/image/47070706/google2.0.0.jpg">
        <p>
          {{ offer.description }}
        </p>
      </div>

      <div fxLayout="column">
        <h2 class="mat-h2">Details</h2>
        <div
          fxLayout="row"
          fxLayoutGap="8px"
          fxLayoutAlign="start start"
          style="margin-bottom: 16px">
          <div fxFlex="33%" fxFlex.lt-sm="100%"
               fxLayoutAlign="start start"
               fxLayout="column"
               fxLayoutGap="8px">
            <app-icon-with-text icon="date-range" [text]="getOfferDuration() | lowercase"></app-icon-with-text>
            <app-icon-with-text icon="local-atm" [text]="getOfferSalary()"></app-icon-with-text>
            <app-icon-with-text icon="face" [text]="getOfferSeniorityLevel()"></app-icon-with-text>
          </div>
          <div fxFlex="33%" fxFlex.lt-sm="100%"
               fxLayoutAlign="start start"
               fxLayout="column"
               fxLayoutGap="8px">
            <app-icon-with-text icon="work" [text]="getOfferContractType()"></app-icon-with-text>
            <app-icon-with-text icon="place" [text]="getOfferLocation()"></app-icon-with-text>
            <app-icon-with-text icon="people" [text]="getOfferApplications()"></app-icon-with-text>
          </div>
          <div fxHide.lt-sm
               fxFlex="33%"
               fxLayoutGap="8px">
            <button color="primary" mat-raised-button>{{'Apply Now!' | uppercase }}</button>
            <button mat-icon-button>
              <mat-icon aria-label="Share offer in social networks" color="accent" svgIcon="share"></mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div fxHide.gt-xs
           fxFlex="100%"
           fxLayoutGap="8px"
           fxLayoutAlign="center"
           style="padding-bottom: 16px">
        <button color="primary" mat-raised-button>{{'Apply Now!' | uppercase }}</button>
        <button mat-icon-button>
          <mat-icon aria-label="Share offer in social networks" color="accent" svgIcon="share"></mat-icon>
        </button>
      </div>

      <div fxLayout="column">
        <h2 class="mat-h2">Responsibilities</h2>
        <div
          fxLayout="row"
          style="white-space: pre-wrap; margin-bottom: 16px">
          {{offer.responsibilities}}
        </div>
      </div>

      <div fxLayout="column">
        <h2 class="mat-h2">Requirements</h2>
        <div
          fxLayout="row"
          style="white-space: pre-wrap; margin-bottom: 16px">
          {{offer.requirements}}
        </div>
      </div>

      <div fxLayout="column">
        <h2 class="mat-h2">Skills</h2>
        <div
          fxLayout="row"
          fxLayout.lt-sm="column">
          <mat-list
            fxFlex.lt-sm="100%" fxFlex="50%"
            style="padding-top: 0">
            <div
              style="margin-left: -20px"
              *ngFor="let skill of offer.skills; let i = index">
              <mat-list-item
                *ngIf="i % 2 === 0">
                <mat-icon color="primary">chevron_right</mat-icon>
                {{' ' + skill}}</mat-list-item>
            </div>
          </mat-list>
          <mat-list
            fxFlex.lt-sm="100%" fxFlex="50%"
            style="padding-top: 0">
            <div
              style="margin-left: -20px"
              *ngFor="let skill of offer.skills; let i = index">
              <mat-list-item *ngIf="i % 2 !== 0">
                <mat-icon color="primary">chevron_right</mat-icon>
                {{' ' + skill}}</mat-list-item>
            </div>
          </mat-list>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
