<h2 class="mat-h1">Search Candidates</h2>

<mat-sidenav-container
  fxLayout="column">
  <mat-sidenav-content
    fxFlex="96%" fxFlex.gt-sm="75%"
    fxLayout="column"
    fxLayoutGap="16px" fxLayoutGap.gt-sm="32px">

    <div fxLayoutGap="8px" fxLayoutAlign="center center" fxLayout="column">
      <app-user-preview-card *ngFor="let user of (adminState | async).candidates.data;" [user]="user">
      </app-user-preview-card>
    </div>


    <mat-paginator (page)="pageEvent = $event;  changePage();"
                   [length]="(adminState | async).candidates.total"
                   [pageSizeOptions]="pageSizeOptions"
                   [pageSize]="pageSize">
    </mat-paginator>
  </mat-sidenav-content>
</mat-sidenav-container>


<!--<h3>Profile Completion</h3>-->
<!--<section fxLayout="column">-->
  <!--<mat-checkbox>-->
    <!--Complete Profiles-->
  <!--</mat-checkbox>-->
  <!--<mat-checkbox>-->
    <!--With Education-->
  <!--</mat-checkbox>-->
  <!--<mat-checkbox>-->
    <!--With Experience-->
  <!--</mat-checkbox>-->
  <!--<mat-checkbox>-->
    <!--With Languages-->
  <!--</mat-checkbox>-->
  <!--<mat-checkbox>-->
    <!--With Skills-->
  <!--</mat-checkbox>-->
<!--</section>-->
