<div fxLayout="column">
  <div fxFlex="100%" style="margin: 8px 0 32px 16px">
    <h2 class="mat-h1">Search Candidates</h2>
  </div>
  <mat-sidenav-container
    style="min-height: 1128px"
    fxLayout="column">

    <mat-sidenav #drawer
                 [autoFocus]="false"
                 [mode]="!isMobile() ? 'side' : 'over'"
                 [opened]="!isMobile()"
                 class="mat-typography">

      <app-filters-candidate></app-filters-candidate>

    </mat-sidenav>

    <mat-sidenav-content
      fxFlex="96%" fxFlex.gt-sm="75%"
      fxLayout="column"
      fxLayoutGap="16px" fxLayoutGap.gt-sm="32px">

      <div
        fxLayout="row"
        fxLayoutAlign="center"
        fxLayoutGap="8px">
        <app-searchbar
          searchHint="Designer..."
          (search)="onSearch($event)" fxFlex="40%" fxFlex.lt-lg="60%">
        </app-searchbar>
        <app-orderby-button (changeSelectedValue)="getOrderby($event)" [orderBy]="order"
                            style="padding-top: 4px"></app-orderby-button>
        <div style="padding-top: 4px">
          <button color="primary"
                  fxHide.gt-sm
                  mat-raised-button>
            <mat-icon (click)="drawer.toggle()" aria-label="Open filters" svgIcon="filter-list"></mat-icon>
          </button>
        </div>
      </div>

      <div *ngIf="!(adminState | async).candidates || (adminState | async).candidates.message === 'No results'"
           fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px">
        <h4 class="mat-h3">No results found.</h4>
        <p class="mat-typography">Your search returned no results. Try shortening or rephrasing your search.</p>
      </div>

      <div
        *ngIf="(adminState | async).candidates.data && (adminState | async).candidates.message === 'No results but maybe this is interesting for you'"
        fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px">
        <h4 class="mat-h3">No results found.</h4>
        <p class="mat-typography">But maybe this is interesting for you</p>
      </div>

      <div *ngIf="(adminState | async).candidates" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px">
        <app-candidate-preview-card *ngFor="let user of (adminState | async).candidates.data;" [user]="user">
        </app-candidate-preview-card>
      </div>


      <mat-paginator (page)="pageEvent = $event;  changePage();" *ngIf="(adminState | async).candidates"
                     [length]="(adminState | async).candidates.total"
                     [pageSizeOptions]="pageSizeOptions"
                     [pageSize]="pageSize">
      </mat-paginator>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
