<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div class="item item-1" fxFlex="80%" fxFlex.xl="50%">
    <mat-tab-group mat-align-tabs="center">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon" svgIcon="person"></mat-icon>
          Candidate
        </ng-template>
        <app-signup-candidate></app-signup-candidate>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon" svgIcon="domain"></mat-icon>
          Business
        </ng-template>
        <app-signup-offerer></app-signup-offerer>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
