@import "../../../common-utils";
@import '../../../../node_modules/@angular/material/theming';

.example-card {
  max-width: 600px;
}

mat-card-title {
  margin-top: -4px;
  font-size: 1.6rem !important;
}

app-icon-with-text {
  font-size: 0.85rem;
  color: mat-color($mat-blue-gray, 700);
}

img {
  max-width: 25%;
  height: 100px;
  border-radius: 5px;
  margin-right: 16px;
  object-fit: contain;
  float: left;
}

mat-card-content {
  p {
    margin-top: 0;
    font-size: 0.9rem;
  }
}

.quickInfo {
  display: flex;
  max-width: 45%;
}

@media all and (max-width: ($phone - 1px)) {
  img {
    max-width: 100%;
  }

  .quickInfo {
    max-width: 100%;
    margin-top: 8px !important;
  }

  .example-card {
    max-width: 88%;
  }
}
