@import '~src/common-utils.scss';

mat-expansion-panel p {
  font-size: 1rem;
  font-weight: normal;
  line-height: normal;
}

mat-panel-title .mat-button {
  font-size: 0.9rem;
}

.rating {
  background: #444B54;
  padding: 12px 8px;
  margin: 8px 0 0 0;
  border-radius: 3px;

  span {
    color: white;
    font-size: 2rem;
    width: 100%;
    text-align: center;
  }
}

.usefulness {
  span {
    margin-right: 4px;
    font-size: 1.1rem;
    margin-top: 8px;
  }

  button {
    margin-top: -2px;
    margin-left: -10px;
  }
}

::ng-deep .opinionDetails .mat-expansion-panel-body {
  padding: 0 !important;
}

mat-expansion-panel h4 {
  margin-left: 16px;
}

mat-list-item {

  span {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background: #444B54;
    color: white;
    text-align: center;
    margin-right: 8px;
  }
}

mat-icon {
  @include md-icon-size(20px)
}


