<div
  fxLayout="column"
  fxFlexOffset="4%"
  fxFlex="92%"
  fxFlex.gt-sm="60%"
  style="margin-bottom: 16px">
  <h2 style="margin-bottom: 0">
    Opinions
  </h2>
  <p>Here you'll be able to find what other users have to say about his/her way of working, and other professional
    abilities. </p>
  <mat-card *ngFor="let opinion of opinions"
            [ngClass]="{
              'mat-elevation-z0' : !panelOpenState
            }"
  >
    <mat-card-title>
      {{opinion.offerTitle}}
    </mat-card-title>
    <mat-card-subtitle>
      {{opinion.userName + " - " + getPublishedDate(opinion.publishedAt)}}
    </mat-card-subtitle>
    <mat-card-content>
      <p>{{opinion.opinion}}</p>
      <mat-expansion-panel
        class="mat-elevation-z0"
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title fxLayoutAlign="end">
            <p class="mat-button">More Details</p>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <h4>Details</h4>

      </mat-expansion-panel>
    </mat-card-content>
  </mat-card>
</div>
