mat-sidenav-container {
  height: 500px;
}

mat-sidenav {
  width: 250px;
}

mat-sidenav-content {
  padding-left: 24px;
  background-color: white;
}

button mat-icon {
  margin-right: 8px;
}

.mat-badge-content {
  right: -1px !important;
  top: -1px !important;
  font-size: 0.6rem;
  color: white;
}
