// Sidebar
mat-sidenav-container {
  background-color: white;
}

h2 {
  padding: 16px 0 0 20px;
  margin: 0;
}

mat-sidenav {
  width: 192px;
}

mat-sidenav-content {
  padding-left: 16px;
  padding-bottom: 24px;
}
