<div [formGroup]="experiences">

  <div fxLayout="column" fxLayoutGap="16px">
    <div *ngIf="this.formExperience.value" fxLayout="column" fxLayoutGap="16px">

      <div *ngFor="let ex of this.formExperience.controls; let s =index;" formArrayName="experience"
           fxLayout="column"
           fxLayoutGap="16px">
        <div [formGroupName]="s" fxFlex=80%; fxLayout="column">
          <mat-accordion>
            <mat-checkbox #toggle [checked]="true" style="display: none"></mat-checkbox>
            <mat-expansion-panel [(expanded)]="toggle.checked">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <span *ngIf="title.value; else titled">{{title.value}}</span>
                  <ng-template #titled><span>Title</span></ng-template>
                </mat-panel-title>
                <mat-panel-description fxHide fxShow.gt-xs>
                    <span *ngIf="onCheck(istart,iend,s)
                    ; else date">
                    From: {{istart.value}} to: 
                    <span *ngIf="iend.value && !iend.disabled">
                    {{iend.value}} </span>
                    <span *ngIf="current.checked">
                    Current</span>
                    </span>
                  <ng-template #date><span>Date</span></ng-template>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div fxLayout="column" fxLayout.xs="column" fxLayoutGap="16px" fxLayoutGap.xs="0">
                <mat-form-field>
                  <input
                    #title
                    class="form-control"
                    formControlName="title"
                    matInput
                    placeholder="Title" required
                    type="text">
                  <mat-error
                    *ngIf="!experiences.get('experience').controls[s].controls.title.valid &&
                        experiences.get('experience').controls[s].controls.title.touched">
                    Please enter a title
                  </mat-error>
                </mat-form-field>

              </div>
              <!--------------------------------------------------->
              <div fxLayout="column" fxLayout.xs="column" fxLayoutGap="16px" fxLayoutGap.xs="0">
                <mat-form-field>
                  <input
                    class="form-control"
                    formControlName="company"
                    matInput
                    placeholder="Company" type="text">
                </mat-form-field>
              </div>
              <!--------------------------------------------------->
              <div fxLayout="row"
                   fxLayout.xs="column"
                   fxLayoutAlign.xs="center start"
                   fxLayoutGap="16px"
                   fxLayoutGap.xs="0px">
                <mat-form-field fxFlex="30%">
                  <input #istart [matDatepicker]="start" formControlName="start" matInput placeholder="Start">
                  <mat-datepicker-toggle [for]="start" matPrefix></mat-datepicker-toggle>
                  <mat-datepicker #start

                                  (monthSelected)="chosenMonthHandler($event, start, s)"
                                  (yearSelected)="chosenYearHandler($event, s)"
                                  panelClass="example-month-picker"
                                  startView="multi-year"
                  ></mat-datepicker>
                  <mat-hint>Month and Year only</mat-hint>

                  <mat-error
                    *ngIf="onWhatExS(s,istart)"
                  >
                    Please enter a valid date
                  </mat-error>

                  <mat-error
                    *ngIf="experiences.get('experience').controls[s].controls.start.hasError('tooYoung')"
                  >
                    Please enter a date before today
                  </mat-error>
                  <mat-error #dsds
                             *ngIf="experiences.get('experience').controls[s].controls.start.hasError('tooOld')"
                  >
                    Your date is too old
                  </mat-error>
                  <mat-error
                    *ngIf="experiences.get('experience').controls[s].controls.start.hasError('matDatepickerParse')"
                  >
                    Please enter a valid date
                  </mat-error>

                </mat-form-field>

                <!--------------------------------------------------->
                <p> To: </p>
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
                  <mat-form-field fxFlex="50%" fxFlex.xs="70%">
                    <input #iend [matDatepicker]="end" formControlName="end" id="{{'toExp'+s}}" matInput
                           placeholder="End">
                    <mat-datepicker-toggle [for]="end" matPrefix></mat-datepicker-toggle>
                    <mat-datepicker #end
                                    (monthSelected)="chosenMonthHandlerEnd($event, end, s)"
                                    (yearSelected)="chosenYearHandlerEnd($event, s)"
                                    [disabled]="current.checked"
                                    panelClass="example-month-picker"
                                    startView="multi-year"
                    ></mat-datepicker>
                    <mat-hint>Month and Year only</mat-hint>
                    <mat-error
                      *ngIf="onWhatExE(s,iend)"
                    >
                      Please enter a valid date
                    </mat-error>

                    <mat-error
                      *ngIf="experiences.get('experience').controls[s].controls.end.hasError('tooYoung') && experiences.get('experience').controls[s].controls.end.touched && !current.checked"
                    >
                      Please enter a date before today
                    </mat-error>
                    <mat-error
                      *ngIf="experiences.get('experience').controls[s].controls.end.hasError('tooOld') && experiences.get('experience').controls[s].controls.end.touched && !current.checked"
                    >
                      Your date is too old
                    </mat-error>
                    <mat-error
                      *ngIf="experiences.get('experience').controls[s].controls.end.hasError('matDatepickerParse')"
                    >
                      Please enter a valid date
                    </mat-error>
                  </mat-form-field>

                  <mat-checkbox #current (change)="onChange($event, s, dsds)">Current</mat-checkbox>
                </div>
              </div>
              <br>
              <!--------------------------------------------------->
              <div fxLayout="column" fxLayout.xs="column">
                <mat-form-field>
                  <textarea formControlName="description" matInput placeholder="Description"></textarea>
                </mat-form-field>
              </div>
              <div fxLayout="row"
                   fxLayoutAlign="end" fxLayoutGap="0"
                   fxLayoutGap.gt-sm="8px">
                <div>
                  <button (click)="deleteExperience(s)" color="warn" mat-button type="button">Delete</button>
                </div>
                <div>
                  <button (click)="toggle.checked=!onDoneEx(s)"
                          color="accent"
                          mat-button type="button">Done
                  </button>

                </div>

              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </div>
    <div class="divBtn" fxLayout="column" fxLayoutAlign="end">
      <button (click)=" addExperience()" mat-button type="button">
        Add
      </button>
    </div>
  </div>
</div>
