<mat-horizontal-stepper #stepper linear="true">
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Choose sign up method</ng-template>
      <h2>Choose your favourite method to sign up!</h2>
        <div class="container"
             fxLayout="column"
             fxLayoutAlign="center center"
             fxLayoutGap="8px">
        <div class="signupButton">
          <button mat-raised-button matStepperNext type="button">
            <mat-icon class="svg" color="accent" svgIcon="email"></mat-icon>
            <span>Continue with email</span>
          </button>
        </div>
        <div class="signupButton">
          <button (click)="gitHubSignUp(stepper)" color="primary" mat-raised-button type="button">
            <mat-icon fontIcon="fa-github" fontSet="fab"></mat-icon>
            <span>Continue with GitHub</span>
          </button>
        </div>
        <div class="signupButton">
          <button (click)="linkedInSignUp(stepper)" color="primary" id="linkedinBtn" mat-raised-button type="button">
            <mat-icon fontIcon="fa-linkedin-in" fontSet="fab"></mat-icon>
            <span>Continue with LinkedIn</span>
          </button>
        </div>
        <div class="signupButton">
          <button (click)="googleSignUp(stepper)" color="primary" id="googleBtn" mat-raised-button type="button">
            <mat-icon fontIcon="fa-google" fontSet="fab"></mat-icon>
            <span>Continue with Google</span>
          </button>
        </div>
        <div class="signupButton">
          <button (click)="twitterSignUp(stepper)" color="primary" id="twitterBtn" mat-raised-button type="button">
            <mat-icon fontIcon="fa-twitter" fontSet="fab"></mat-icon>
            <span>Continue with Twitter</span>
          </button>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" editable="false">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Fill in your info</ng-template>
      <div class="container"
           fxFlex="100%"
           fxFlex.gt-md="60%"
           fxFlexOffset="15%"
           fxFlexOffset.xs="0"
           fxLayout="column"
           fxLayoutAlign="center"
           fxLayoutGap="8px">
        <div fxLayout="row"><h2>Fill in the information below to be set to go!</h2></div>
        <div class="line1" fxLayout="column">
          <mat-form-field>
            <input formControlName="name" matInput placeholder="Full name" required>
            <mat-icon color="primary" matPrefix svgIcon="person"></mat-icon>
            <mat-error *ngIf="!secondFormGroup.get('name').valid ">
              This field is required
            </mat-error>
          </mat-form-field>
        </div>
        <br *ngIf="!isSocialNetwork">
        <div *ngIf="!isSocialNetwork" fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px" fxLayoutGap.xs="0">
          <mat-form-field>
            <input formControlName="email" matInput placeholder="Email" required>
            <mat-icon color="primary" matPrefix svgIcon="email"></mat-icon>
            <mat-error *ngIf="!secondFormGroup.get('email').valid ">
              Please enter a valid email
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input formControlName="confEmail" matInput placeholder="Confirm Email" required>
            <mat-error *ngIf="!secondFormGroup.get('confEmail').valid ">
              Emails do not match
            </mat-error>
          </mat-form-field>
        </div>
        <br *ngIf="!isSocialNetwork">
        <div *ngIf="!isSocialNetwork" fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px" fxLayoutGap.xs="0">
          <mat-form-field>
            <mat-icon color="primary" matPrefix svgIcon="lock"></mat-icon>
            <input [type]="hide ? 'text' : 'password'" formControlName="password" matInput placeholder="Password"
                   required>
            <mat-error *ngIf="!secondFormGroup.get('password').valid ">
              Password must be 6 characters or more
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input [type]="hide ? 'text' : 'password'" formControlName="password2" matInput
                   placeholder="Confirm Password" required>
            <mat-icon (click)="hide = !hide" [svgIcon]="hide ? 'visibility' : 'visibility-off'" color="primary"
                      matSuffix></mat-icon>
            <mat-error *ngIf="!secondFormGroup.get('password2').valid">
              Passwords do not match
            </mat-error>
          </mat-form-field>
        </div>
        <br>
        <div fxLayout="row" fxLayout.xs="column">
          <mat-form-field>
            <input [matDatepicker]="picker" formControlName="birthday" matInput placeholder="Birthday" required>
            <mat-datepicker-toggle [for]="picker" matPrefix></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="secondFormGroup.get('birthday').hasError('required') ">
              This field is required
            </mat-error>
            <mat-error
              *ngIf="!secondFormGroup.get('birthday').valid && !secondFormGroup.get('birthday').hasError('required') &&
              !secondFormGroup.get('birthday').hasError('min16years')
              && !secondFormGroup.get('birthday').hasError('tooOld')">
              Please enter a valid date<!--You must be over 16 years old-->
            </mat-error>
            <mat-error
              *ngIf="secondFormGroup.get('birthday').hasError('min16years')"
            >
              You must be at least 16 years old
            </mat-error>
            <mat-error
              *ngIf="secondFormGroup.get('birthday').hasError('tooOld')"
            >
              Your date is too old
            </mat-error>
          </mat-form-field>
        </div>
        <br>
        <div fxLayout="row" fxLayout.xs="column">
          <mat-form-field>
            <input (keyup)="onKey($event)" [matAutocomplete]="auto" formControlName="location" id="city" matInput
                   placeholder="Location" required>
            <mat-hint>City and Country</mat-hint>
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let option of options; index as i" [value]="option">
                {{option.name}}
              </mat-option>
            </mat-autocomplete>
            <mat-icon color="primary" matPrefix svgIcon="place"></mat-icon>
            <mat-error *ngIf="!secondFormGroup.get('location').valid ">
              This field is required
            </mat-error>
          </mat-form-field>
        </div>
        <br>
        <div fxLayout="row" fxLayout.xs="column">
          <mat-form-field>
            <mat-select formControlName="role" placeholder="Role" required>
              <mat-option *ngFor="let role of roles" [value]="role.value">
                {{role.viewValue}}
              </mat-option>
            </mat-select>
            <mat-icon color="primary" matPrefix svgIcon="work"></mat-icon>

            <mat-error *ngIf="!secondFormGroup.get('role').valid ">
              This field is required
            </mat-error>

          </mat-form-field>
        </div>
        <br>
        <div fxLayout="row" fxLayoutAlign="end">
          <button color="primary" mat-button matStepperPrevious type="button">Back</button>
          <button (click)="onSave(stepper);" color="accent" mat-button type="button">Sign Up!</button>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Your're in!</ng-template>
      <div class="container"
           fxFlex="100%"
           fxFlex.gt-md="60%"
           fxFlexOffset="15%"
           fxFlexOffset.xs="0"
           fxLayout="column"
           fxLayoutAlign="center">
        <div fxLayout="column">
          <h2 fxLayoutAlign="center center">✨ Welcome to the Kwee family! ✨</h2>
          <p>Complete your profile to increase your visibility and help you find the job you want!</p>
        </div>
        <br>

        <div fxLayout="column">
          <h4>Profile picture</h4>
          <p>Click on the image or the button to add a image to your profile</p>
          <label for="file_profile"><img
            alt="default profile picture"
            fxFlex="200px"
            fxlayout="column"
            height="200px" id="photo_profile"
            src="../../../../assets/img/defaultProfileImg.png"
            width="200px"/></label>
          <label for="file_profile">
            <button (click)="profile.click()" class="photo-buttons" color="primary" mat-raised-button
                    type="button">Upload photo
            </button>
          </label>
          <input #profile (change)="previewFile($event)" accept="image/*"
                 formControlName="profile" id="file_profile" style="width: 0px; height: 0px;" type="file">
          <button (click)='previewFile(this.fileEvent)' [disabled]="! profile.value" class="photo-buttons"
                  color="primary" mat-raised-button
                  type="button">Crop again
          </button>
          <button (click)="deletePhoto()" class="photo-buttons" color="warn" mat-raised-button
                  type="button">Delete Photo
          </button>
        </div>
        <br>
        <div fxLayout="column">
          <h4>Bio</h4>
          <mat-form-field>
            <textarea formControlName="bio" matInput placeholder="Leave a comment"></textarea>
          </mat-form-field>
        </div>
        <br>

        <h4>Social Media</h4>
        <p>You can link your social media accouts to your profile. Just type your username</p>
        <div class="line1" fxLayout="column">
          <mat-form-field>
            <input formControlName="twitter" matInput placeholder="Twitter username">
            <mat-icon class="social-icons" color="primary" fontIcon="fa-twitter" fontSet="fab" matPrefix></mat-icon>
          </mat-form-field>
        </div>
        <div class="line1" fxLayout="column">
          <mat-form-field>
            <input formControlName="github" matInput placeholder="Github username">
            <mat-icon class="social-icons" color="primary" fontIcon="fa-github" fontSet="fab" matPrefix></mat-icon>
          </mat-form-field>
        </div>
        <div class="line1" fxLayout="column">
          <mat-form-field>
            <input formControlName="linkedIn" matInput placeholder="LinkedIn username">
            <mat-icon class="social-icons" color="primary" fontIcon="fa-linkedin-in" fontSet="fab" matPrefix></mat-icon>
          </mat-form-field>
        </div>
        <div class="line1" fxLayout="column">
          <mat-form-field>
            <input formControlName="telegram" matInput placeholder="Telegram username">
            <mat-icon class="social-icons" color="primary" fontIcon="fa-telegram" fontSet="fab" matPrefix></mat-icon>
          </mat-form-field>
        </div>
        <br>
        <!--------------------------------------------------->
        <h4>Experience</h4>
        <p>If you want to add an experience card, click on the "Add" button</p>
        <app-experience-forms (formReady)="formInitialized('experience', $event)"></app-experience-forms>
        <br>
        <!--------------------------------------------------->
        <h4>Education</h4>
        <p>If you want to add an education card, click on the "Add" button</p>
        <app-education-forms (formReady)="formInitialized('education', $event)"></app-education-forms>
        <br>
        <!--------------------------------------------------->
        <h4>Skills:</h4>
        <p>If you want to add a skill, write it and click on the "Add" button</p>
        <div fxLayout="row" fxLayoutGap="16px">
          <div formArrayName="skills" fxFlex="50%" fxLayout="column" fxLayoutGap="-16px">
            <mat-form-field *ngFor="let skill of formSkills.controls; let i =index;">
              <input (keyup.enter)='add_skill()'
                     [formControlName]="i"
                     class="form-control"
                     id="{{'skill'+i}}"
                     matInput type="text">


              <button (click)="deleteSkill(i)" *ngIf="this.formSkills.controls[i].value && this.formSkills.length-1!=i"
                      aria-label="Clear"
                      mat-button mat-icon-button matSuffix type="button">
                <mat-icon>close</mat-icon>
              </button>

              <button (click)="deleteSkill(i); add_skill()"
                      *ngIf="this.formSkills.controls[i].value && this.formSkills.length-1==i" aria-label="Clear"
                      mat-button mat-icon-button matSuffix type="button">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div class="divBtn" fxLayout="column" fxLayoutAlign="end">
            <button (click)=" add_skill()" mat-button type="button">
              Add
            </button>
          </div>
        </div>
        <!----------------------------------------->
        <h4>Languages:</h4>
        <p>If you want to add a language card, click on the "Add" button</p>
        <div>
          <div fxFlex="99%" fxLayout="column" fxLayoutGap="16px">
            <div *ngIf="this.formLanguages.value" fxLayout="column" fxLayoutGap="16px">
              <div *ngFor="let language of formLanguages.controls; let j =index;" formArrayName="languages"
                   fxLayout="column"
                   fxLayoutGap="16px">
                <div [formGroupName]="j" fxFlex=80%; fxLayout="column">
                  <mat-accordion>
                    <mat-checkbox #toggle [checked]="true" style="display: none"></mat-checkbox>
                    <mat-expansion-panel [(expanded)]="toggle.checked">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <span *ngIf="language.value; else l">{{language.value}}</span>
                          <ng-template #l><span>Language</span></ng-template>
                        </mat-panel-title>
                        <mat-panel-description fxHide fxShow.gt-xs>
                          <span *ngIf="proficiency.value>=0; else p">{{getProf(proficiency.value)}}</span>
                          <ng-template #p><span>Proficiency</span></ng-template>
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px" fxLayoutGap.xs="0">
                        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px" fxLayoutGap.xs="0">

                          <mat-form-field>
                            <input
                              #language
                              class="form-control"
                              formControlName="language"
                              matInput
                              placeholder="Language"
                              required type="text">
                            <mat-error
                              *ngIf="!thirdFormGroup.get('languages').controls[j].controls.language.valid">
                              Please enter a value
                            </mat-error>
                          </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px" fxLayoutGap.xs="0">
                          <mat-form-field>
                            <mat-select #proficiency formControlName="proficiency" placeholder="Proficiency" required>
                              <mat-option *ngFor="let proficiency of proficiencies" [value]="proficiency.value">
                                {{proficiency.viewValue}}
                              </mat-option>
                            </mat-select>
                            <mat-error
                              *ngIf="!thirdFormGroup.get('languages').controls[j].controls.language.valid">
                              Please select a value
                            </mat-error>
                          </mat-form-field>
                        </div>
                      </div>
                      <!--------------------------------------------------->
                      <div fxLayout="row"
                           fxLayoutAlign="end" fxLayoutGap="0"
                           fxLayoutGap.gt-sm="8px">
                        <div>
                          <button (click)="deleteLanguage(j)" color="warn" mat-button type="button">Delete</button>
                        </div>
                        <div>
                          <button (click)="toggle.checked=!onDoneLang(j)"
                                  color="accent"
                                  mat-button
                                  type="button">Done
                          </button>
                        </div>

                      </div>
                    </mat-expansion-panel>
                  </mat-accordion>
                </div>
              </div>
              <div class="divBtn" fxLayout="column" fxLayoutAlign="end">
                <button (click)=" addLanguage()" mat-button type="button">
                  Add
                </button>
              </div>
            </div>
          </div>
        </div>
        <!----------------------------------------->
        <div fxLayout="row" fxLayoutAlign="end">
          <button (click)="onSaveOptional()" color="accent" mat-button routerLink="/" type="button">Done</button>
        </div>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>

<!--matStepperNext-->
