<h1 mat-dialog-title>Select payment method:</h1>
<mat-dialog-content class="mat-typography" fxLayout="column" >
    <h3 class="mat-h3">{{data.header}}</h3>
    <p>{{data.product}}</p>
    <p fxLayoutAlign="end"><strong>{{data.price}}</strong></p>
  <br>
  <p *ngIf="pay===2">Sorry!! There is an error, please try again!</p>

  <div class="item item-1" fxFlex="100%" fxFlex.xl="50%" *ngIf="pay!==1">
      <ngx-paypal [config]="payPalConfig"></ngx-paypal>
    </div>

  <p *ngIf="pay===1">Success!! Now you have a premium acount!</p>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
