<div
  *ngIf="applications && applications[0] && applications[0].img; else noOffers"
  fxFlex="92%"
  fxFlexOffset="4%"
  fxLayout="column"
  fxLayoutGap="16px" style="padding-bottom: 32px">
  <h2 style="margin-bottom: 0">
    Past Positions
  </h2>
  <p>Here you can see the past positions where this candidate has worked in Kwee.</p>
  <app-past-position-card *ngFor="let offer of applications" [offer]="offer"></app-past-position-card>
</div>
<ng-template #noOffers>
  <div
    fxLayout="column"
    fxLayoutAlign="center center"
    style="margin: 16px; min-height: 384px">
    <img alt="Iwi Mascot" src="../../../../assets/branding/iwi.svg" width="128px"/>
    <p>Sorry, there aren't any past positions of this applicant in Kwee yet.</p>
  </div>
</ng-template>
