<h2 class="mat-h2">Choose your favourite method to sign in!</h2>
<div class="container"
     fxLayout="column"
     fxLayoutAlign="center center"
     fxLayoutGap="8px">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon class="svg" color="accent" svgIcon="email"></mat-icon>
        </mat-panel-title>
        <mat-panel-description>
          Continue with Email
        </mat-panel-description>
      </mat-expansion-panel-header>
      <form>
        <div class="container"
             fxLayout="column"
             fxLayoutGap="8px"
             [formGroup]="user">
          <mat-form-field>
            <input matInput formControlName="email" placeholder="Email" required>
            <mat-icon svgIcon="email" color="primary" matPrefix></mat-icon>
            <mat-error *ngIf="user.get('email').invalid && !user.get('password').invalid">Please input a valid mail.
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-icon svgIcon="lock" color="primary" matPrefix></mat-icon>
            <input matInput
                   formControlName="password"
                   placeholder="Password" [type]="hide ? 'text' : 'password'"
                   required>
            <mat-error *ngIf="user.get('password').invalid">The email and password you entered did not match our
              records. Please double-check and try again.
            </mat-error>
          </mat-form-field>
          <br *ngIf="user.get('password').invalid">
          <div fxLayout="row" fxLayoutAlign="end">
            <button mat-button type="submit" color="accent" (click)="signIn()">Sign In</button>
          </div>
        </div>
      </form>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="signupButton">
    <button mat-raised-button color="primary">
      <mat-icon fontSet="fab" fontIcon="fa-github"></mat-icon>
      <span>Continue with GitHub</span>
    </button>
  </div>
  <div class="signupButton">
    <button mat-raised-button color="primary" id="linkedinBtn">
      <mat-icon fontSet="fab" fontIcon="fa-linkedin-in"></mat-icon>
      <span>Continue with LinkedIn</span>
    </button>
  </div>
  <div class="signupButton">
    <button mat-raised-button color="primary" id="googleBtn">
      <mat-icon fontSet="fab" fontIcon="fa-google"></mat-icon>
      <span>Continue with Google</span>
    </button>
  </div>
  <div class="signupButton">
    <button mat-raised-button color="primary" id="twitterBtn">
      <mat-icon fontSet="fab" fontIcon="fa-twitter"></mat-icon>
      <span>Continue with Twitter</span>
    </button>
  </div>
</div>
