
h2 {
  margin-top: 64px;
}

mat-panel-description {
  padding-top: 3px;
}

.resetLink {
  cursor: pointer;
  text-decoration: underline;
  font-size: 0.75rem;
  margin-top: -16px;
  color: #1de9b6;
}
