<h2 class="mat-h2">Choose your favourite method to sign in!</h2>
<div class="container"
     fxLayout="column"
     fxLayoutAlign="center center"
     fxLayoutGap="8px">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon class="svg" color="accent" svgIcon="email"></mat-icon>
        </mat-panel-title>
        <mat-panel-description>
          Continue with Email
        </mat-panel-description>
      </mat-expansion-panel-header>
      <form>
        <div [formGroup]="user"
             fxLayout="column"
             fxLayoutGap="8px">
          <mat-form-field>
            <input formControlName="email" matInput placeholder="Email" required>
            <mat-icon color="primary" matPrefix svgIcon="email"></mat-icon>
            <mat-error *ngIf="user.get('email').invalid && !user.get('password').invalid">Please input a valid mail.
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-icon color="primary" matPrefix svgIcon="lock"></mat-icon>
            <input [type]="hide ? 'text' : 'password'"
                   formControlName="password"
                   matInput placeholder="Password"
                   required>
            <mat-error *ngIf="user.get('password').invalid">The email and password you entered did not match our
              records. Please double-check and try again.
            </mat-error>
          </mat-form-field>
          <span *ngIf="user.get('password').invalid && user.get('password').touched">
            <br>
            <br>
          </span>
          <p (click)="openResetModal()" class="resetLink">
            I forgot my password.
          </p>
          <div fxLayout="row" fxLayoutAlign="end">
            <button (click)="signIn()" color="accent" mat-button type="submit">Sign In</button>
          </div>
        </div>
      </form>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="signupButton">
    <button color="primary" mat-raised-button>
      <mat-icon fontIcon="fa-github" fontSet="fab"></mat-icon>
      <span>Continue with GitHub</span>
    </button>
  </div>
  <div class="signupButton">
    <button color="primary" id="linkedinBtn" mat-raised-button>
      <mat-icon fontIcon="fa-linkedin-in" fontSet="fab"></mat-icon>
      <span>Continue with LinkedIn</span>
    </button>
  </div>
  <div class="signupButton">
    <button color="primary" id="googleBtn" mat-raised-button>
      <mat-icon fontIcon="fa-google" fontSet="fab"></mat-icon>
      <span>Continue with Google</span>
    </button>
  </div>
  <div class="signupButton">
    <button color="primary" id="twitterBtn" mat-raised-button>
      <mat-icon fontIcon="fa-twitter" fontSet="fab"></mat-icon>
      <span>Continue with Twitter</span>
    </button>
  </div>
</div>
