<mat-menu #menu="matMenu">
  <div class="welcomeMsg">
    Hi, <strong>{{username}}</strong>!
    <br>
    <a [routerLink]="'/' + userType + '/' + userId + '/' + urlfyUser()">View Profile</a>
  </div>
  <mat-divider></mat-divider>
  <button mat-menu-item
          routerLink="/notifications">
    <mat-icon [matBadgeColor]="getNotificationNum() > 0 ? 'warn' : 'primary'" color="primary"
              matBadge="{{numNotifications}}" svgIcon="notifications"></mat-icon>
    <span>Notifications</span>
  </button>
  <button mat-menu-item
          routerLink="/messages">
    <mat-icon [matBadgeColor]="numMessages > 0 ? 'warn' : 'primary'" color="primary"
              matBadge="{{numMessages}}" svgIcon="chat"></mat-icon>
    <span>Messages</span>
  </button>
  <button *ngIf="userType==='admin'"
          mat-menu-item
          routerLink="/admin/manage-candidates">
    <mat-icon svgIcon="people"></mat-icon>
    <span>Manage Candidates</span>
  </button>
  <button *ngIf="userType==='admin'"
          mat-menu-item
          routerLink="/admin/manage-businesses">
    <mat-icon svgIcon="domain"></mat-icon>
    <span>Manage Businesses</span>
  </button>
  <button *ngIf="userType==='admin'"
          mat-menu-item
          routerLink="/admin/statistics">
    <mat-icon svgIcon="timeline"></mat-icon>
    <span>Stats</span>
  </button>
  <button *ngIf="userType==='business' || userType==='candidate'"
          mat-menu-item
          routerLink="/my-offers">
    <mat-icon svgIcon="work"></mat-icon>
    <span>My Offers</span>
  </button>
  <button *ngIf="userType==='business'"
          mat-menu-item
          routerLink="/search-candidates">
    <mat-icon svgIcon="people"></mat-icon>
    <span>Search Candidates</span>
  </button>
  <button *ngIf="userType==='candidate'"
          mat-menu-item
          routerLink="/search-businesses">
    <mat-icon svgIcon="domain"></mat-icon>
    <span>Search Businesses</span>
  </button>
  <button *ngIf="userType==='business' || userType==='candidate'"
          mat-menu-item
          routerLink="/invoices">
    <mat-icon svgIcon="insert-drive-file"></mat-icon>
    <span>Invoices</span>
  </button>
  <button *ngIf="userType==='business' || userType==='candidate'"
          mat-menu-item
          routerLink="/kwee-live">
    <mat-icon svgIcon="public"></mat-icon>
    <span>Kwee Live</span>
  </button>
  <button mat-menu-item
          [routerLink]="'/settings/' + userType">
    <mat-icon svgIcon="settings"></mat-icon>
    <span>Settings</span>
  </button>
  <mat-divider></mat-divider>
  <button (click)="logOut()" mat-menu-item>Sign out</button>
</mat-menu>


<button mat-icon-button
        color="primary"
        [ngClass]="{
          'profileLogo': true,
          'business': isLanding || userType === 'business' || userType === 'admin'
        }">
  <a [matMenuTriggerFor]="menu">
    <mat-icon svgIcon="account-circle"></mat-icon>
    <br>
    <div>Me
      <div>
        <mat-icon svgIcon="arrow-drop-down"></mat-icon>
      </div>
    </div>
  </a>
</button>
