<mat-menu #menu="matMenu">
  <div class="welcomeMsg">
    Hi, <strong>{{username}}</strong>!
    <br>
    <a [routerLink]="'/' + userType + '/' + userId + '/' + urlfyUser()">View Profile</a>
  </div>
  <mat-divider></mat-divider>
  <button mat-menu-item
          routerLink="/notifications">
    <mat-icon [matBadgeColor]="'accent'" color="primary"
              matBadge="{{numNotifications === 0 ? '' : numNotifications}}" svgIcon="notifications"></mat-icon>
    <span>Notifications</span>
  </button>
  <button mat-menu-item
          routerLink="/messages">
    <mat-icon [matBadgeColor]="'accent'" color="primary"
              matBadge="{{numMessages === 0 ? '' : numMessages}}" svgIcon="chat"></mat-icon>
    <span>Messages</span>
  </button>
  <button *ngIf="userType==='admin'"
          mat-menu-item
          routerLink="/admin/manage-candidates">
    <mat-icon svgIcon="people" color="primary"></mat-icon>
    <span>Manage Candidates</span>
  </button>
  <button *ngIf="userType==='admin'"
          mat-menu-item
          routerLink="/admin/manage-businesses">
    <mat-icon svgIcon="domain" color="primary"></mat-icon>
    <span>Manage Businesses</span>
  </button>
  <button *ngIf="userType==='admin'"
          mat-menu-item
          routerLink="/admin/statistics">
    <mat-icon svgIcon="timeline" color="primary"></mat-icon>
    <span>Stats</span>
  </button>
  <button *ngIf="userType==='business' || userType==='candidate'"
          mat-menu-item
          routerLink="/my-offers">
    <mat-icon svgIcon="work" color="primary"></mat-icon>
    <span>My Offers</span>
  </button>
  <button *ngIf="userType==='business'"
          mat-menu-item
          routerLink="/search-candidates">
    <mat-icon svgIcon="people" color="primary"></mat-icon>
    <span>Search Candidates</span>
  </button>
  <button *ngIf="userType==='candidate'"
          mat-menu-item
          routerLink="/search-businesses">
    <mat-icon svgIcon="domain" color="primary"></mat-icon>
    <span>Search Businesses</span>
  </button>
  <button *ngIf="userType==='business' || userType==='candidate'"
          mat-menu-item
          routerLink="/invoices">
    <mat-icon svgIcon="insert-drive-file" color="primary"></mat-icon>
    <span>Invoices</span>
  </button>
  <button *ngIf="userType==='business' || userType==='candidate'"
          mat-menu-item
          routerLink="/kwee-live">
    <mat-icon svgIcon="public" color="primary"></mat-icon>
    <span>Kwee Live</span>
  </button>
  <button [routerLink]="'/settings/' + userType"
          mat-menu-item>
    <mat-icon svgIcon="settings" color="primary"></mat-icon>
    <span>Settings</span>
  </button>
  <mat-divider></mat-divider>
  <button (click)="logOut()" mat-menu-item>Sign out</button>
</mat-menu>


<button [ngClass]="{
          'profileLogo': true,
          'business': isLanding || userType === 'business' || userType === 'admin'
        }"
        color="primary"
        mat-icon-button>
  <a [matMenuTriggerFor]="menu">
    <mat-icon [matBadge]=" numNotifications > 0 || numMessages > 0 ? '&#8288;' : '' " matBadgeColor="accent" matBadgePosition="top after" svgIcon="account-circle"></mat-icon>
    <br>
    <div>Me
      <div>
        <mat-icon svgIcon="arrow-drop-down"></mat-icon>
      </div>
    </div>
  </a>
</button>
