<div fxLayout="row" fxLayoutAlign="center start">
  <div
    fxFlex="95%"
    fxFlex.gt-md="=70%"
    fxFlex.gt-sm="80%">
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap.lt-sm="16px">
      <!-- Basic info -->
      <mat-card fxFlex="70">
        <mat-card-title>
          <app-offerer-name-overview
            [name]="(profilesState | async).candidate.name"
            [index]="(profilesState | async).candidate.index"
            size="title">
          </app-offerer-name-overview>
        </mat-card-title>
        <mat-card-content
          style="margin-top: 16px"
          fxLayoutAlign="center stretch" fxLayoutAlign.lt-sm="center center"
          fxLayout="row" fxLayout.lt-sm="column">
          <img
            fxlayout="column"
            fxFlex="200px"
            width="200px" height="200px"
            src="{{(profilesState | async).candidate.img}}"
            alt="{{(profilesState | async).candidate.name + ' profile picture'}}'"/>
          <p
            fxLayout="column"
            fxLayoutAlign="center center">
            {{(profilesState | async).candidate.bio}}
          </p>
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="end end">
          <button
            color="accent"
            mat-button>
            Send Message
          </button>
        </mat-card-actions>
      </mat-card>

      <!-- Premium info -->
      <mat-card
        fxFlexOffset.gt-xs="32px" fxFlex="30">
        <mat-card-subtitle style="text-align: center">Active account type:</mat-card-subtitle>
        <mat-card-title style="text-align: center">
          Basic
        </mat-card-title>
        <hr>
        <mat-card-content>
          <mat-list>
            <mat-list-item><p>Unlimited concurrent applications.</p></mat-list-item>
            <mat-list-item><p>Upload files to complete your profile.</p></mat-list-item>
            <mat-list-item><p>Access to highlighted profiles section.</p></mat-list-item>
            <mat-list-item><p>Help us maintain the platform.</p></mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="center">
          <button
            color="accent"
            style="color: white; margin-bottom: 16px"
            mat-raised-button>
            Upgrade to Premium
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div fxLayout="row" style="margin-top: 16px">
      <mat-card fxFlex="100" style="padding: 0 !important;">
        <mat-tab-group>
          <mat-tab label="More Info">
            <!--<app-candidate-more-info [candidate]="(profilesState | async).candidate"></app-candidate-more-info>-->
            <app-candidate-more-info [candidate]="candidate"></app-candidate-more-info>
          </mat-tab>
          <mat-tab label="Opinions">
            <app-candidate-profile-opinions></app-candidate-profile-opinions>
          </mat-tab>
          <mat-tab label="Offers"> Content 3</mat-tab>
        </mat-tab-group>
      </mat-card>
    </div>

  </div>
</div>
