.signupButton button {
  width: 250px;

  mat-icon {
    margin-right: 16px;
    margin-top: 4px;
    font-size: 1.1rem;
  }
}

.svg {
  margin-top: 0 !important;
}

h2 {
  margin-bottom: 24px;
  text-align: center;
}

mat-form-field mat-icon {
  margin-right: 8px;
}

mat-datepicker-toggle {
  font-size: 1.5rem;
  color: #546e7a;
  margin-left: -4px;
}

#googleBtn.mat-button, #googleBtn.mat-raised-button {
  background-color: #4285F4;
}

#twitterBtn.mat-button, #twitterBtn.mat-raised-button {
  background-color: #1da1f2;
}

#linkedinBtn.mat-button, #linkedinBtn.mat-raised-button {
  background-color: #0077b5;
}

#telegramBtn.mat-button, #telegramBtn.mat-raised-button {
  background-color: #0088cc;
}


.line1{
  max-width: 380px;
}

.line2{
  max-width: 430px;
}