<mat-horizontal-stepper #stepper linear="false">
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Choose sign up method</ng-template>

      <h2>Choose your favourite method to sign up!</h2>
      <div class="container"
           fxLayout="column"
           fxLayoutAlign="center center"
           fxLayoutGap="8px">
        <div class="signupButton">
          <button mat-raised-button matStepperNext>
            <mat-icon class="svg" color="accent" svgIcon="email"></mat-icon>
            <span>Continue with email</span>
          </button>
        </div>
        <div class="signupButton">
          <button (click)="gitHubSignUp()" color="primary" mat-raised-button>
            <mat-icon fontIcon="fa-github" fontSet="fab"></mat-icon>
            <span>Continue with GitHub</span>
          </button>
        </div>
        <div class="signupButton">
          <button (click)="linkedInSignUp()" color="primary" id="linkedinBtn" mat-raised-button>
            <mat-icon fontIcon="fa-linkedin-in" fontSet="fab"></mat-icon>
            <span>Continue with LinkedIn</span>
          </button>
        </div>
        <div class="signupButton">
          <button (click)="googleSignUp()" color="primary" id="googleBtn" mat-raised-button>
            <mat-icon fontIcon="fa-google" fontSet="fab"></mat-icon>
            <span>Continue with Google</span>
          </button>
        </div>
        <div class="signupButton">
          <button (click)="twitterSignUp()" color="primary" id="twitterBtn" mat-raised-button>
            <mat-icon fontIcon="fa-twitter" fontSet="fab"></mat-icon>
            <span>Continue with Twitter</span>
          </button>
        </div>
      </div>
    </form>
  </mat-step>


  <mat-step [stepControl]="secondFormGroup" editable="false">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Fill in your info</ng-template>


      <div class="container"
           fxFlex="100%"
           fxFlex.gt-md="60%"
           fxFlexOffset="15%"
           fxFlexOffset.xs="0"
           fxLayout="column"
           fxLayoutAlign="center"
           fxLayoutGap="8px">
        <div fxLayout="row"><h2>Fill in the information below to be set to go!</h2></div>


        <div fxLayout="column">
          <h4>Basic info</h4>
        </div>

        <div fxLayout="column">
          <h4>Profile picture</h4>
          <p>In order to offer an excellent user experience, we require a profile photo to all the companies.</p>
          <label for="file_profile"><img
            alt="default profile picture"
            fxFlex="200px"
            fxlayout="column"
            height="200px" id="photo_profile"
            src="../../../../assets/img/defaultProfileImg.png"
            width="200px"/></label>
          <label for="file_profile">
            <button (click)="profile.click()" class="photo-buttons" color="primary" mat-raised-button
                    type="button">Upload photo
            </button>
          </label>
          <input #profile (change)="previewFile($event)" accept="image/*"
                 formControlName="profile" id="file_profile" style="width: 0px; height: 0px;" type="file">
          <button (click)='previewFile(this.fileEvent)' [disabled]="! profile.value" class="photo-buttons"
                  color="primary" mat-raised-button
                  type="button">Crop again
          </button>
          <button (click)="deletePhoto()" class="photo-buttons" color="warn" mat-raised-button
                  type="button">Delete Photo
          </button>
        </div>
        <br>


        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px" fxLayoutGap.xs="0px">
          <mat-form-field>
            <input formControlName="businessName" matInput placeholder="Business name" required>
            <mat-icon color="primary" matPrefix svgIcon="domain"></mat-icon>
            <mat-error
              *ngIf="!secondFormGroup.get('businessName').valid ">
              This field is required
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input formControlName="vat" matInput placeholder="VAT/CIF" required>
            <mat-error *ngIf="!secondFormGroup.get('vat').valid">
              This field is required
            </mat-error>
          </mat-form-field>
        </div>

        <br>
        <div *ngIf="!isSocialNetwork" fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px" fxLayoutGap.xs="0">
          <mat-form-field>
            <input formControlName="email" matInput placeholder="Email" required>
            <mat-icon color="primary" matPrefix svgIcon="email"></mat-icon>
            <mat-error *ngIf="!secondFormGroup.get('email').valid ">
              Please enter a valid email
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input formControlName="confEmail" matInput placeholder="Confirm Email" required>
            <mat-error *ngIf="!secondFormGroup.get('confEmail').valid">
              Emails do not match
            </mat-error>
          </mat-form-field>
        </div>
        <br  *ngIf="!isSocialNetwork">
        <div *ngIf="!isSocialNetwork" fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px" fxLayoutGap.xs="0">
          <mat-form-field>
            <mat-icon color="primary" matPrefix svgIcon="lock"></mat-icon>
            <input [type]="hide ? 'text' : 'password'" formControlName="password" matInput placeholder="Password"
                   required>
            <mat-error *ngIf="!secondFormGroup.get('password').valid">
              Password must be 6 characters or more
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input [type]="hide ? 'text' : 'password'" formControlName="password2" matInput
                   placeholder="Confirm Password" required>
            <mat-icon (click)="hide = !hide" [svgIcon]="hide ? 'visibility' : 'visibility-off'" color="primary"
                      matSuffix></mat-icon>

            <mat-error *ngIf="!secondFormGroup.get('password2').valid ">
              Passwords do not match
            </mat-error>
          </mat-form-field>
        </div>

        <br>
        <div fxLayout="row" fxLayout.xs="column">
          <mat-form-field>
            <mat-select formControlName="workField" placeholder="Work field" required>
              <mat-option *ngFor="let workField of workFields" [value]="workField.value">
                {{workField.viewValue}}
              </mat-option>
            </mat-select>
            <mat-icon color="primary" matPrefix svgIcon="work"></mat-icon>
            <mat-error *ngIf="!secondFormGroup.get('workField').valid">
              This field is required
            </mat-error>
          </mat-form-field>
        </div>
        <br>

        <div fxLayout="column">
          <h4>Address</h4>
        </div>

        <div [ngClass.xs]="{'line1':false}" [ngClass]="{'line1':true}" fxLayout="column" fxLayoutGap="16px"
             fxLayoutGap.xs="0">
          <mat-form-field>
            <mat-icon color="primary" matPrefix svgIcon="place"></mat-icon>
            <input (keyup)="searchAddress($event)" [matAutocomplete]="addressAuto" formControlName="address1" matInput
                   placeholder="Address"
                   required>
            <mat-autocomplete #addressAuto="matAutocomplete" (optionSelected)="logAddress()"
                              [displayWith]="displayFnAddress">
              <mat-option *ngFor="let option of options" [value]="option">
                <span>{{option.name}}</span>&nbsp;
                <small class="gray">{{option.city.name}}, {{option.admin}}, {{option.country}}</small>
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="!secondFormGroup.get('country').valid">
              Address is required
            </mat-error>
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px" fxLayoutGap.xs="0">
          <mat-form-field>
            <mat-icon color="primary" matPrefix svgIcon="domain"></mat-icon>
            <input (keyup)="searchCity($event)" [matAutocomplete]="cityAuto" formControlName="city" matInput
                   placeholder="City"
                   required>
            <mat-autocomplete #cityAuto="matAutocomplete" (optionSelected)="log()" [displayWith]="displayFn" id="city">
              <mat-option *ngFor="let city of cities" [value]="city">
                {{city.name}}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="!secondFormGroup.get('city').valid">
              City is required
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-icon color="primary" matPrefix svgIcon="place"></mat-icon>
            <input formControlName="state" matInput placeholder="State/Administrative"
                   required>
            <mat-error *ngIf="!secondFormGroup.get('state').valid">
              State/Administrative is required
            </mat-error>
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px" fxLayoutGap.xs="0">
          <mat-form-field>
            <mat-icon color="primary" matPrefix svgIcon="place"></mat-icon>
            <input (keyup)="searchCountry($event)" [matAutocomplete]="countryAuto" formControlName="country" matInput
                   placeholder="Country"
                   required>
            <mat-autocomplete #countryAuto="matAutocomplete">
              <mat-option *ngFor="let country of countries" [value]="country">
                {{country}}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="!secondFormGroup.get('country').valid">
              Country is required
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-icon color="primary" matPrefix svgIcon="mailbox"></mat-icon>
            <input formControlName="postal" matInput placeholder="Zip/Postal Code"
                   required>
            <mat-error *ngIf="!secondFormGroup.get('postal').valid">
              Zip/Postal Code is required
            </mat-error>
          </mat-form-field>
        </div>
        <br>
        <mat-checkbox formControlName="terms" required>Accept our terms and conditions. More info <a
          [routerLink]="['/privacy']" target="_blank">here</a>.
        </mat-checkbox>
        <mat-error *ngIf="!secondFormGroup.get('terms').valid && secondFormGroup.get('terms').touched">
          Please accept our terms and conditions
        </mat-error>
        <br>
        <div fxLayout="row" fxLayoutAlign="end">
          <button color="primary" mat-button matStepperPrevious>Back</button>
          <button (click)="onSave(stepper);" color="accent" mat-button type="submit">Sign Up!</button>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Your're in!</ng-template>
      <div class="container"
           fxFlex="100%"
           fxFlex.gt-md="60%"
           fxFlexOffset="15%"
           fxFlexOffset.xs="0"
           fxLayout="column"
           fxLayoutAlign="center">
        <div fxLayout="column">
          <h2 fxLayoutAlign="center center">✨ Welcome to the Kwee family! ✨</h2>
          <p>While we verify the information provided, please fill the information below to improve your visibility and
            incrase your trustiness for the applicants.</p>
        </div>
        <br>

        <div fxLayout="column">
          <h4>About us</h4>
          <mat-form-field>
            <textarea formControlName="about" matInput placeholder="Write a description of your..."></textarea>
          </mat-form-field>
        </div>
        <br>


        <div fxLayout="column">
          <h4>Company Details</h4>

        </div>


        <div class="line2" fxLayout="column">
          <mat-form-field>
            <input formControlName="website" matInput placeholder="Website">
            <mat-icon color="primary" matPrefix svgIcon="public"></mat-icon>
          </mat-form-field>
        </div>


        <br>
        <div fxLayout="row">
          <mat-form-field>
            <mat-select formControlName="companySize" placeholder="Company size">
              <mat-option *ngFor="let companySize of companySizes" [value]="companySize.value">
                {{companySize.viewValue}}
              </mat-option>
            </mat-select>
            <mat-icon color="primary" matPrefix svgIcon="domain"></mat-icon>
          </mat-form-field>

        </div>


        <br>
        <div fxLayout="row">
          <mat-form-field>
            <input [max]="getMaxYear()" formControlName="year" matInput placeholder="Date funded" type="number">
            <mat-error *ngIf="!thirdFormGroup.get('year').valid">
              Please enter a valid year
            </mat-error>
            <mat-icon color="primary" matPrefix svgIcon="cake"></mat-icon>
          </mat-form-field>
        </div>

        <h4>Social Media</h4>
        <p>You can link your social media accouts to your profile. Just type your username</p>
        <div class="line1" fxLayout="column">
          <mat-form-field>
            <input formControlName="twitter" matInput placeholder="Twitter username">
            <mat-icon class="social-icons" color="primary" fontIcon="fa-twitter" fontSet="fab" matPrefix></mat-icon>
          </mat-form-field>
        </div>
        <div class="line1" fxLayout="column">
          <mat-form-field>
            <input formControlName="github" matInput placeholder="Github username">
            <mat-icon class="social-icons" color="primary" fontIcon="fa-github" fontSet="fab" matPrefix></mat-icon>
          </mat-form-field>
        </div>
        <div class="line1" fxLayout="column">
          <mat-form-field>
            <input formControlName="linkedIn" matInput placeholder="LinkedIn username">
            <mat-icon class="social-icons" color="primary" fontIcon="fa-linkedin-in" fontSet="fab" matPrefix></mat-icon>
          </mat-form-field>
        </div>
        <div class="line1" fxLayout="column">
          <mat-form-field>
            <input formControlName="telegram" matInput placeholder="Telegram username">
            <mat-icon class="social-icons" color="primary" fontIcon="fa-telegram" fontSet="fab" matPrefix></mat-icon>
          </mat-form-field>
        </div>
        <br>


        <br>
        <div fxLayout="row" fxLayoutAlign="end">
          <button (click)="onUpdate()" color="accent" mat-button routerLink="/" type="button">Done</button>
        </div>
      </div>
    </form>

  </mat-step>
</mat-horizontal-stepper>
