<mat-horizontal-stepper #stepper linear="true">
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Choose sign up method</ng-template>

      <h2>Choose your favourite method to sign up!</h2>
      <div class="container"
           fxLayout="column"
           fxLayoutAlign="center center"
           fxLayoutGap="8px">
        <div class="signupButton">
          <button mat-raised-button matStepperNext>
            <mat-icon color="accent" class="svg" svgIcon="email"></mat-icon>
            <span>Continue with email</span>
          </button>
        </div>
        <div class="signupButton">
          <button mat-raised-button color="primary" matStepperNext id="linkedinBtn">
            <mat-icon fontSet="fab" fontIcon="fa-linkedin-in"></mat-icon>
            <span>Continue with LinkedIn</span>
          </button>
        </div>
        <div class="signupButton">
          <button mat-raised-button color="primary" matStepperNext id="telegramBtn">
            <mat-icon fontSet="fab" fontIcon="fa-telegram-plane"></mat-icon>
            <span>Continue with Telegram</span>
          </button>
        </div>
        <div class="signupButton">
          <button mat-raised-button color="primary" matStepperNext id="twitterBtn">
            <mat-icon fontSet="fab" fontIcon="fa-twitter"></mat-icon>
            <span>Continue with Twitter</span>
          </button>
        </div>
        <div class="signupButton">
          <button mat-raised-button color="primary" matStepperNext id="googleBtn">
            <mat-icon fontSet="fab" fontIcon="fa-google"></mat-icon>
            <span>Continue with Google</span>
          </button>
        </div>
      </div>
    </form>
  </mat-step>


  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup" (ngSubmit)="onSubmit()">
      <ng-template matStepLabel>Fill in your info</ng-template>


      <div class="container"
           fxLayout="column"
           fxLayoutAlign="center"
           fxLayoutGap="8px"
           fxFlexOffset.xs="0"
           fxFlexOffset="15%"
           fxFlex="100%"
           fxFlex.gt-md="60%">
        <div fxLayout="row"><h2>Fill in the information below to be set to go!</h2></div>


        <div fxLayout="column">
          <h4>Basic info</h4>
        </div>


        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap.xs="0px" fxLayoutGap="16px">
          <mat-form-field>
            <input matInput formControlName="businessName" placeholder="Business name" required>
            <mat-icon svgIcon="domain" color="primary" matPrefix></mat-icon>
            <mat-error *ngIf="!secondFormGroup.get('businessName').valid && secondFormGroup.get('businessName').touched">
              Please enter a valid name
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput formControlName="vat" placeholder="VAT/CIF" required>
            <mat-error *ngIf="!secondFormGroup.get('vat').valid && secondFormGroup.get('vat').touched">
              Please enter a valid VAT
            </mat-error>
          </mat-form-field>
        </div>

        <br>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap.xs="0" fxLayoutGap="16px">
          <mat-form-field>
            <input matInput formControlName="email" placeholder="Email" required>
            <mat-icon svgIcon="email" color="primary" matPrefix></mat-icon>
           <mat-error *ngIf="!secondFormGroup.get('email').valid && secondFormGroup.get('email').touched">
              Please enter a valid email address
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="confEmail" placeholder="Confirm Email" required>
           <mat-error *ngIf="!secondFormGroup.get('confEmail').valid && secondFormGroup.get('confEmail').touched">
              Emails do not match
            </mat-error>
          </mat-form-field>
        </div>
        <br>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap.xs="0" fxLayoutGap="16px">
          <mat-form-field>
            <mat-icon svgIcon="lock" color="primary" matPrefix></mat-icon>
            <input matInput formControlName="password" placeholder="Password" [type]="hide ? 'text' : 'password'" required>
             <mat-error *ngIf="!secondFormGroup.get('password').valid && secondFormGroup.get('password').touched">
              Password must be 6 characters or more
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="password2" placeholder="Confirm Password" [type]="hide ? 'text' : 'password'" required>
            <mat-icon matSuffix (click)="hide = !hide" [svgIcon]="hide ? 'visibility' : 'visibility-off'"  color="primary"></mat-icon>

            <mat-error *ngIf="!secondFormGroup.get('password2').valid && secondFormGroup.get('password2').touched">
              Passwords do not match
            </mat-error>
          </mat-form-field>
        </div>

        <br>
        <div fxLayout="row" fxLayout.xs="column">
          <mat-form-field>
            <mat-select placeholder="Work field" formControlName="workField" required>
              <mat-option *ngFor="let workField of workFields" [value]="workField.value">
                {{workField.viewValue}}
              </mat-option>
            </mat-select>
            <mat-icon svgIcon="work" color="primary" matPrefix></mat-icon>
          </mat-form-field>
        </div>
        <br>

        <div fxLayout="column">
          <h4>Address</h4>
        </div>

        <div class="line1" fxLayout="column">
          <mat-form-field>
            <input matInput formControlName="address1" placeholder="Address line 1" required>
            <mat-icon svgIcon="place" color="primary" matPrefix></mat-icon>
            <mat-error *ngIf="!secondFormGroup.get('address1').valid && secondFormGroup.get('address1').touched">
              Please enter a valid address
            </mat-error>
          </mat-form-field>
        </div>
        <br>

        <div class="line1" fxLayout="column">
          <mat-form-field>
            <input matInput formControlName="address2" placeholder="Address line 2">
          </mat-form-field>
        </div>

        <br>

        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap.xs="0px" fxLayoutGap="22px">
          <mat-form-field>
            <input matInput formControlName="city" placeholder="City" required>
             <mat-error *ngIf="!secondFormGroup.get('city').valid && secondFormGroup.get('city').touched">
              Please enter a valid city
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="province" placeholder="Province" required>
             <mat-error *ngIf="!secondFormGroup.get('province').valid && secondFormGroup.get('province').touched">
              Please enter a valid province
            </mat-error>
          </mat-form-field>
        </div>


        <br>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap.xs="0px" fxLayoutGap="16px">
          <mat-form-field>
            <input matInput formControlName="postalCode" placeholder="Postal Code" required>
             <mat-error *ngIf="!secondFormGroup.get('postalCode').valid && secondFormGroup.get('postalCode').touched">
              Please enter a valid postal code
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="country" placeholder="Country" required>
             <mat-error *ngIf="!secondFormGroup.get('country').valid && secondFormGroup.get('country').touched">
              Please enter a valid country
            </mat-error>
          </mat-form-field>
        </div>

        <br>
        <div fxLayout="row" fxLayoutAlign="end">
          <button mat-button matStepperPrevious color="primary">Back</button>
          <button type="submit" mat-button matStepperNext color="accent">Sign Up!</button>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step>
     <form [formGroup]="thirdFormGroup" (ngSubmit)="onSubmit()">
      <ng-template matStepLabel>Your're in!</ng-template>
      <div class="container"
           fxLayout="column"
           fxLayoutAlign="center"
           fxFlex="100%"
           fxFlex.gt-md="60%"
           fxFlexOffset.xs="0"
           fxFlexOffset="15%">
        <div fxLayout="column">
          <h2 fxLayoutAlign="center center">✨ Welcome to the Kwee family! ✨</h2>
          <p>While we verify the information provided, please fill the information below to improve your visibility and
            incrase your trustiness for the applicants.</p>
        </div>
        <br>

        <div fxLayout="column">
          <h4>About us</h4>
          <mat-form-field>
            <textarea formControlName="about" matInput placeholder="Leave a comment"></textarea>
          </mat-form-field>
        </div>
        <br>


        <div fxLayout="column">
          <h4>Company Details</h4>

        </div>


        <div class="line2" fxLayout="column">
          <mat-form-field>
            <input matInput formControlName="website" placeholder="Website">
            <mat-icon svgIcon="public" color="primary" matPrefix></mat-icon>
          </mat-form-field>
        </div>


        <br>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap.xs="0px" fxLayoutGap="16px">
          <mat-form-field>
            <mat-select placeholder="Company size" formControlName="companySize">
              <mat-option *ngFor="let companySize of companySizes"  [value]="companySize.value">
                {{companySize.viewValue}}
              </mat-option>
            </mat-select>
            <mat-icon svgIcon="domain" color="primary" matPrefix></mat-icon>
          </mat-form-field>

        </div>


        <br>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap.xs="0px" fxLayoutGap="16px">
          <mat-form-field>
            <mat-select placeholder="Work Field" formControlName="workField2">
              <mat-option *ngFor="let field of workField"  [value]="field.value">
                {{field.viewValue}}
              </mat-option>
            </mat-select>
            <mat-icon svgIcon="work" color="primary" matPrefix></mat-icon>
          </mat-form-field>

          <mat-form-field>
            <input matInput formControlName="year" placeholder="Year founded">
            <mat-icon svgIcon="cake" color="primary" matPrefix></mat-icon>
          </mat-form-field>
        </div>


        <br>
        <div fxLayout="row" fxLayoutAlign="end">
          <button mat-button color="accent" routerLink="/">Done</button>
        </div>
      </div>
    </form>

  </mat-step>
</mat-horizontal-stepper>
