

<footer class="container"
           fxLayout="row"
           fxLayout.xs="column"
           fxLayoutAlign="center center"
           fxLayoutGap="40px "
           fxFlex="grow">


        <div class="logo2" fxFlex="calc(30% -8px)">
        <a routerLink="/">
          <img src="../../assets/branding/logo-kwee-dark.png" alt="">
        </a><br>
        <span>&copy; <time datetime="2018">2018</time> Watermelon Corp.</span>
     </div>



      <div  fxFlex="calc(20% -8px)" >
        <ul>
          <li><a routerLink="/">About</a></li>
          <li><a routerLink="/">Privacy</a></li>
          <li><a routerLink="/">Kwee Live</a></li>
        </ul>
      </div>




      <div  class="block-links2" fxFlex="calc(20% -8px)">
        <ul>
          <li><a routerLink="/">Blog</a></li>
          <li><a routerLink="/">Team</a></li>
          <li><a routerLink="/">Contact </a></li>
        </ul>
      </div>





      <div class="social-icons" fxFlex="calc(30% -8px)">
        <a href="https://twitter.com/hellokwee">
         <mat-icon fontSet="fab" fontIcon="fa-twitter"></mat-icon>
        </a>
        <a href="https://www.instagram.com/hellokwee/">
         <mat-icon fontSet="fab" fontIcon="fa-instagram"></mat-icon>
        </a>
        <a href="https://t.me/hellokwee">
         <mat-icon fontSet="fab" fontIcon="fa-telegram-plane"></mat-icon>
        </a>
      </div>


</footer>





