
@import "~src/common-utils";
@import '~@angular/material/theming';


footer {
  background-color: #455a64;
  padding-top:40px;
  padding-bottom:40px;
  font-family: IBM Plex Sans, sans-serif;
  font-size: 16px;
  font-weight:500;
 // white-space: nowrap;
  color: #FFF;
  margin-top:40px;

}




.logo2{
	text-aling:center;
	padding-top:20px;
	margin-bottom:0 !important;
	
	
	img{
		margin-top:-20px;
		margin-left:40px;
		width: 100px;
	}
}

ul{
	margin:0;
	padding:0;
}


li{
	list-style:none;
	padding-top:10px;


	a{
		color: #FFF;
	  	text-decoration: none;
	}
}

.social-icons	mat-icon{
		color:white;
		font-size: 1.5rem;
		padding: 5px;
		margin-top:20px;
}

.block-links2{
	margin-left: -10px;
}


@media all and (min-width: 600PX) {
	footer{
		padding-left: 10%;
	}
	ul{
		padding:0;
		margin:0;
	}

	.logo2{
		padding-top:0;
	}

	.social-icons{
		margin-top:0;
	}


}


@media all and (min-width: $tablet){
	footer{
		padding-left:15%;
		padding-rigth:10%;
	}
}