
@import "~src/common-utils";
@import '~@angular/material/theming';

.content{
	text-aling: center;
}

footer {
  background-color: #B5B5B5;
  //padding-right:10%;
  padding-left: 10%;
  padding-top:50px;
  padding-bottom:50px;
  font-family: IBM Plex Sans, sans-serif;
  font-size: 16px;
  font-weight:500;

}


.logo mat-icon {
	margin-left: 15%;
	margin-top: 4px;
	height: 88px;
	width: 88px;
	margin-bottom:0;
}

.logo span {
	margin-left:-140px;
}


li{
	list-style:none;
	padding:10px;
}

	a{
		color: #000;
	  	text-decoration: none;
	}


@media all and (min-width: $phone) {
	
}


@media all and (min-width: $tablet) {
	
}