

<footer class="container"
           fxLayout="row"
           fxLayout.xs="column"
           fxLayoutAlign="center center"
           fxLayoutGap="25px"
           fxFlex="grow">



        <div class="logo" fxFlex="calc(25% -8px)">
        <a routerLink="/">
          <mat-icon  svgIcon="kwee-logo-light"></mat-icon>
        </a>
        <span>&copy; <time datetime="2018">2018</time> Watermelon Corp.</span>
     </div>



      <div  fxFlex="calc(25% -8px)" >
        <ul>
          <li><a routerLink="/">About</a></li>
          <li><a routerLink="/">Privacy</a></li>
          <li><a routerLink="/">Kwee Live</a></li>
        </ul>
      </div>




      <div  class="block-links2" fxFlex="calc(25% -8px)">
        <ul>
          <li><a routerLink="/">Blog</a></li>
          <li><a routerLink="/">Team</a></li>
          <li><a routerLink="/">Contact </a></li>
        </ul>
      </div>





      <div class="social-icons" fxFlex="calc(25% -8px)">
          <a href="/">
          <mat-icon svgIcon="notifications"></mat-icon>
        </a>
        <a href="/">
          <mat-icon svgIcon="chat"></mat-icon>
        </a>
        <a href="/">
          <mat-icon svgIcon="people"></mat-icon>
        </a>
      </div>


</footer>





