<!--<div fxLayout="row">-->
  <!--<mat-accordion fxFlex="99%">-->
    <!--<mat-expansion-panel-->
      <!--(closed)="isPanelOpen = !isPanelOpen; isInEditMode = false; userForm.reset()"-->
      <!--(opened)="isPanelOpen = !isPanelOpen;"-->
      <!--*ngFor="let offer of (offersState | async).offers.data;" [formGroup]="userForm">-->
      <!--<mat-expansion-panel-header>-->
        <!--<mat-panel-title fxFlex="75%"-->
                         <!--fxFlex.gt-lg="30%" fxFlex.gt-md="35%" fxFlex.gt-sm="40%" fxLayoutAlign="start center">-->
          <!--<app-offerer-name-overview [index]="offer.offererIndex"-->
                                     <!--[name]="offer.offererName"></app-offerer-name-overview>-->
        <!--</mat-panel-title>-->
        <!--<mat-panel-description-->
          <!--fxFlex="25%"-->
          <!--fxFlex.gt-sm="75%" fxLayout="row"-->
          <!--fxLayoutAlign="space-between center">-->
          <!--&lt;!&ndash;<div fxFlex="60%"&ndash;&gt;-->
               <!--&lt;!&ndash;fxFlex.md="75%"&ndash;&gt;-->
               <!--&lt;!&ndash;fxHide fxLayout="row"&ndash;&gt;-->
               <!--&lt;!&ndash;fxLayoutAlign="start center" fxShow.gt-sm>&ndash;&gt;-->
            <!--&lt;!&ndash;<mat-icon class="svg" color="primary" svgIcon="email"></mat-icon>&ndash;&gt;-->
            <!--&lt;!&ndash;<span>{{offer.email}}</span>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--&lt;!&ndash;<div fxFlex="40%"&ndash;&gt;-->
               <!--&lt;!&ndash;fxHide&ndash;&gt;-->
               <!--&lt;!&ndash;fxLayout="row"&ndash;&gt;-->
               <!--&lt;!&ndash;fxLayoutAlign="start center" fxShow.gt-lg>&ndash;&gt;-->
            <!--&lt;!&ndash;<mat-icon class="svg" color="primary" svgIcon="access-time"></mat-icon>&ndash;&gt;-->
            <!--&lt;!&ndash;<span>{{offer.lastAccess| date:'d/M/y, HH:mm'}}</span>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--<div fxLayout="row">-->
            <!--&lt;!&ndash;<button (click)="edit(offer)" color="accent" mat-button>Edit</button>&ndash;&gt;-->
            <!--&lt;!&ndash;<button (click)="callAlertDialogDelete(offer.id)" color="warn" mat-button>Delete</button>&ndash;&gt;-->
          <!--</div>-->
        <!--</mat-panel-description>-->
      <!--</mat-expansion-panel-header>-->
    <!--</mat-expansion-panel>-->
  <!--</mat-accordion>-->
<!--</div>-->

<!--<div *ngIf="(offersState | async).offers && (offersState | async).offers.data" fxLayout="row"-->
     <!--fxLayoutAlign="end end">-->
  <!--<mat-paginator #paginator-->
                 <!--(page)="pageEvent = $event; changePage();"-->
                 <!--[length]="(offersState | async).offers.total"-->
                 <!--[pageSizeOptions]="pageSizeOptions"-->
                 <!--[pageSize]="pageSize">-->
  <!--</mat-paginator>-->
<!--</div>-->

