<div class="container, filters">
  <h2>Filters</h2>
  <form [formGroup]="filters" fxLayout="column">

    <h3>Minimum Index</h3>
    <section fxLayout="column">
      <mat-slider formControlName="minIndex" max="100" min="0" thumbLabel></mat-slider>
    </section>

    <!--<h3>Minimum Amount of Ratings</h3>-->
    <!--<section fxLayout="column">-->
      <!--<mat-slider formControlName="minRatings" max="100" min="0" thumbLabel></mat-slider>-->
    <!--</section>-->

    <h3>Required Skills</h3>
    <div fxLayout="row" class="multipleInputDiv">
      <div formArrayName="skills" fxFlex="80%" fxLayout="column" fxLayoutGap="-16px">
        <mat-form-field *ngFor="let skill of formSkills.controls; let i =index;">
          <input (keyup.enter)='addSkill()'
                 [formControlName]="i"
                 class="form-control"
                 id="{{'skill'+i}}"
                 matInput type="text">


          <button type="button" (click)="deleteSkill(i)"
                  *ngIf="this.formSkills.controls[i].value && this.formSkills.length-1!=i"
                  aria-label="Clear"
                  mat-button mat-icon-button matSuffix type="button">
            <mat-icon>close</mat-icon>
          </button>

          <button type="button" (click)="deleteSkill(i); addSkill()"
                  *ngIf="this.formSkills.controls[i].value && this.formSkills.length-1==i" aria-label="Clear"
                  mat-button mat-icon-button matSuffix type="button">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="divBtn" fxLayout="column" fxLayoutAlign="end">
        <button (click)=" addSkill()" mat-button type="button">
          Add
        </button>
      </div>
    </div>

    <h3>Required Languages</h3>
    <div fxLayout="row" class="multipleInputDiv">
      <div formArrayName="languages" fxFlex="80%" fxLayout="column" fxLayoutGap="-16px">
        <mat-form-field *ngFor="let language of formLanguages.controls; let i =index;">
          <input (keyup.enter)="addLang(i)"
                 [formControlName]="i"
                 class="form-control"
                 id="{{'language'+i}}"
                 matInput type="text">


          <button type="button" (click)="delLang(i)"
                  *ngIf="this.formLanguages.controls[i].value && this.formLanguages.length-1!=i"
                  aria-label="Clear"
                  mat-button mat-icon-button matSuffix type="button">
            <mat-icon>close</mat-icon>
          </button>

          <button type="button" (click)="delLang(i); addLang()"
                  *ngIf="this.formLanguages.controls[i].value && this.formLanguages.length-1==i"
                  aria-label="Clear"
                  mat-button mat-icon-button matSuffix type="button">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="divBtn" fxLayout="column" fxLayoutAlign="end">
        <button (click)=" addLang()" mat-button type="button">
          Add
        </button>
      </div>
    </div>

    <h3 style="margin-top: 16px">Work Fields</h3>
    <section fxLayout="column" *ngFor="let workfield of workfields; index as i">
      <mat-checkbox formControlName="workfield{{i}}">
        {{workfield.viewValue}}
      </mat-checkbox>
    </section>

    <!--<h3 style="margin-top: 16px">Profile Completion</h3>-->
    <!--<section fxLayout="column">-->
    <!--<mat-checkbox>-->
    <!--Complete Profiles-->
    <!--</mat-checkbox>-->
    <!--<mat-checkbox>-->
    <!--With Education-->
    <!--</mat-checkbox>-->
    <!--<mat-checkbox>-->
    <!--With Experience-->
    <!--</mat-checkbox>-->
    <!--<mat-checkbox>-->
    <!--With Languages-->
    <!--</mat-checkbox>-->
    <!--<mat-checkbox>-->
    <!--With Skills-->
    <!--</mat-checkbox>-->
    <!--</section>-->

    <h3 style="margin-top: 16px">Age of the Candidate</h3>
    <div fxLayout="row" fxFlex="100%" class="ageInputs" fxLayoutGap="4px">
      <p>Between </p>
      <mat-form-field fxFlex="40px">
        <input matInput type="number" formControlName="minAge">
      </mat-form-field>
      <p> and </p>
      <mat-form-field fxFlex="40px">
        <input matInput type="number" formControlName="maxAge">
      </mat-form-field>
      <p>years old.</p>
    </div>

    <mat-form-field>
      <input formControlName="location" matInput placeholder="Location" type="text">
      <button type="button" (click)="filters.controls['location'].reset('')" *ngIf="filters.controls['location'].value"
              aria-label="Clear" mat-button
              mat-icon-button
              matSuffix>
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <!--<mat-form-field>-->
      <!--<mat-select formControlName="distance" placeholder="Distance">-->
        <!--<mat-option *ngFor="let distance of distances" [value]="distance.value">-->
          <!--{{distance.viewValue}}-->
        <!--</mat-option>-->
      <!--</mat-select>-->
    <!--</mat-form-field>-->

  </form>

  <div fxLayout="row" fxLayoutAlign="end end" style="margin-top: 16px" fxHide.gt-sm>
    <button type="button" mat-raised-button color="primary" (click)="applyFilters()">Apply Filters</button>
  </div>
</div>
