.filters{
  padding: 16px;
}

.divBtn {
  padding-bottom: 20px;
}

.multipleInputDiv {
  margin-top: -16px;
}

.ageInputs {
  mat-form-field {
    margin-top: -12px;
  }
}

.smallFontFilter {
  font-size: 0.9rem;
}
