<div fxLayout="column">
  <h2 class="mat-h1" style="margin-left: 16px">Search Businesses</h2>
  <mat-sidenav-container
    fxLayout="column"
    style="margin-top: 16px; min-height: 440px">

    <mat-sidenav #drawer
                 [autoFocus]="false"
                 [mode]="!isMobile() ? 'side' : 'over'"
                 [opened]="!isMobile()"
                 class="mat-typography">

      <app-filters-businesses></app-filters-businesses>

    </mat-sidenav>

    <mat-sidenav-content
      fxFlex="96%" fxFlex.gt-sm="75%"
      fxLayout="column"
      fxLayoutAlign="start stretch"
      fxLayoutGap="16px" fxLayoutGap.gt-sm="32px">

      <div
        fxLayout="row"
        fxLayoutAlign="center"
        fxLayoutGap="8px">
        <app-searchbar
          searchHint="Facebook..."
          (search)="onSearch($event)" fxFlex="40%" fxFlex.lt-lg="60%">
        </app-searchbar>
        <app-orderby-button (changeSelectedValue)="getOrderby($event)" [orderBy]="order"
                            style="padding-top: 4px"></app-orderby-button>
        <div style="padding-top: 4px">
          <button color="primary"
                  fxHide.gt-sm
                  mat-raised-button>
            <mat-icon (click)="drawer.toggle()" aria-label="Open filters" svgIcon="filter-list"></mat-icon>
          </button>
        </div>
      </div>

      <div *ngIf="!(adminState | async).businesses || (adminState | async).businesses.message === 'No results'"
           fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px">
        <h4 class="mat-h3">No results found.</h4>
        <p class="mat-typography">Your search returned no results. Try shortening or rephrasing your search.</p>
      </div>

      <div *ngIf="(adminState | async).businesses.message === 'No results but maybe this is interesting for you'"
           fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px">
        <h4 class="mat-h3">No results found.</h4>
        <p class="mat-typography">But maybe this is interesting for you</p>
      </div>


      <div *ngIf="(adminState | async).businesses" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px">
        <app-business-preview-card *ngFor="let user of (adminState | async).businesses.data;" [user]="user">
        </app-business-preview-card>
      </div>


      <mat-paginator (page)="pageEvent = $event;  changePage();" *ngIf="(adminState | async).businesses"
                     [length]="(adminState | async).businesses.total"
                     [pageSizeOptions]="pageSizeOptions"
                     [pageSize]="pageSize">
      </mat-paginator>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

