<mat-card fxFlex="100%" fxFlex.gt-xs="600px">
  <mat-card-header
    fxLayout="row"
    fxLayout.lt-sm="column"
    fxLayoutAlign="space-between">
    <mat-card-title
      [routerLink]="userUrl"
      style="cursor: pointer">
      {{user.name}}
    </mat-card-title>
    <mat-card-subtitle>
      <app-offerer-name-overview
        [index]="user.index"
        [name]="user.name"
        [routerLink]="urlfyPosition()"
        style="cursor: pointer">
      </app-offerer-name-overview>
    </mat-card-subtitle>
    <div
      class="quickInfo"
      fxFlexAlign="start start"
      fxLayout="row"
      fxLayoutGap="16px">
      <app-icon-with-text [text]="" icon="place"></app-icon-with-text>
      <app-icon-with-text [text]="" icon="access-time"></app-icon-with-text>
    </div>
  </mat-card-header>

  <mat-card-content>
    <img
      alt="Business Logo"
      src="https://cdn.vox-cdn.com/thumbor/Pkmq1nm3skO0-j693JTMd7RL0Zk=/0x0:2012x1341/1200x800/filters:focal(0x0:2012x1341)/cdn.vox-cdn.com/uploads/chorus_image/image/47070706/google2.0.0.jpg">
    <p>
      {{ (user.bio | slice:0:280) + "..." }}
    </p>
  </mat-card-content>

  <mat-card-actions
    fxLayout="row" fxLayout.lt-sm="column"
    fxLayoutAlign="end center"
    fxLayoutGap="24px" fxLayoutGap.lt-sm="16px">
    <div
      fxLayout="row"
      fxLayout.lt-sm="column"
      fxLayoutAlign="center center"
      fxLayoutGap="16px">
      <div fxLayout="row" fxLayoutGap="16px">
        <app-icon-with-text [text]="" icon="date-range"></app-icon-with-text>
        <app-icon-with-text [text]="" icon="work"></app-icon-with-text>
        <app-icon-with-text [text]="" icon="local-atm"></app-icon-with-text>
      </div>
      <div>
        <button [routerLink]="userUrl" color="accent" mat-button>{{'More Info' | uppercase }}</button>
        <button (click)="openShareDialog()" mat-icon-button>
          <mat-icon aria-label="Share user in social networks" color="accent" svgIcon="share"></mat-icon>
        </button>
      </div>
    </div>
  </mat-card-actions>

</mat-card>
