<div fxLayout="row" fxFlex="100%">
  <form [formGroup]="thirdFormGroup"
        fxFlex="85%"
        fxFlex.lt-lg="90%"
        fxFlex.lt-md="100%"
        fxFlexOffset="25%"
        fxFlexOffset.lt-lg="10%"
        fxFlexOffset.lt-md="0%"
        style="padding-right: 32px">
    <div *ngIf="(profilesState | async).candidate"
         fxFlex="100%"
         fxLayout="column"
         fxLayoutGap="8px">

      <div class="mat-h1" style="padding-top: 16px">My Profile</div>
      <p class="mat-h3">Complete your profile to increase your visibility and help you find the job you want!</p>

      <div fxLayout="row" fxFlex="100%">
        <div fxLayout="row" fxLayout.lt-md="column" fxFlex="100%">
          <div fxLayout="column" style="padding-bottom: 16px" fxFlex.lt-md="100%" fxFlex="192px">
            <h2>Profile picture</h2>
            <div fxLayout="column" fxLayout.lt-md="row">
              <label for="file_profile">
                <img
                  alt="default profile picture"
                  width="144px"
                  height="144px"
                  id="photo_profile"
                  [src]="(profilesState | async).candidate.img ?
                         apiURL + (profilesState | async).candidate.img :
                         '../../../../assets/img/defaultProfileImg.png'"/>
              </label>
              <div fxLayout="column" fxFlex="128px" style="margin-left: 8px">
                <label for="file_profile">
                  <button (click)="profile.click()" class="photo-buttons" color="primary" mat-raised-button
                          type="button">Upload photo
                  </button>
                </label>
                <input #profile (change)="previewFile($event)" accept="image/*"
                       formControlName="profile" id="file_profile" style="width: 0; height: 0;" type="file">
                <button (click)='previewFile(this.fileEvent)' [disabled]="! profile.value" class="photo-buttons"
                        color="primary" mat-raised-button
                        type="button">Crop again
                </button>
                <button (click)="deletePhoto()" class="photo-buttons" color="warn" mat-raised-button
                        type="button">Delete Photo
                </button>
              </div>
            </div>
          </div>
          <div fxLayout="column">
            <div fxLayout="column">
              <h2>Bio</h2>
              <mat-form-field>
                <textarea rows="5" formControlName="bio" matInput placeholder="Leave a comment"></textarea>
              </mat-form-field>
            </div>
            <div fxLayout="column">
              <h2>Social Media</h2>
              <p class="mat-h3">You can link your social media accouts to your profile. Just type your username</p>
              <div class="line1" fxLayout="column">
                <mat-form-field>
                  <input formControlName="twitter" matInput placeholder="Twitter username">
                  <mat-icon class="social-icons" color="primary" fontIcon="fa-twitter" fontSet="fab"
                            matPrefix></mat-icon>
                </mat-form-field>
              </div>
              <div class="line1" fxLayout="column">
                <mat-form-field>
                  <input formControlName="github" matInput placeholder="Github username">
                  <mat-icon class="social-icons" color="primary" fontIcon="fa-github" fontSet="fab"
                            matPrefix></mat-icon>
                </mat-form-field>
              </div>
              <div class="line1" fxLayout="column">
                <mat-form-field>
                  <input formControlName="linkedIn" matInput placeholder="LinkedIn username">
                  <mat-icon class="social-icons" color="primary" fontIcon="fa-linkedin-in" fontSet="fab"
                            matPrefix></mat-icon>
                </mat-form-field>
              </div>
              <div class="line1" fxLayout="column">
                <mat-form-field>
                  <input formControlName="telegram" matInput placeholder="Telegram username">
                  <mat-icon class="social-icons" color="primary" fontIcon="fa-telegram" fontSet="fab"
                            matPrefix></mat-icon>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--------------------------------------------------->
      <h2>Experience</h2>
      <p class="mat-h3">If you want to add an experience card, click on the "Add" button</p>
      <app-experience-forms (formReady)="formInitialized('experience', $event)"></app-experience-forms>
      <!--------------------------------------------------->
      <h2>Education</h2>
      <p class="mat-h3">If you want to add an education card, click on the "Add" button</p>
      <app-education-forms (formReady)="formInitialized('education', $event)"></app-education-forms>
      <!--------------------------------------------------->
      <h2>Skills:</h2>
      <p class="mat-h3">If you want to add a skill, write it and click on the "Add" button</p>
      <div fxLayout="row" fxLayoutGap="16px">
        <div formArrayName="skills" fxFlex="50%" fxLayout="column" fxLayoutGap="-16px">
          <mat-form-field *ngFor="let skill of formSkills.controls; let i =index;">
            <input (keyup.enter)='add_skill()'
                   [formControlName]="i"
                   class="form-control"
                   id="{{'skill'+i}}"
                   matInput type="text">


            <button (click)="deleteSkill(i)" *ngIf="this.formSkills.controls[i].value && this.formSkills.length-1!=i"
                    aria-label="Clear"
                    mat-button mat-icon-button matSuffix type="button">
              <mat-icon>close</mat-icon>
            </button>

            <button (click)="deleteSkill(i); add_skill()"
                    *ngIf="this.formSkills.controls[i].value && this.formSkills.length-1==i" aria-label="Clear"
                    mat-button mat-icon-button matSuffix type="button">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="divBtn" fxLayout="column" fxLayoutAlign="end">
          <button (click)=" add_skill()" mat-button type="button">
            Add
          </button>
        </div>
      </div>
      <!----------------------------------------->
      <h2>Languages:</h2>
      <p class="mat-h3">If you want to add a language card, click on the "Add" button</p>
      <div>
        <div fxFlex="99%" fxLayout="column" fxLayoutGap="16px">
          <div *ngIf="this.formLanguages.value" fxLayout="column" fxLayoutGap="16px">
            <div *ngFor="let language of formLanguages.controls; let j =index;" formArrayName="languages"
                 fxLayout="column"
                 fxLayoutGap="16px">
              <div [formGroupName]="j" fxFlex=80%; fxLayout="column">
                <mat-accordion>
                  <mat-checkbox #toggle [checked]="true" style="display: none"></mat-checkbox>
                  <mat-expansion-panel [(expanded)]="toggle.checked">
                    <mat-expansion-panel-header>
                      <mat-panel-title *ngIf="language">
                        <span *ngIf="language.value; else l">{{language.value}}</span>
                        <ng-template #l><span>Language</span></ng-template>
                      </mat-panel-title>
                      <mat-panel-description fxHide fxShow.gt-xs>
                        <span *ngIf="thirdFormGroup.get('languages').controls[j].controls.level; else p">
                          {{getProf(thirdFormGroup.get('languages').controls[j].controls.level.value)}}
                        </span>
                        <ng-template #p><span>Proficiency</span></ng-template>
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px" fxLayoutGap.xs="0">
                      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px" fxLayoutGap.xs="0">

                        <mat-form-field>
                          <input
                            #language
                            class="form-control"
                            formControlName="language"
                            matInput
                            placeholder="Language"
                            required type="text">
                          <mat-error
                            *ngIf="!thirdFormGroup.get('languages').controls[j].controls.language.valid">
                            Please enter a value
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px" fxLayoutGap.xs="0">
                        <mat-form-field>
                          <mat-select #level formControlName="level" placeholder="Proficiency" required>
                            <mat-option *ngFor="let level of proficiencies" [value]="level.value">
                              {{level.viewValue}}
                            </mat-option>
                          </mat-select>
                          <mat-error
                            *ngIf="!thirdFormGroup.get('languages').controls[j].controls.language.valid">
                            Please select a value
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                    <!--------------------------------------------------->
                    <div fxLayout="row"
                         fxLayoutAlign="end" fxLayoutGap="0"
                         fxLayoutGap.gt-sm="8px">
                      <div>
                        <button (click)="deleteLanguage(j)" color="warn" mat-button type="button">Delete</button>
                      </div>
                      <div>
                        <button (click)="toggle.checked=!onDoneLang(j)"
                                color="accent"
                                mat-button
                                type="button">Done
                        </button>
                      </div>

                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </div>
            <div class="divBtn" fxLayout="column" fxLayoutAlign="end">
              <button (click)="addLanguage();" mat-button type="button">
                Add
              </button>
            </div>
          </div>
        </div>
      </div>
      <!----------------------------------------->
      <div fxLayout="row" fxLayoutAlign="end">
        <button (click)="onSaveOptional()" color="accent" mat-raised-button type="button">Done</button>
      </div>
    </div>
  </form>
</div>
