<mat-card
  *ngIf="offer.img"
  fxFlex="100%" fxFlex.gt-md="712px" fxFlex.gt-sm="656px" fxFlex.gt-xs="600px">
  <mat-card-header
    fxLayout="row"
    fxLayout.lt-sm="column"
    fxLayoutAlign="space-between">
    <mat-card-title
      [routerLink]="'/offer/' + offer.id + '/' + offer.title"
      fxFlex="100%"
      fxLayout="row"
      style="cursor: pointer">
      {{offer.title}}
    </mat-card-title>
    <div
      class="quickInfo"
      fxFlexAlign="start start"
      fxLayout="row"
      fxLayoutGap="16px">
      <app-icon-with-text [text]="offer.location" icon="place"></app-icon-with-text>
      <app-icon-with-text [text]="offer.dateStart | date" icon="access-time"></app-icon-with-text>
    </div>
  </mat-card-header>

  <mat-card-content *ngIf="(store$ | async).profiles && (store$ | async).profiles.candidate" style="margin-bottom: 8px">
    <div fxFlex="100%" fxLayout="column" style="margin-top: 16px">
      <div fxFlex="100%"
           fxLayout="row"
           fxLayoutAlign="center center"
           fxLayoutGap="8px" fxLayoutGap.gt-sm="112px" fxLayoutGap.gt-xs="64px">
        <div fxLayout="column">
          <div fxFlex="100%" fxLayoutAlign="center center">
            <img
              [src]="apiURL + offer.img"
              alt="Business Logo"
              height="88px"
              width="88px">
          </div>
          <app-offerer-name-overview
            [businessIndexBreakdown]="offer.avg"
            [index]="offer.offererIndex"
            [name]="offer.offererName"
            [routerLink]="'/business/' + offer.fk_offerer + '/' + offer.offererName"
            style="cursor: pointer">
          </app-offerer-name-overview>
        </div>
        <mat-icon color="primary" svgIcon="handshake"></mat-icon>
        <div fxLayout="column">
          <div fxFlex="100%" fxLayoutAlign="center center">
            <img
              [src]=" (store$ | async).profiles.candidate.img ?
              apiURL + (store$ | async).profiles.candidate.img
              : '../../../../../assets/img/defaultProfileImg.png'"
              alt="Profile Picture"
              height="88px"
              style="object-fit: cover"
              width="88px">
          </div>
          <app-offerer-name-overview
            [candidateIndexBreakdown]="(store$ | async).profiles.candidate.avg"
            [index]="(store$ | async).profiles.candidate.index"
            [name]="(store$ | async).profiles.candidate.name">
          </app-offerer-name-overview>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
