<mat-accordion fxFlex="99%">
  <mat-expansion-panel *ngFor="let user of users">
    <mat-expansion-panel-header>
      <mat-panel-title fxLayoutAlign="start center" fxFlex="75%" fxFlex.gt-sm="40%" fxFlex.gt-md="35%" fxFlex.gt-lg="30%">
        <app-offerer-name-overview [index]="user.index" [name]="user.fullname"></app-offerer-name-overview>
      </mat-panel-title>
      <mat-panel-description
        fxLayout="row" fxFlex="25%" fxFlex.gt-sm="75%">
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="60%" fxFlex.md="75%" fxShow.gt-sm fxHide>
          <mat-icon class="svg" color="primary" svgIcon="email"></mat-icon>
          <span>{{user.email}}</span>
        </div>
        <div fxFlex.gt-sm="2%" fxFlex="0"></div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="40%" fxShow.gt-lg fxHide>
          <mat-icon class="svg" color="primary" svgIcon="access-time"></mat-icon>
          <span>{{user.lastAccess | date:'d/M/y, HH:mm'}}</span>
        </div>
        <div fxFlex.gt-sm="5%" fxFlex="0"></div>
        <mat-chip-list fxLayoutAlign="start center" fxShow.gt-sm fxHide>
          <mat-chip style="pointer-events: none" color="primary" selected>{{user.state | titlecase}}</mat-chip>
        </mat-chip-list>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap="0" fxLayoutGap.gt-sm="24px">
      <p class="mat-body" fxFlex="50%">
        <span class="mat-small">{{'Full name' | uppercase}}</span>
        <br>
        {{user.fullname}}
      </p>
      <p class="mat-body" fxFlex="50%">
        <span class="mat-small">{{'Email' | uppercase}}</span>
        <br>
        {{user.email}}
      </p>
    </div>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="0" fxLayoutGap.gt-sm="24px">
      <div class="mat-body" fxLayout="row" fxLayoutGap="24px" fxFlex="100%" fxFlex.gt-sm="50%">
        <p>
          <span class="mat-small">{{'Account State' | uppercase}}</span>
          <br>
          {{user.state | titlecase}}
        </p>
        <p>
          <span class="mat-small">{{'Subscription' | uppercase}}</span>
          <br>
          {{user.subscription | titlecase}}
        </p>
      </div>
      <div class="mat-body" fxLayout="row" fxLayoutGap="24px" fxFlex="100%" fxFlex.gt-sm="50%">
        <p>
          <span class="mat-small">{{'Last Access Time' | uppercase}}</span>
          <br>
          {{user.lastAccess | date:'d/M/y, HH:mm' | titlecase}}
        </p>
        <p>
          <span class="mat-small">{{'Sign Up time' | uppercase}}</span>
          <br>
          {{user.signupDate | date:'d/M/y, HH:mm' | titlecase}}
        </p>
      </div>
    </div>
    <br>
    <div fxLayout="row" fxLayoutGap="0" fxLayoutGap.gt-sm="8px" fxLayoutAlign="end">
      <button mat-button color="primary">More Info</button>
      <button mat-button color="primary">View Log</button>
      <button mat-button color="accent">Edit</button>
      <button mat-button color="warn">Delete</button>
    </div>
  </mat-expansion-panel>
</mat-accordion>
