<div fxLayout="row" *ngIf="(adminState | async).candidates && (adminState | async).candidates.data">
  <mat-accordion fxFlex="99%">
    <mat-expansion-panel
      (closed)="isPanelOpen = !isPanelOpen; isInEditMode = false; userForm.reset()"
      (opened)="isPanelOpen = !isPanelOpen;"
      *ngFor="let user of (adminState | async).candidates.data;" [formGroup]="userForm">
      <mat-expansion-panel-header>
        <mat-panel-title fxFlex="75%"
                         fxFlex.gt-lg="30%" fxFlex.gt-md="35%" fxFlex.gt-sm="40%" fxLayoutAlign="start center">
          <app-offerer-name-overview
            [index]="user.index? user.index: 88"
            [candidateIndexBreakdown]="user.avg"
            [name]="user.name">
          </app-offerer-name-overview>
        </mat-panel-title>
        <mat-panel-description
          fxFlex="25%"
          fxFlex.gt-sm="75%" fxLayout="row"
          fxLayoutAlign="space-between center">
          <div fxFlex="60%"
               fxFlex.md="75%"
               fxHide fxLayout="row"
               fxLayoutAlign="start center" fxShow.gt-sm>
            <mat-icon class="svg" color="primary" svgIcon="email"></mat-icon>
            <span>{{user.email}}</span>
          </div>
          <div fxFlex="40%"
               fxHide
               fxLayout="row"
               fxLayoutAlign="start center" fxShow.gt-lg>
            <mat-icon class="svg" color="primary" svgIcon="access-time"></mat-icon>
            <span>{{user.lastAccess| date:'d/M/y, HH:mm'}}</span>
          </div>
          <div fxLayout="row">
            <button (click)="edit(user)" color="accent" mat-button>Edit</button>
            <button (click)="callAlertDialogDelete(user.id)" color="warn" mat-button>Delete</button>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div fxLayout="column" fxLayout.gt-sm="row"
           fxLayoutGap="0" fxLayoutGap.gt-sm="24px">
        <div class="mat-body" fxFlex="50%">
          <span class="mat-small">{{'Full name' | uppercase}}</span>
          <br>
          <div *ngIf="!isInEditMode || !isPanelOpen">
            {{user.name}}
          </div>
          <div *ngIf="isInEditMode && isPanelOpen">
            <mat-form-field>
              <label>
                <input [value]="user.name" formControlName="name" matInput>
              </label>
              <mat-error *ngIf="!userForm.get('name').valid">
                This field is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="mat-body" fxFlex="50%">
          <span class="mat-small">{{'Email' | uppercase}}</span>
          <br>
          <div *ngIf="!isInEditMode || !isPanelOpen">
            {{user.email}}
          </div>
          <div *ngIf="isInEditMode && isPanelOpen">
            <mat-form-field>
              <label>
                <input [value]="user.email" formControlName="email" matInput>
              </label>
              <mat-error *ngIf="!userForm.get('email').valid">
                Please enter a valid email
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div *ngIf="isInEditMode && isPanelOpen"
           fxLayout="column" fxLayout.gt-sm="row"
           fxLayoutGap="0" fxLayoutGap.gt-sm="24px">
        <div class="mat-body">
          <span class="mat-small">{{'Password' | uppercase}}</span>
          <br>
          <mat-form-field>
            <label>
              <input formControlName="password" matInput type="password">
            </label>
            <mat-error *ngIf="!userForm.get('password').valid">
              Password must be 6 characters or more
            </mat-error>
          </mat-form-field>
        </div>
        <div class="mat-body">
          <span class="mat-small">{{'Repeat Password' | uppercase}}</span>
          <br>
          <mat-form-field>
            <label>
              <input formControlName="password2" matInput type="password">
            </label>
            <mat-error *ngIf="!userForm.get('password2').valid">
              Passwords do not match
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="column" fxLayout.gt-sm="row"
           fxLayoutGap="0" fxLayoutGap.gt-sm="24px">
        <div [fxLayout]="(isInEditMode && isPanelOpen) ? 'column': 'row'"
             class="mat-body" fxFlex="100%"
             fxFlex.gt-sm="50%"
             fxLayout.gt-sm="row" fxLayoutGap="24px">
          <div>
            <span class="mat-small">{{'Account State' | uppercase}}</span>
            <br>
            <div *ngIf="!isInEditMode || !isPanelOpen">
              {{ states[user.status].viewValue| titlecase}}
            </div>
            <div *ngIf="isInEditMode && isPanelOpen">
              <mat-form-field>
                <mat-select [(value)]="user.status" formControlName="accountState">
                  <mat-option *ngFor="let state of states" [value]="state.value">
                    {{state.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div *ngIf="subscriptions && user && user.premium && subscriptions[user.premium]">
            <span class="mat-small">{{'Subscription' | uppercase}}</span>
            <br>
            <div *ngIf="!isInEditMode || !isPanelOpen">
              {{subscriptions[user.premium].viewValue | titlecase}}
            </div>
            <div *ngIf="isInEditMode && isPanelOpen">
              <mat-form-field>
                <mat-select [(value)]="user.premium" formControlName="premium">
                  <mat-option *ngFor="let subscription of subscriptions" [value]="subscription.value">
                    {{subscription.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div *ngIf="!isInEditMode || !isPanelOpen"
             class="mat-body"
             fxFlex="100%"
             fxFlex.gt-sm="50%"
             fxLayout="row" fxLayoutGap="24px">
          <p>
            <span class="mat-small">{{'Last Access Time' | uppercase}}</span>
            <br>
            {{user.lastAccess | date:'d/M/y, HH:mm' | titlecase}}
          </p>
          <p>
            <span class="mat-small">{{'Sign Up time' | uppercase}}</span>
            <br>
            {{user.createdAt | date:'d/M/y, HH:mm' | titlecase}}
          </p>
        </div>
      </div>
      <br>
      <div fxLayout="row"
           fxLayoutAlign="end" fxLayoutGap="0"
           fxLayoutGap.gt-sm="8px">
        <button color="primary" mat-button>More Info</button>
        <button color="primary" mat-button>View Log</button>
        <div *ngIf="!isInEditMode || !isPanelOpen">
          <button (click)="edit(user)" color="accent" mat-button>Edit</button>
        </div>
        <div *ngIf="isInEditMode && isPanelOpen">
          <button (click)="callAlertDialogUpdate(user.id)" color="accent" mat-button type="submit">Done</button>
        </div>
        <button (click)="callAlertDialogDelete(user.id)" color="warn" mat-button>Delete</button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<mat-paginator [length]="(adminState | async).candidates.total"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               (page)="pageEvent = $event; changepage();">
</mat-paginator>

