@import "~src/common-utils";
@import '../../../../node_modules/@angular/material/theming';

* {
  font-family: IBM Plex Sans, sans-serif;
}

mat-icon{
  height: 14px;
  width: 14px;
  margin-right: 4px;
}

.iconData p {
  margin-top: 4px;
  margin-bottom: 4px;
}

/* mat-icon ::ng-deep svg {
  width: 75%;
  height: 75%;
  align-self: center;
} */

#offerBubble{
  z-index: 200;
  color: black;
  background: white;
  text-align: center;
  position: absolute;
  width: 30%;
  min-width: 270px;
  height: 10%;
  min-height: 80px;
  left: 0;
  right: 0;
  top: -55%;
  bottom: 0;
  margin: auto;
  border-radius: 5px;
  cursor: pointer;
}

#offerBubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: white;
  border-bottom: 0;
  margin-left: -20px;
  margin-bottom: -20px;
}

#companyLogo{
  object-fit: cover;
  border-radius: 2px;
}

.nameIndex div{
  background: mat-color($mat-teal, A400);
  color: white;
  border-radius: 2px;
  height: 16px;
  width: 18px;
  text-align: center;
  font-size: 12px;
}

.nameIndex p{
  margin-left: 4px;
  font-size: 12px;
  margin-top: 3px;
  margin-bottom: 3px;
}
