mat-sidenav-container {
  background-color: white;
  margin-top: -16px;
  padding-top: 16px;
  min-height: 90vh;
}

mat-sidenav {
  width: 212px;

  .container {
    padding: 16px;
  }
}


mat-sidenav-content {
  padding: 0 8px;
  height: 100%;

  button {
    height: 40px;
  }
}

mat-sidenav h3 {
  margin-bottom: 4px;
}
