mat-sidenav-container {
  background-color: white;
  margin-top: -16px;
  padding-top: 16px;
  height: 100%;
}

mat-sidenav {
  width: 352px;

  .container {
    padding: 16px;
  }
}


mat-sidenav-content {
  padding: 0 8px;
}

mat-sidenav h3 {
  margin-bottom: 4px;
}
