<div fxLayoutAlign.lt-sm="center center">
  <div fxFlex="96%"
       fxFlex.gt-sm="75%"
       fxFlexOffset.gt-xs="16px"
       fxLayout="column"
       fxLayoutGap="16px">
    <app-searchbar></app-searchbar>
    <app-offer-preview-card *ngFor="let offer of (offersState | async).offers.data;" [offer]="offer">
    </app-offer-preview-card>
    <mat-paginator [length]="(offersState | async).offers.total"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   (page)="pageEvent = $event; changePage();">
    </mat-paginator>
  </div>
</div>

